n8n_Workflow/数据分析Agent (1).json
{
  "name": "数据分析Agent",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 1280,
        "width": 4816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        -64
      ],
      "id": "bb90c21f-dc46-4808-9b96-45378fffa40a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nlet userText = '';\n\ntry {\n  // 1. 获取飞书传来的原始 content 字符串并解析为 JSON 对象\n  const rawContent = body?.event?.message?.content || '{}';\n  const parsedContent = JSON.parse(rawContent);\n\n  // 2. 智能判断消息类型并提取文本\n  if (parsedContent.text) {\n    // 形态 A：普通纯文本消息\n    userText = parsedContent.text;\n  } else if (parsedContent.content && Array.isArray(parsedContent.content)) {\n    // 形态 B：富文本/带换行的消息 (Post 类型)\n    let extractedTexts = [];\n    \n    // 遍历飞书的富文本嵌套数组，把所有 tag 为 text 的内容抠出来\n    parsedContent.content.forEach(paragraph => {\n      if (Array.isArray(paragraph)) {\n        paragraph.forEach(element => {\n          // 剔除掉 @机器人的文本，只保留实际文字\n          if (element.tag === 'text' && element.text) {\n            extractedTexts.push(element.text);\n          }\n        });\n      }\n    });\n    // 把所有文字片段拼装回一段完整的长文本\n    userText = extractedTexts.join('');\n  }\n} catch (e) {\n  // 兜底方案：如果解析彻底失败，直接强行塞入原始字符\n  userText = body?.event?.message?.content || '';\n}\n\n// 去除首尾多余空格\nuserText = userText.trim();\n\n// 3. 提取其他必要参数 (群ID和追踪ID)\n// 这里的默认群ID作为本地测试的兜底保障\nconst chatId = body?.event?.message?.chat_id || 'YOUR_CHAT_ID';\nconst traceId = `${Date.now()}-${Math.random().toString(16).slice(2, 8)}`;\n\n// 4. 将处理好的数据打包传给下一个节点\nreturn {\n  json: {\n    ...$json,\n    userText: userText,\n    chatId: chatId,\n    traceId: traceId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1792
      ],
      "id": "060ce1c3-6421-4a15-ab0b-63d219bdf175",
      "name": "任务预处理"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userText }}",
        "options": {
          "systemMessage": "=# Role\n你是 Supervisor Agent，只负责任务拆解与路由，不直接进行 SQL 查询。\n\n# Input\n用户问题：{{ $json.userText }}\n系统时间：{{ $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\n\n# Output Rule\n你必须只输出一个 JSON 对象，禁止输出 Markdown 或解释文字。格式如下：\n{\n  \"route\": \"sql_analysis 或 direct_reply\",\n  \"reason\": \"一句话说明路由原因\",\n  \"needChart\": true,\n  \"needExcel\": false,\n  \"sqlFocus\": \"如果是 sql_analysis，写查询重点；否则为空字符串\"\n}\n\n# Routing Policy\n1. 需要查数据库/统计/趋势/对比/ROI/GMV 等分析任务 -> route=sql_analysis\n2. 寒暄、解释流程、非数据问题、权限外问题 -> route=direct_reply\n3. 如果用户意图不清晰但明显偏数据分析，也优先 sql_analysis\n4. 严格保证输出是合法 JSON。",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        1792
      ],
      "id": "08991ee2-bf49-4346-be12-1727989e833f",
      "name": "Supervisor Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\n\nconst defaultPlan = {\n  route: 'sql_analysis',\n  reason: '默认进入数据分析路径',\n  needChart: true,\n  needExcel: false,\n  sqlFocus: ''\n};\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = defaultPlan;\n}\n\nconst route = parsed.route === 'direct_reply' ? 'direct_reply' : 'sql_analysis';\n\nreturn {\n  json: {\n    ...$input.first().json,\n    routePlan: {\n      ...defaultPlan,\n      ...parsed,\n      route\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1792
      ],
      "id": "e5c38deb-52c5-4e8b-8c60-8515eec38d31",
      "name": "解析路由结果"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6756802f-e3b6-41ba-8981-cf07d75717c7",
                    "leftValue": "={{ $json.routePlan.route }}",
                    "rightValue": "sql_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "数据分析分支"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01718517-6f11-493d-88ff-4d86e3479eca",
                    "leftValue": "={{ $json.routePlan.route }}",
                    "rightValue": "direct_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "直接回复分支"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        928,
        1792
      ],
      "id": "6ff52588-4ff2-44b5-9e3b-0db75053de6e",
      "name": "任务路由"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `用户问题：${$json.userText}\\n路由信息：${JSON.stringify($json.routePlan || {})}` }}",
        "options": {
          "systemMessage": "=你是 Direct Reply Agent。处理无需数据库查询的问题。\n\n规则：\n1. 用简洁中文回复用户。\n2. 如果用户问题属于数据分析请求，提醒“我将转入数据分析流程”，并给出可执行的提问示例。\n3. 禁止虚构数据库结果。\n4. 输出不要包含 SQL 代码块。",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        1520
      ],
      "id": "5948d151-1d56-4262-8a6d-101c7bbffd10",
      "name": "Direct Reply Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `用户问题：${$json.userText || ''}\\n路由计划：${JSON.stringify($json.routePlan || {})}\\n\\n数据分析初稿：\\n${$json.output || ''}` }}",
        "options": {
          "systemMessage": "=你是 报告增强 Agent，负责把数据分析初稿打磨成“可直接发飞书卡片”的成品报告。\n\n硬性要求：\n1. 必须输出中文报告，结构至少包含：\n- 一句话结论\n- 核心指标总览\n- 关键洞察（不少于3条）\n- 异常/风险提示\n- 可执行建议（按优先级）\n2. 必须包含至少一个 Markdown 表格（|---|---|）。\n3. 若内容涉及趋势或对比，在末尾必须输出一个 Chart.js 配置代码块：```json ... ```。\n4. 必须在末尾包含一个核心指标的JSON数组：```excel_data ... ```，用于导出 Excel。\n5. 禁止输出 SQL 代码块；禁止解释你遵循了哪些规则。\n6. 飞书兼容：所有加粗必须成对闭合，避免孤立 **。\n7. 绝对不允许虚构不存在的数据和内容。\n\n如果初稿数据不足，允许在“风险提示”中明确说明，并在 excel_data 中返回空数组 []。",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        2048
      ],
      "id": "5a0b65e0-e1e2-4c42-bb2e-deb6ca3657a1",
      "name": "报告增强 Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `路由计划：${JSON.stringify($json.routePlan || {})}\\n\\n待审阅内容：\\n${$json.output || ''}` }}",
        "options": {
          "systemMessage": "=你是 QA Agent，负责统一输出质量。\n\n规则：\n1. 保留核心结论，不篡改数据数值。\n2. 修复 Markdown 可读性，确保飞书可渲染。\n3. 如果包含 ```json 图表配置，必须是严格 JSON；否则修复图表配置参数，避免后续流程报错。\n4. 如果包含 ```excel_data 代码块，必须是合法 JSON 数组；否则替换为 ```excel_data\\n[]\\n```。\n5. 结果只输出最终内容本体，不要解释你做了什么。\n6. 绝对不允许虚构不存在的数据和内容。",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1968,
        1792
      ],
      "id": "3b78c3ea-dc46-4684-9466-16fade72887c",
      "name": "QA Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feishu-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        1696
      ],
      "id": "9350c1fd-09ef-4bd6-8d4b-d7f20186c379",
      "name": "Webhook1",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "656245cb-9cf1-496a-a26f-0866ba4c1327",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        1696
      ],
      "id": "37ecbe22-1535-41f4-a2cd-251f0e037266",
      "name": "If1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('查询响应').first().json.body.event.message.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        2288
      ],
      "id": "c3f878a7-8e74-418a-9022-e7f8b4883513",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        2288
      ],
      "id": "dfcb218f-5100-4778-a671-2688a0d48496",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "用于执行 MySQL 查询以获取电商数据。可用表包括：`dwd_电商数据_宽表` (电商平台的订单数据)、`dwd_千川素材h_中间表` (巨量千川素材投放数据)、`ads_直播素材_m分摊表` （直播+投放+订单数据）。在执行查询前，请先参考系统提示词中的 DDL 结构，并且所有字段（包括函数内部）必须使用反引号（`）将其完整包裹。",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        1392,
        2288
      ],
      "id": "50104422-02aa-4e72-a58d-563e6ba4e2dc",
      "name": "Execute a SQL query in MySQL1",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "YOUR_MYSQL_CREDENTIAL_ID",
          "name": "YOUR_MYSQL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "={{ $('任务预处理').first().json.chatId || 'YOUR_CHAT_ID' }}",
        "content": "={{ JSON.stringify({\n  \"config\": { \"wide_screen_mode\": true },\n  \"header\": {\n    \"title\": { \"tag\": \"plain_text\", \"content\": \"📊 智能数据中台洞察\" },\n    \"template\": \"blue\"\n  },\n  \"elements\": [\n    {\n      \"tag\": \"div\",\n      \"text\": {\n        \"tag\": \"lark_md\",\n        \"content\": $node[\"分离文本和图表1\"].json[\"cleanText\"]\n      }\n    }\n  ]\n}) }}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2768,
        1888
      ],
      "id": "fbc42362-7e95-4d37-a7a0-41e2c76f76bd",
      "name": "飞书推送数据分析结果2",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "YOUR_FEISHU_CREDENTIAL_ID",
          "name": "YOUR_FEISHU_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.output || '';\nlet cleanText = rawText;\n\nlet chartJson = null;\nlet hasChart = false;\nlet excelData = [];\nlet hasExcel = false;\n\nconst excelRegex = /```(?:excel_data)\\s*([\\s\\S]*?)(?:```|$)/i;\nconst excelMatch = cleanText.match(excelRegex);\nif (excelMatch && excelMatch[1]) {\n  cleanText = cleanText.replace(excelMatch[0], '').trim();\n  try {\n    const parsedExcel = JSON.parse(excelMatch[1].trim());\n    if (Array.isArray(parsedExcel)) {\n      excelData = parsedExcel;\n      hasExcel = parsedExcel.length > 0;\n    }\n  } catch (e) {\n    console.log('Excel 数据格式错误，解析失败:', e.message);\n  }\n}\n\nconst chartRegex = /```(?:json|JSON)\\s*([\\s\\S]*?)(?:```|$)/;\nconst chartMatch = cleanText.match(chartRegex);\nif (chartMatch && chartMatch[1]) {\n  cleanText = cleanText.replace(chartMatch[0], '').trim();\n  try {\n    const parsedChart = JSON.parse(chartMatch[1].trim());\n    if (parsedChart && typeof parsedChart === 'object' && !Array.isArray(parsedChart)) {\n      chartJson = parsedChart;\n      hasChart = true;\n    }\n  } catch (e) {\n    console.log('图表 JSON 格式错误，解析失败:', e.message);\n  }\n}\n\ncleanText = cleanText.replace(/###?\\s*[四五六七八九]?[、\\.]?(可视化分析|图表展示|数据明细).*$/gm, '').trim();\n\nreturn {\n  json: {\n    cleanText,\n    chartJson,\n    hasChart,\n    excelData,\n    hasExcel\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1792
      ],
      "id": "8a0fb11a-c575-470a-bfe7-ba0f5bf37bed",
      "name": "分离文本和图表1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"version\": \"4\",  // ⚠️ 极其关键：强制唤醒 QuickChart 的现代渲染引擎！\n    \"width\": 800,\n    \"height\": 400,\n    \"backgroundColor\": \"white\",\n    \"chart\": $('图片生成判断1').first().json.chartJson\n  }\n}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3216,
        1600
      ],
      "id": "9fe9312a-25d6-4cc0-a445-118f51588255",
      "name": "生成图片1"
    },
    {
      "parameters": {
        "resource": "auth",
        "operation": "auth:getAccessToken"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2992,
        1600
      ],
      "id": "bab88486-cf64-4484-b7df-0e5cc7bd9d39",
      "name": "获取授权token2",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "YOUR_FEISHU_CREDENTIAL_ID",
          "name": "YOUR_FEISHU_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取授权token2').first().json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data; boundary=---7MA4YWxkTrZu0gW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3440,
        1600
      ],
      "id": "d2394683-4642-4e71-8dfc-9e6a9926c974",
      "name": "上传图片1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25031cef-ecd2-41bb-aa07-c7e467096a7c",
              "leftValue": "={{ $json.hasChart }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3c17589c-6698-4ef1-8689-bd6009d0d1d1",
              "leftValue": "={{ $json.hasExcel }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2544,
        1792
      ],
      "id": "ae59931d-87d8-4aa6-8439-e5461b71b54c",
      "name": "图片生成判断1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "={{ $('任务预处理').first().json.chatId || 'YOUR_CHAT_ID' }}",
        "msg_type": "interactive",
        "content": "={{\n  (function() {\n    // 1. 【防空处理】获取核心数据，如果为空则赋予默认值\n    const textData = $node[\"分离文本和图表1\"].json[\"cleanText\"] || \"数据处理中，未返回分析文本。\";\n    const excelData = $node[\"分离文本和图表1\"].json[\"excelData\"] || [];\n    \n    // 【防空处理】获取图片 Key。因为有可能没画图，如果节点不存在或没执行，用 try-catch 防止整个表达式崩溃\n    let imageKey = null;\n    try {\n        // 注意：这里的 '上传图片' 请替换为你实际将图表传给飞书并获取 image_key 的那个节点名称\n        imageKey = $node[\"上传图片1\"].json[\"data\"][\"image_key\"];\n    } catch(e) {\n        imageKey = null; \n    }\n\n    // 2. 基础组件：先放入“文字分析”\n    let elements = [\n      {\n        \"tag\": \"div\",\n        \"text\": { \"tag\": \"lark_md\", \"content\": textData }\n      }\n    ];\n\n    // 3. 智能注入：如果有图表（image_key），就在文字下面追加“图片组件”\n    if (imageKey) {\n        elements.push({\n            \"tag\": \"img\",\n            \"img_key\": imageKey,\n            \"alt\": { \"tag\": \"plain_text\", \"content\": \"数据可视化图表\" },\n            \"mode\": \"fit_horizontal\",\n            \"preview\": true\n        });\n    }\n\n    // 4. 智能注入：如果有明细数据（excelData），就在最下方追加“原生表格组件”\n    if (Array.isArray(excelData) && excelData.length > 0) {\n       // 提取表头\n       const keys = Object.keys(excelData[0]);\n       const columns = keys.map(key => ({\n           \"name\": key,\n           \"display_name\": key,\n           \"data_type\": \"text\" // 统一转为 text，防止飞书解析格式报错\n       }));\n       \n       // 【防空处理】遍历数据行，把所有 null 或数字强转为字符串，防止飞书渲染崩溃\n       const rows = excelData.map(row => {\n           let safeRow = {};\n           for(let k in row) safeRow[k] = String(row[k] || \"\");\n           return safeRow;\n       });\n\n       // 增加一条优雅的华丽分割线\n       elements.push({ \"tag\": \"hr\" });\n       \n       // 放入自带翻页功能的表格\n       elements.push({\n           \"tag\": \"table\",\n           \"page_size\": 10, // 每页 5 行，自带翻页按钮\n           \"row_height\": \"low\",\n           \"header_style\": {\n               \"bold\": true,\n               \"lines\": 1\n           },\n           \"columns\": columns,\n           \"rows\": rows\n       });\n    }\n\n    // 5. 组装终极飞书 V2 卡片\n    return JSON.stringify({\n      \"schema\": \"2.0\",\n      \"config\": { \"update_multi\": true, \"wide_screen_mode\": true },\n      \"header\": {\n        \"title\": { \"tag\": \"plain_text\", \"content\": \"📊 智能数据中台洞察\" },\n        \"template\": \"blue\"\n      },\n      \"body\": {\n         \"direction\": \"vertical\",\n         \"elements\": elements\n      }\n    });\n  })()\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        3664,
        1600
      ],
      "id": "50ff7509-40fe-4e9e-87a1-ac016d4e0a63",
      "name": "飞书推送数据分析结果3",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "YOUR_FEISHU_CREDENTIAL_ID",
          "name": "YOUR_FEISHU_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('图片生成判断1').first().json.excelData || [];\nif (!Array.isArray(data) || data.length === 0) {\n  return [];\n}\nreturn data.map((row) => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        1792
      ],
      "id": "d235634a-399c-43f2-b69a-0d9f7534f15c",
      "name": "分离表格数据1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "数据明细.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3440,
        1792
      ],
      "id": "7f3f185b-81b3-43cf-839b-cb753b9fa837",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasChart }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d87d4120-51d3-4f5e-ba30-2a800a9aa556"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "画图分支"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6c5a17ba-b400-479b-98f2-0557ac093254",
                    "leftValue": "={{ $json.hasExcel }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "表格分支"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2768,
        1696
      ],
      "id": "4689bbb6-5a4b-473b-81ff-c17ac0c715ec",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取授权token3').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "stream"
            },
            {
              "name": "file_name",
              "value": "=数据明细.xlsx"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3664,
        1792
      ],
      "id": "b84edd3e-d7be-4e6d-aca2-aeeecb4305ae",
      "name": "上传表格文件1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "={{ $('任务预处理').first().json.chatId || 'YOUR_CHAT_ID' }}",
        "msg_type": "file",
        "content": "={\n  \"file_key\": \"{{ $json.data.file_key }}\"\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        3888,
        1792
      ],
      "id": "e1338de4-8849-4ed8-be82-50ad7ca4acec",
      "name": "飞书推送文件1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "YOUR_FEISHU_CREDENTIAL_ID",
          "name": "YOUR_FEISHU_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "content": "# **Multi-Agent Workflow**\n## 模型选用\n- qwen-plus3.5：兼具准确与业务洞察和分析完整性，性价比高\n- qwen-plus：3.5版本的次替代，但是准确性偶尔会出问题，资料库时间还在24年，text-to- SQL复杂场景容易报语法错误\n- qwen-max/GLM5.0：准确性更高业务分析完整，但是费用更高\n\n## prompt优化\n- 时间幻觉：通过js代码传入当前系统时间作为基准时间；\n- SQL语法：\n## 后续拓展+优化\n把后面的工作流节点换成tools节点接到agent？\n生成jupyter脚本，上传服务器跑完回传分析报告？",
        "height": 1360,
        "width": 4784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        1376
      ],
      "id": "046aee18-e176-4f0c-a7d1-d7e011dcbaaf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "auth",
        "operation": "auth:getAccessToken"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2992,
        1792
      ],
      "id": "fe2320e1-997b-4f18-9c39-41c1701046a2",
      "name": "获取授权token3",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "YOUR_FEISHU_CREDENTIAL_ID",
          "name": "YOUR_FEISHU_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-max",
          "mode": "list",
          "cachedResultName": "qwen-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        2000
      ],
      "id": "ad3ddc3e-d584-4de0-999c-19a13767677d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1648,
        2288
      ],
      "id": "9f9ca163-c304-4a32-ba92-34f4bb1593d7",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1952,
        2032
      ],
      "id": "c5ebf11e-8134-4c26-85d9-e0f4ddbc4f07",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        1728
      ],
      "id": "d11dac63-9226-4775-b945-f2b24ace2bfb",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        1600
      ],
      "id": "0416a7b5-7847-4aea-a11c-4755a5defc99",
      "name": "查岗响应"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\":\"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        1792
      ],
      "id": "a25dfd82-9211-4eed-8e2e-93c422d7f90e",
      "name": "查询响应"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n  (function() {\n    try {\n      let userText = \"\";\n      \n      // 1. 安全获取【任务预处理】的内容 (注意必须加 .first())\n      const preProcessNode = $('任务预处理').first();\n      if (preProcessNode && preProcessNode.json.userText) {\n         userText = preProcessNode.json.userText;\n      } \n      // 2. 如果没获取到，回退找原始 Webhook 的消息 \n      // ⚠️ 注意：请确保你画布最开头的触发节点真的叫 Webhook1，如果不是请改名\n      else {\n         const rawContent = $('Webhook1').first().json.body.event.message.content;\n         userText = JSON.parse(rawContent).text;\n      }\n\n      // 3. 安全获取当前节点的 routePlan\n      // 用 JSON.stringify(..., null, 2) 还能让输出带缩进，好看一万倍\n      const routePlan = $json.routePlan ? JSON.stringify($json.routePlan, null, 2) : '{}';\n\n      // 4. 返回拼接结果\n      return `用户问题: ${userText}\\n调度计划: ${routePlan}`;\n      \n    } catch (error) {\n      // 终极防崩溃：如果上面任何一步写错了，直接把错误原因打印出来！\n      return `⚠️ 解析过程发生错误: ${error.message}`;\n    }\n  })()\n}}",
        "options": {
          "systemMessage": "=# Role\n\n你是一个资深电商数据中台专家。你负责通过 SQL 访问阿里云 RDS 实例上的 `ads` 和 `dwd` 两个数据库，进行直播与电商数据的关联分析。\n\n【系统当前时间】：{{ $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\n⚠️ 时间铁律：当用户提问中包含“今天”、“本月”、“最近7天”等相对时间词汇时，你必须严格以上述【系统当前时间】为基准进行推算和查库！绝对禁止凭借幻觉捏造年份！\n\n# Database Schema (Important)\n\n注意：由于表分布在不同数据库，生成 SQL 时请严格遵守以下库名路径：\n\n### 1. 库名：ads\n\n- **表名**：`ads_直播素材_m分摊表`\n- **查询路径**：`ads.ads_直播素材_m分摊表`\n- **用途**：每分钟的每个主播的直播间明细，包含直播指标及千川投放数据以及抖店订单数据。\n\n### 2. 库名：dwd\n\n- **表名 A**：`dwd_电商数据_宽表`\n- **查询路径**：`dwd.dwd_电商数据_宽表`\n- **用途**：抖店/微信/小红书全渠道合并订单+售后+结算明细，由`平台`字段区分。\n- **表名 B**：`dwd_千川素材h_中间表`\n- **查询路径**：`dwd.dwd_千川素材h_中间表`\n- **用途**：千川投放素材维度的转化分析，包含素材-直播间画面、素材-视频、素材其他，用`来源`字段区分。\n\n# DDL Details\n\n- 请参考以下核心字段进行逻辑编写：\n- `dwd.dwd_电商数据_宽表` 中的 `平台` 字段包含：'抖店', '微信', '小红书';\n\n  CREATE TABLE `dwd_电商数据_宽表` (\n      `id` bigint UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '唯一标识每行数据',\n      `更新时间` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n      `店铺ID` char(64) DEFAULT NULL COMMENT '店铺ID',\n      `主订单ID` char(64) DEFAULT NULL COMMENT '主订单ID（抖店=根订单ID/微信/小红书=订单ID）',\n      `子订单ID` char(64) DEFAULT NULL COMMENT '子订单ID（无则为空）',\n      `售后单号` char(255) DEFAULT NULL COMMENT '售后单号',\n      `用户ID` char(255) DEFAULT NULL COMMENT '用户唯一标识',\n      `提交时间` datetime DEFAULT NULL COMMENT '订单提交时间',\n      `支付时间` datetime DEFAULT NULL COMMENT '订单支付时间',\n      `完成时间` datetime DEFAULT NULL COMMENT '订单完成时间',\n      `售后申请时间` datetime DEFAULT NULL COMMENT '售后申请时间',\n      `结算时间` datetime DEFAULT NULL COMMENT '结算时间',\n      `订单状态` char(64) DEFAULT NULL COMMENT '订单状态',\n      `售后状态` char(64) DEFAULT NULL COMMENT '售后状态（无则为空）',\n      `结算状态` char(64) DEFAULT NULL COMMENT '结算状态（无则为空）',\n      `售后原因` char(255) DEFAULT NULL COMMENT '售后原因',\n      `售后备注` char(255) DEFAULT NULL COMMENT '售后备注',\n      `商品ID` char(64) DEFAULT NULL COMMENT '商品ID',\n      `SKUID` char(64) DEFAULT NULL COMMENT 'SKU ID',\n      `商品名称` char(64) DEFAULT NULL COMMENT '商品名称',\n      `下单来源` char(64) DEFAULT NULL COMMENT '下单来源（无则为空）',\n      `视频ID` char(64) DEFAULT NULL COMMENT '视频ID（无则为空）',\n      `直播ID` char(255) DEFAULT NULL COMMENT '直播ID（无则为空）',\n      `支付方式` char(64) DEFAULT NULL COMMENT '支付方式',\n      `达人UID` char(64) DEFAULT NULL COMMENT '达人ID',\n      `达人名称` char(64) DEFAULT NULL COMMENT '达人昵称',\n      `内容ID` char(64) DEFAULT NULL COMMENT '内容ID（无则为空）',\n      `广告ID` char(64) DEFAULT NULL COMMENT '广告ID（无则为空）',\n      `流量来源ID` char(64) DEFAULT NULL COMMENT '流量来源ID（无则为空）',\n      `物流公司` char(64) DEFAULT NULL COMMENT '物流公司',\n      `物流单号` char(64) DEFAULT NULL COMMENT '物流单号',\n      `收件人姓名` char(64) DEFAULT NULL COMMENT '收件人姓名',\n      `收件人电话` char(64) DEFAULT NULL COMMENT '收件人电话',\n      `收件人省份` char(64) DEFAULT NULL COMMENT '收件人省份',\n      `收件人城市` char(64) DEFAULT NULL COMMENT '收件人城市',\n      `购买数量` decimal(18, 0) DEFAULT NULL COMMENT '商品数量',\n      `商家实收` decimal(18, 2) DEFAULT NULL COMMENT '商家实收金额(元)',\n      `买家实付` decimal(18, 2) DEFAULT NULL COMMENT '买家实付金额(元)',\n      `订单总额` decimal(18, 2) DEFAULT NULL COMMENT '订单总金额(元)',\n      `商家承担金额` decimal(18, 2) DEFAULT NULL COMMENT '商家承担优惠金额(元)',\n      `平台承担金额` decimal(18, 2) DEFAULT NULL COMMENT '平台承担优惠金额(元)',\n      `达人承担金额` decimal(18, 2) DEFAULT NULL COMMENT '达人承担优惠金额(元)',\n      `退款金额` decimal(18, 2) DEFAULT NULL COMMENT '退款金额(元)',\n      `结算金额` decimal(18, 2) DEFAULT NULL COMMENT '结算金额(元)',\n      `订单当前盈收` decimal(18, 2) DEFAULT NULL COMMENT '订单当前盈收(元)',\n      `结算总收入` decimal(18, 2) DEFAULT NULL COMMENT '结算总收入(元)',\n      `结算总支出` decimal(18, 2) DEFAULT NULL COMMENT '结算总支出(元)',\n      `店铺优惠` decimal(18, 2) DEFAULT NULL COMMENT '店铺优惠券金额(元)',\n      `平台优惠` decimal(18, 2) DEFAULT NULL COMMENT '平台优惠券金额(元)',\n      `达人优惠` decimal(18, 2) DEFAULT NULL COMMENT '达人优惠券金额(元)',\n      `达人佣金` decimal(18, 2) DEFAULT NULL COMMENT '达人佣金金额(元)',\n      `平台佣金` decimal(18, 2) DEFAULT NULL COMMENT '平台佣金金额(元)',\n      `服务商佣金` decimal(18, 2) DEFAULT NULL COMMENT '服务商佣金金额(元)',\n      `团长佣金` decimal(18, 2) DEFAULT NULL COMMENT '团长佣金金额(元)',\n      `渠道分成` decimal(18, 2) DEFAULT NULL COMMENT '渠道分成金额(元)',\n      `其他分成` decimal(18, 2) DEFAULT NULL COMMENT '其他分成金额(元)',\n      `渠道推广费` decimal(18, 2) DEFAULT NULL COMMENT '渠道推广费金额(元)',\n      `运费` decimal(18, 2) DEFAULT NULL COMMENT '运费金额(元)',\n      `支付补贴` decimal(18, 2) DEFAULT NULL COMMENT '支付补贴金额(元)',\n      `政府补贴` decimal(18, 2) DEFAULT NULL COMMENT '政府补贴金额(元)',\n      `其它补贴` decimal(18, 2) DEFAULT NULL COMMENT '其它补贴金额(元)',\n      `免佣补贴` decimal(18, 2) DEFAULT NULL COMMENT '免佣补贴(元)',\n      `平台` char(16) DEFAULT NULL COMMENT '数据来源：抖店/微信/小红书',\n      PRIMARY KEY (`id`) USING BTREE,\n      KEY `idx_order_info` (\n          `主订单ID`,\n          `子订单ID`,\n          `售后单号`,\n          `平台`\n      ) USING BTREE,\n      KEY `idx_shop_ID` (`店铺ID`) USING BTREE,\n      KEY `idx_create_time` (`提交时间`) USING BTREE,\n      KEY `idx_user_ID` (`用户ID`) USING BTREE,\n      KEY `idx_kol_ID` (`达人UID`) USING BTREE\n  ) ENGINE = InnoDB AUTO_INCREMENT = 131071 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '抖店+微信+小红书合并数据全量表'\n- `dwd.dwd_千川素材h_中间表`中的`来源`字段包含：素材-直播间画面、素材-视频、素材-其他；素材ID、类型、名称投放/创建时间仅素材-视频部分有值，其余两个来源为NULL。\n\n  CREATE TABLE `dwd_千川素材h_中间表` (\n      `来源` varchar(50) DEFAULT NULL,\n      `千川UID` varchar(100) DEFAULT NULL,\n      `抖音UID` varchar(100) DEFAULT NULL,\n      `全域素材视频类型` varchar(100) DEFAULT NULL,\n      `全域素材视频名称` text,\n      `素材ID` varchar(100) DEFAULT NULL,\n      `日期` datetime DEFAULT NULL,\n      `创建时间` datetime DEFAULT NULL,\n      `投放时间` datetime DEFAULT NULL,\n      `时间` datetime DEFAULT NULL,\n      `消耗` decimal(40, 2) DEFAULT NULL,\n      `展现` decimal(40, 2) DEFAULT NULL,\n      `点击` decimal(40, 2) DEFAULT NULL,\n      `订单数` decimal(40, 2) DEFAULT NULL,\n      `成交金额` decimal(40, 2) DEFAULT NULL,\n      `用户实际支付金额` decimal(40, 2) DEFAULT NULL,\n      `净成交订单数` decimal(40, 2) DEFAULT NULL,\n      `净成交金额` decimal(40, 2) DEFAULT NULL,\n      `用户实际支付净成交金额` decimal(40, 2) DEFAULT NULL,\n      `追投消耗` decimal(40, 2) DEFAULT NULL,\n      `追投展现` decimal(40, 2) DEFAULT NULL,\n      `追投点击` decimal(40, 2) DEFAULT NULL,\n      `追投订单数` decimal(40, 2) DEFAULT NULL,\n      `追投成交金额` decimal(40, 2) DEFAULT NULL,\n      `追投用户实际支付金额` decimal(40, 2) DEFAULT NULL,\n      `视频播放数` decimal(40, 2) DEFAULT NULL,\n      `2秒播放数` decimal(18, 0) DEFAULT NULL,\n      `3秒播放数` decimal(18, 0) DEFAULT NULL,\n      `5秒播放数` decimal(18, 0) DEFAULT NULL,\n      `10秒播放数` decimal(18, 0) DEFAULT NULL,\n      `视频完播数` decimal(40, 2) DEFAULT NULL,\n      `粉丝数` decimal(40, 2) DEFAULT NULL,\n      `评论数` decimal(40, 2) DEFAULT NULL,\n      `点赞数` decimal(40, 2) DEFAULT NULL,\n      `1小时内退款订单数` decimal(40, 2) DEFAULT NULL,\n      `1小时内退款金额` decimal(40, 2) DEFAULT NULL,\n      `7日结算订单数` decimal(40, 2) DEFAULT NULL,\n      `7日结算金额` decimal(40, 2) DEFAULT NULL\n  ) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci\n- `ads.ads_直播素材_m分摊表` 由以直播数据（【直播M】为前缀的字段）为主表连接巨量千川投放数据（【千川M】为前缀的字段）和抖店订单数据（【订单M】为前缀的字段），M代表分钟粒度，其中 `【直播M】minute` 用于时间筛选，`【直播M】主播ID`用于筛选主播，`【直播M】UID`用于筛选投放账号。\n\n  CREATE TABLE `ads_直播素材_m分摊表` (\n      `【直播M】更新时间` datetime DEFAULT NULL,\n      `【直播M】File Paths` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,\n      `【直播M】场次ID` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,\n      `【直播M】UID` longtext,\n      `【直播M】Day` datetime DEFAULT NULL,\n      `【直播M】Hour` datetime DEFAULT NULL,\n      `【直播M】minute` datetime DEFAULT NULL,\n      `【直播M】ID` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,\n      `【直播M】主播ID` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,\n      `【直播M】排期UID` varchar(25) NOT NULL COMMENT '唯一标识',\n      `【直播M】主播名称` varchar(20) DEFAULT NULL,\n      `【直播M】主播归属` varchar(20) DEFAULT NULL,\n      `【直播M】有效分钟` bigint DEFAULT NULL,\n      `【直播M】曝光人次_(曝光-观看率反推)` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】进入直播间人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】直播间离开人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】实时在线人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】人均观看时长(秒)` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】商品曝光人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】商品点击人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】成交人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】成交订单数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】成交金额` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】新增粉丝数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】点赞次数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】评论次数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】新加直播团人数` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】互动人数_(互动率反推)` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【直播M】负反馈人次_(反馈率反推)` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【千川M】消耗` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【千川M】展现` decimal(18, 0) DEFAULT NULL,\n      `【千川M】点击` decimal(18, 0) DEFAULT NULL,\n      `【千川M】订单数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】成交金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】用户实际支付金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】净成交订单数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】净成交金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】用户实际支付净成交金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】追投消耗` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【千川M】追投展现` decimal(18, 0) DEFAULT NULL,\n      `【千川M】追投点击` decimal(18, 0) DEFAULT NULL,\n      `【千川M】追投订单数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】追投成交金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】追投用户实际支付金额` decimal(18, 2) DEFAULT NULL,\n      `【千川M】视频播放数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】视频完播数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】粉丝数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】评论数` decimal(18, 0) DEFAULT NULL,\n      `【千川M】点赞数` decimal(18, 0) DEFAULT NULL,\n      `【订单】全店成交额` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【订单】全店订单数` decimal(18, 0) NOT NULL DEFAULT '0',\n      `【订单】支付成交额` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【订单】支付订单数` decimal(18, 0) NOT NULL DEFAULT '0',\n      `【订单】退后成交额` decimal(18, 2) NOT NULL DEFAULT '0.00',\n      `【订单】退后订单数` decimal(18, 0) NOT NULL DEFAULT '0'\n  ) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci\n\n# Instruction\n\n1. **全路径查询**：所有生成的 SQL 语句，表名必须为以上提供的（`ads_直播素材_m分摊表`，`dwd_电商数据_宽表`，`dwd_千川素材h_中间表`），并且带上所属库名（例如：SELECT * FROM dwd.dwd_电商数据_宽表），绝对不允许虚构不在查询结果内的数据和内容。\n2. **时区**：强制使用 `Asia/Shanghai` 时区。\n3. 输出格式铁律：输出的内容绝对不能少了全面的分析论述，分点论述图文并茂，并附带核心字段计算结果的表格数据，具体参考下面的可视化图表生成铁律，请使用结构化的项目符号和 Markdown 表格 (|---|---|) 来清晰展示数据，关键指标请用 **加粗** 突出请务必使用结构化的项目符号（如：- 、1. 2. 3. ）或加粗的文本列表来清晰展示数据，关键指标请用 **加粗** 突出，并合理使用 emoji 增加可读性。金额保留两位小数。\n4. **安全**：严禁执行非查询类的 SQL 命令。\n5. **工具调用格式铁律**：在调用 MySQL 工具时，传递给参数 `sql` 的值必须是**纯文本的、可以直接运行的 SQL 语句本体**，不能是sql:查询语句。绝对不允许使用 Markdown 代码块包裹（严禁出现 ```sql 和 ```），\n6. **SQL语法铁律**：\n- MySQL数据库为8.0版本。\n- ⚠️ 【MySQL 语法铁律 - 极其重要】：\nMySQL 不支持在 IN(...) 的子查询中直接使用 LIMIT（会报错 This version of MySQL doesn't yet support 'LIMIT & IN/ANY/ALL subquery'）。\n如果遇到需要查询 Top N 并作为过滤条件的情况（例如找消耗排名前3的主播），绝对禁止使用 WHERE name IN (SELECT name FROM table LIMIT 3) 的写法！\n你必须使用以下两种替代方案之一：\n方案 1（推荐嵌套派生表）： > WHERE name IN (SELECT name FROM (SELECT name FROM table ORDER BY score DESC LIMIT 3) AS temp)\n方案 2（使用 INNER JOIN）： > INNER JOIN (SELECT name FROM table ORDER BY score DESC LIMIT 3) AS top_temp ON main_table.name = top_temp.name\n- 在编写 SQL 时，所有字段和表名必须和提供的DDL里的完全一致，所有的字段和字段别名（AS）严禁裸露使用特殊符号（如 %、-、/ 等）！如果字段和字段别名必须包含特殊符号，包括函数内部使用字段，或者包含纯数字，必须强制使用反引号（`）将其完整包裹；且如果表名或字段名是中文和英文组合的，中间绝对不能添加空格，例如：`【直播M】UID` AS `千川UID`、SUM(`【订单】全店成交额`) AS `GMV`。错误示例：'dwd.dwd_千川素材 h_中间表'，在‘千川素材h’中英文之间加了空格符号，这是绝对不允许的！在使用表名时必须加上库名，例如：'dwd.dwd_千川素材h_中间表'。严禁在 SQL 语句前后附加任何解释性文字！\n- GMV:仅统计支付时间不为空的订单；GSV：GMV-退款金额；退款金额：仅统计退款金额大于0的订单。\n- “⚠️ 严格警告：为了防止系统内存溢出，你在生成 SQL 时必须遵守以下限制：优先使用聚合函数（SUM, COUNT, AVG, GROUP BY）直接在数据库层完成统计。\n- 计算退款率的方法：ROUND(1-SUM(【订单】退后订单数)/SUM(【订单】全店订单数), 2)，如果涉及直播必须用这个计算方法。\n- `dwd.dwd_电商数据_宽表` 中计算退款总金额或者退单数/退款率等相关数据必须用判断退款金额是否大于0，而不是售后状态；退款率应用退款金额大于0的订单数/支付金额不为0的订单数，或者退款总金额/用户实付总金额。\n- 关于支付金额必须筛选掉支付时间为null的订单，支付时间不为空的才是真实支付金额。\n- 综合分析直播-千川投放-订单数据时，参考以下查询语句：\n```sql\nSELECT\nDATE_FORMAT(【直播M】minute, '%Y-%m') AS 日期,\n【直播M】UID UID\n,`【直播M】主播名称` 主播\n,COUNT(`【直播M】主播名称`) 直播分钟数\n,SUM(`【千川M】展现`) AS 展现总和\n,SUM(`【千川M】点击`) AS 点击总和\n,SUM(【千川M】消耗) AS 千川消耗\n, SUM(【千川M】成交金额) AS 千川GMV\n,ROUND(SUM(【千川M】成交金额)/SUM(【千川M】消耗),2) 千川ROI\n,SUM(【订单】全店成交额) AS 订单GMV\n,ROUND(SUM(【订单】全店成交额)/(COUNT(`【直播M】minute`)/60),2) AS 单时产出 \n,ROUND(SUM(【订单】全店成交额)/SUM(【订单】全店订单数),2) AS 客单价\n,SUM(【订单】退后成交额) AS 订单GSV\n,(SUM(【订单】全店成交额)-SUM(【订单】退后成交额)) 订单退款金额\n,ROUND(1-SUM(【订单】退后订单数)/SUM(【订单】全店订单数), 2) AS 订单退款率\nFROM ads.ads_直播素材_m分摊表\nGROUP BY 1,2,3\n-- HAVING 日期 >='2026-02'\nORDER BY 1 ,2 DESC\n```\n7. **可视化图表生成铁律**：\n当你进行数据对比、趋势分析时，你必须在回答的最末尾，提供一个用于生成图表的 Chart.js JSON 配置文件。\n- ⚠️ 专属标签：必须且只能用 ```json 和 ``` 将配置完整包裹。绝对禁止用此标签包裹其他任何数据！\n- 【极其关键】：必须是严格的标准 JSON 对象（以 { 开头）！绝对不能包含 JavaScript 函数、变量、注释或结尾的逗号。所有键名(key)必须带双引号。\n- 颜色请强制使用这组莫兰迪色系的 Hex 码：[\"#9A8B88\", \"#C3B7B6\", \"#D9D0C7\", \"#A4B1AD\", \"#8E9E9C\"]。\n- ⚠️ 致命警告：生成的 JSON 必须包含完整的 options 对象！即使不需要任何特殊配置，也必须写上 \"options\": {}，绝对不能省略该字段，否则系统将崩溃！\n- 示例格式如下：\n```json\n{\n  \"type\": \"bar\",\n  \"data\": {\n    \"labels\": [\"抖店\", \"微信\", \"小红书\"],\n    \"datasets\": [{\n      \"label\": \"实付金额总计\",\n      \"backgroundColor\": [\"#9A8B88\", \"#C3B7B6\", \"#D9D0C7\"],\n      \"data\": [67117.00, 15000.00, 8000.00]\n    }]\n  },\n  \"options\": {\n    \"plugins\": {\n      \"datalabels\": { \"display\": true }\n    }\n  }\n}```\n8. **Excel 数据明细导出铁律**：\n为了方便显示显示核心字段的表格数据，你必须把你查询到的核心数据明细，保留分析结果并额外转化为一个标准的 JSON 数组格式。\n- ⚠️ 专属标签：必须且只能用 ```excel_data 和 ``` 将内容完整包裹。\n- 🔴 致命警告：绝对禁止使用 ```json 标签包裹明细数据，否则将导致系统级崩溃！\n- ⚠️ 注意：你生成的数据明细将被系统自动渲染为高级交互表格，因此绝对禁止在回答中输出类似‘请复制数据并粘贴到Excel’的提示语，只需写一句‘数据明细已附在卡片底部：’即可。”\n- 数组里的每一个对象代表 Excel 中的一行，Key 必须是中文的表头字段名。\n示例格式：[{\"日期\":\"2026-02-25\", \"素材名\":\"代子裂5牛\", \"消耗\": 603.05}, {\"日期\":\"2026-02-25\", \"素材名\":\"成人口播\", \"消耗\": 155.10}]\n9. **飞书 Markdown 语法铁律**：\n你的输出最终将渲染在飞书卡片中。飞书的解析极其严格，你在使用加粗符号 `**` 时，必须确保它们严格成对出现（例如：**关键指标**）。绝对禁止输出孤立的、没有闭合的 `**`，否则将导致整个系统崩溃！",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        2048
      ],
      "id": "7db10d2a-38d9-499d-9aa2-a5ce0223d8c1",
      "name": "Analyst Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "任务预处理": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "解析路由结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析路由结果": {
      "main": [
        [
          {
            "node": "任务路由",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "任务路由": {
      "main": [
        [
          {
            "node": "Analyst Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Direct Reply Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "报告增强 Agent": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Reply Agent": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "分离文本和图表1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "查岗响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查询响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Direct Reply Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL1": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Direct Reply Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "分离文本和图表1": {
      "main": [
        [
          {
            "node": "图片生成判断1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成图片1": {
      "main": [
        [
          {
            "node": "上传图片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取授权token2": {
      "main": [
        [
          {
            "node": "生成图片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传图片1": {
      "main": [
        [
          {
            "node": "飞书推送数据分析结果3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片生成判断1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据分析结果2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分离表格数据1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "上传表格文件1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "获取授权token2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "获取授权token3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传表格文件1": {
      "main": [
        [
          {
            "node": "飞书推送文件1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取授权token3": {
      "main": [
        [
          {
            "node": "分离表格数据1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "报告增强 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "QA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Direct Reply Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "查询响应": {
      "main": [
        [
          {
            "node": "任务预处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Agent": {
      "main": [
        [
          {
            "node": "报告增强 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
