n8n_Workflow/数据中台 - 完整ETL工作流Agent (2).json
{
  "name": "数据中台 - 完整ETL工作流Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## 飞书→MySQL 主播排期\n\n从飞书多维表拉取主播排期，写入 ods.ods_主播排期表，并更新 sync_status。\n对应 mysql_syn_feishu/live_author_schedule.py。",
        "height": 180,
        "width": 400,
        "color": 7
      },
      "id": "ccc6b378-b294-4143-9585-bf933b074db1",
      "name": "飞书主播排期入MySQL说明",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5552,
        3424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🗄️ 数据中台 ETL 工作流\n\n## ⚙️ 1. 功能模块\n1. **API 数据采集** (`抖店` / `小红书` / `微信` / `千川`)\n2. **爬虫数据采集** (`内容榜` / `达人榜` / `商品榜` / `搜索榜` / `店铺榜`)\n3. **数据建模** (`SQL` 数仓分层清洗)\n4. **数据分发** (`飞书多维表` 同步：订单/商品/榜单/排期)\n\n---\n\n## 🚦 2. 执行策略\n- **API 采集**：`并行执行` ⚡\n- **爬虫采集**：`串行执行` 🐢 \n  > ⚠️ 核心要求：为避免 DrissionPage 占用过多资源导致浏览器崩溃，爬虫节点必须严格串行排队。\n- **SQL 建表**：`批量执行` 📦\n- **飞书同步**：`并行执行` ⚡\n\n---\n\n## ⏱️ 3. 定时调度配置\n- 🔴 **每日 02:00**：执行全量采集（完整运行所有 4 个模块）\n- 🔵 **每小时增量**：仅拉取最新数据（跳过爬虫与建模，仅执行 `API采集` + `飞书同步`）\n\n\n\n## token/appid/appsecret管理\n----\n    CREATE TABLE sys_auth_tokens (\n        platfrom VARCHAR(50) PRIMARY KEY COMMENT '平台',\n        access_token TEXT NOT NULL COMMENT '接口调用凭证',\n        refresh_token TEXT NOT NULL COMMENT '刷新凭证(长期有效)',\n        expires_in BIGINT NOT NULL COMMENT 'Access Token 过期时间戳(秒)',\n        refresh_token_expires_in BIGINT NOT NULL COMMENT 'Refresh Token 过期时间戳(秒)',\n        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP\n    );\n",
        "height": 2816,
        "width": 788,
        "color": 4
      },
      "id": "b2576907-3b35-43e8-a199-73b8fda91b7c",
      "name": "工作流说明",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🌐 开放平台 API 数据采集模块\n\n###  ⚡ **全局策略**：以下 4 个 API 采集脚本 **`并行执行`**。\n###  🛡️ **容灾机制**：每个节点末端均包含异常校验逻辑（运行报错/数据缺失 ➡️ **触发飞书告警**）。\n\n---\n\n## 🛒 1. 抖店订单\n- **更新策略**：订单、售后数据 `增量更新` ｜ 结算数据 `全量更新`\n- **执行逻辑**：\n  1. 查库判断 `access_token` 是否过期并按需更新\n  2. 挂载【阿里云服务器】凭证\n  3. 通过 `命令行 (CLI)` 触发 ETL 脚本\n  4. 终态校验与飞书告警\n\n## 📕 2. 小红书订单\n- **更新策略**：订单、售后、结算数据均按天 `增量更新`\n- **执行逻辑**：\n  1. 查库判断 `access_token` 是否过期并按需更新\n  2. 触发 `子工作流 (Sub-Workflow)` 执行采集\n  3. 终态校验与飞书告警\n\n## 💬 3. 微信订单\n- **更新策略**：订单、售后、结算数据均按天 `全量更新` (备注：售后/结算状态变化周期长)\n- **执行逻辑**：\n  1. 强制刷新 `access_token` (⚠️ 有效期仅 2 小时)\n  2. 触发 `子工作流 (Sub-Workflow)` 执行采集\n  3. 终态校验与飞书告警\n\n## 📈 4. 千川素材\n- **采集范围**：素材 (直播间画面/视频/其它创意) ｜ 千川抖音号 ｜ 千川财务\n- **更新策略**：各项数据均按天 `增量更新`\n- **执行逻辑**：\n  1. 查库判断 `access_token` 是否过期并按需更新\n  2. 挂载【本地主机】凭证\n  3. 通过 `命令行 (CLI)` 触发 ETL 脚本（防爆破：强行把之前可能卡死的同名脚本干掉！）\n  4. 终态校验与飞书告警",
        "height": 2808,
        "width": 1756,
        "color": 3
      },
      "id": "fac44107-9c52-462b-8408-e0468401708b",
      "name": "API采集区",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 爬虫数据采集模块\n\n串行执行5个爬虫脚本（避免浏览器资源竞争）：\n- 内容榜\n- 达人榜\n- 商品榜\n- 搜索榜\n- 店铺榜",
        "height": 2812,
        "width": 1772,
        "color": "#DDEEC4"
      },
      "id": "05f519ed-70ca-4b7f-aaf2-c9e6942b2c30",
      "name": "爬虫采集区",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 数据建模模块\n\n批量执行SQL_create_table目录下所有SQL文件，创建dim/dwd层表\n## ！执行一次，避免内存爆炸",
        "height": 2806,
        "width": 1662,
        "color": 5
      },
      "id": "2eaaa139-55f0-4381-ac74-a6372f9e7f4b",
      "name": "SQL建表区",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3632,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\ntruncate table dim.dim_达人维度;\n\ntruncate table dim.dim_商品维度;\n\nTRUNCATE TABLE dim.`dim_达人榜单`\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4528,
        2368
      ],
      "id": "5d44d7ef-52cc-4fc4-b3d3-16db69d39761",
      "name": "TRUNCATE TABLE",
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4800,
        2368
      ],
      "id": "740703d4-fd97-440f-93e5-fe8b3bbf3e14",
      "name": "DIM_罗盘榜单视频",
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ads.ads_直播素材_M分摊表\nSELECT\n    -- 1. 直播基础信息 (类型转换确保精度)\n    CAST(IFNULL(live_min.【直播M】更新时间, '') AS DATETIME) AS 【直播M】更新时间,\n    live_min.`【直播M】File Paths`,\n    live_min.【直播M】场次ID,\n    live_min.【直播M】UID_clean AS 【直播M】UID,\n    CAST(IFNULL(live_min.日期, NULL) AS DATETIME) AS 【直播M】Day,   \n    CAST(IFNULL(live_min.小时时间, NULL) AS DATETIME) AS 【直播M】Hour,     \n    CAST(IFNULL(live_min.分钟时间, NULL) AS DATETIME) AS 【直播M】minute,\n    live_min.`【直播M】ID` AS 【直播M】ID, \n    live_min.`【直播M】主播ID_clean` AS 【直播M】主播ID,\n    live_min.`【直播M】排期UID` AS 【直播M】排期UID,\n    live_min.`【直播M】主播名称` AS 【直播M】主播名称,\n    live_min.`【直播M】主播归属` AS 【直播M】主播归属,\n    live_min.【直播M】有效分钟,\n    -- 2. 直播原始指标\n    CAST(IFNULL(live_min.`【直播M】曝光人次_(曝光-观看率反推)`, 0) AS DECIMAL(18, 2)) AS `【直播M】曝光人次_(曝光-观看率反推)`,\n    CAST(IFNULL(live_min.`【直播M】进入直播间人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】进入直播间人数`,\n    CAST(IFNULL(live_min.`【直播M】直播间离开人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】直播间离开人数`,\n    CAST(IFNULL(live_min.`【直播M】实时在线人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】实时在线人数`,\n    CAST(IFNULL(live_min.`【直播M】人均观看时长(秒)`, 0) AS DECIMAL(18, 2)) AS `【直播M】人均观看时长(秒)`,\n    CAST(IFNULL(live_min.`【直播M】商品曝光人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】商品曝光人数`,\n    CAST(IFNULL(live_min.`【直播M】商品点击人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】商品点击人数`,\n    CAST(IFNULL(live_min.`【直播M】成交人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】成交人数`,\n    CAST(IFNULL(live_min.`【直播M】成交订单数`, 0) AS DECIMAL(18, 2)) AS `【直播M】成交订单数`,\n    CAST(IFNULL(live_min.`【直播M】成交金额`, 0) AS DECIMAL(18, 2)) AS `【直播M】成交金额`,\n    CAST(IFNULL(live_min.`【直播M】新增粉丝数`, 0) AS DECIMAL(18, 2)) AS `【直播M】新增粉丝数`,\n    CAST(IFNULL(live_min.`【直播M】点赞次数`, 0) AS DECIMAL(18, 2)) AS `【直播M】点赞次数`,\n    CAST(IFNULL(live_min.`【直播M】评论次数`, 0) AS DECIMAL(18, 2)) AS `【直播M】评论次数`,\n    CAST(IFNULL(live_min.`【直播M】新加直播团人数`, 0) AS DECIMAL(18, 2)) AS `【直播M】新加直播团人数`,\n    CAST(IFNULL(live_min.`【直播M】互动人数_(互动率反推)`, 0) AS DECIMAL(18, 2)) AS `【直播M】互动人数_(互动率反推)`,\n    CAST(IFNULL(live_min.`【直播M】负反馈人次_(反馈率反推)`, 0) AS DECIMAL(18, 2)) AS `【直播M】负反馈人次_(反馈率反推)`,\n    -- 3. 千川分摊消耗 (使用小时总额 * 分钟占比)\n    CAST(IFNULL(qc_h.小时总消耗 * live_min.分钟消耗占比, 0) AS DECIMAL(18,2)) AS 【千川M】消耗,\n    -- 4. 千川分钟级效果 (展现、点击、成交等)\n    CAST(qc.展现 AS DECIMAL(18,0)) AS 【千川M】展现,\n    CAST(qc.点击 AS DECIMAL(18,0)) AS 【千川M】点击,\n    CAST(qc.订单数 AS DECIMAL(18,0)) AS 【千川M】订单数,\n    CAST(qc.成交金额 AS DECIMAL(18,2)) AS 【千川M】成交金额,\n    CAST(qc.用户实际支付金额 AS DECIMAL(18,2)) AS 【千川M】用户实际支付金额,\n    CAST(qc.净成交订单数 AS DECIMAL(18,0)) AS 【千川M】净成交订单数,\n    CAST(qc.净成交金额 AS DECIMAL(18,2)) AS 【千川M】净成交金额,\n    CAST(qc.用户实际支付净成交金额 AS DECIMAL(18,2)) AS 【千川M】用户实际支付净成交金额,\n    -- 5. 追投指标分摊\n    CAST(IFNULL(qc_h.小时追投消耗 * live_min.分钟消耗占比, 0) AS DECIMAL(18,2)) AS 【千川M】追投消耗,\n    CAST(qc.追投展现 AS DECIMAL(18,0)) AS 【千川M】追投展现,\n    CAST(qc.追投点击 AS DECIMAL(18,0)) AS 【千川M】追投点击,\n    CAST(qc.追投订单数 AS DECIMAL(18,0)) AS 【千川M】追投订单数,\n    CAST(qc.追投成交金额 AS DECIMAL(18,2)) AS 【千川M】追投成交金额,\n    CAST(qc.追投用户实际支付金额 AS DECIMAL(18,2)) AS 【千川M】追投用户实际支付金额,\n    CAST(qc.视频播放数 AS DECIMAL(18,0)) AS 【千川M】视频播放数,\n    CAST(qc.视频完播数 AS DECIMAL(18,0)) AS 【千川M】视频完播数,\n    CAST(qc.粉丝数 AS DECIMAL(18,0)) AS 【千川M】粉丝数,\n    CAST(qc.评论数 AS DECIMAL(18,0)) AS 【千川M】评论数,\n    CAST(qc.点赞数 AS DECIMAL(18,0)) AS 【千川M】点赞数,\n    -- 6. 订单分摊指标 (来自强聚合后的宽表)\n    CAST(ROUND(IFNULL(live_min.`小时全局GMV` , 0), 2) AS DECIMAL(18, 2)) AS `【订单】全店成交额`,\n    CAST(ROUND(IFNULL(live_min.`小时全局订单数` , 0), 0) AS DECIMAL(18, 0)) AS `【订单】全店订单数`,\n    CAST(ROUND(IFNULL(live_min.`支付成交额` , 0), 2) AS DECIMAL(18, 2)) AS `【订单·】支付成交额`,\n    CAST(ROUND(IFNULL(live_min.`支付订单数` , 0), 0) AS DECIMAL(18, 0)) AS `【订单】支付订单数`,\n    CAST(ROUND(IFNULL(live_min.`小时GSV` , 0), 2) AS DECIMAL(18, 2)) AS `【订单】退后成交额`,\n    CAST(ROUND(IFNULL(live_min.`退后订单数` , 0), 0) AS DECIMAL(18, 0)) AS `【订单】退后订单数`\n\nFROM (\n    -- 第一层：直播、排期与订单宽表的聚合\n    SELECT\n        lm.*,\n        wb_hour.小时全局GMV,\n        wb_hour.小时全局订单数,\n        wb_hour.支付成交额,\n        wb_hour.支付订单数,\n        wb_hour.小时GSV,\n        wb_hour.退后订单数,\n        -- 计算分摊权重：当前分钟在所属账号小时内的占比\n        CAST(IFNULL(1 / NULLIF(COUNT(lm.`【直播M】minute`) OVER (PARTITION BY lm.小时时间, lm.【直播M】UID_clean), 0), 0) AS DECIMAL(18, 6)) AS 分钟消耗占比\n    FROM (\n        -- 核心：直播表关联排期表，解决 251->240 误差\n        SELECT\n            t1.`【直播M】更新时间`, t1.`【直播M】File Paths`, t1.`【直播M】场次ID`, t1.`【直播M】有效分钟`, t1.`【直播M】ID`,\n            DATE_FORMAT(t1.`【直播M】minute`, '%Y-%m-%d %H:00:00') AS 小时时间,\n            DATE_FORMAT(t1.`【直播M】minute`, '%Y-%m-%d %H:%i:00') AS 分钟时间,\n            t1.`【直播M】minute`,\n            t2.`日期` AS 日期, -- 使用排期表的业务日期\n            CONVERT(t1.`【直播M】UID` USING utf8mb4) AS 【直播M】UID_clean,\n            t2.`账号` AS 【直播M】排期UID,\n            t2.`主播ID`->>'$[0].number' AS 【直播M】主播ID_clean,\n            t2.`主播` AS 【直播M】主播名称,\n            t2.`主播归属` AS 【直播M】主播归属,\n            t1.`【直播M】曝光人次_(曝光-观看率反推)`, t1.`【直播M】进入直播间人数`, t1.`【直播M】直播间离开人数`, t1.`【直播M】实时在线人数`,\n            t1.`【直播M】人均观看时长(秒)`, t1.`【直播M】商品曝光人数`, t1.`【直播M】商品点击人数`, t1.`【直播M】成交人数`, t1.`【直播M】成交订单数`,\n            t1.`【直播M】成交金额`, t1.`【直播M】新增粉丝数`, t1.`【直播M】点赞次数`, t1.`【直播M】评论次数`, t1.`【直播M】新加直播团人数`,\n            t1.`【直播M】互动人数_(互动率反推)`, t1.`【直播M】负反馈人次_(反馈率反推)`\n        FROM (\n            SELECT \n                `【直播M】更新时间`,\n                `【直播M】File Paths`,\n                CONVERT(`【直播M】场次ID` USING utf8mb4) COLLATE utf8mb4_general_ci AS `【直播M】场次ID`,\n                `【直播M】有效分钟`,\n                `【直播M】ID`,\n                `【直播M】minute`,\n                CONVERT(`【直播M】UID` USING utf8mb4) COLLATE utf8mb4_general_ci AS `【直播M】UID`,\n                CAST(`【直播M】曝光人次_(曝光-观看率反推)` AS DECIMAL(10,2)) AS `【直播M】曝光人次_(曝光-观看率反推)`,\n                `【直播M】进入直播间人数`,\n                `【直播M】直播间离开人数`,\n                `【直播M】实时在线人数`,\n                `【直播M】人均观看时长(秒)`,\n                `【直播M】商品曝光人数`,\n                `【直播M】商品点击人数`,\n                `【直播M】成交人数`,\n                `【直播M】成交订单数`,\n                `【直播M】成交金额`,\n                `【直播M】新增粉丝数`,\n                `【直播M】点赞次数`,\n                `【直播M】评论次数`,\n                `【直播M】新加直播团人数`,\n                `【直播M】互动人数_(互动率反推)`,\n                `【直播M】负反馈人次_(反馈率反推)`\n            FROM spider_01.直播数据minute\n\n            UNION ALL\n\n            SELECT\n                -- 1. 显式 CAST 解决复合查询下的 datetime 识别问题\n                CAST(NOW() AS DATETIME) AS `【直播M】更新时间`,\n                CAST(NULL AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_general_ci AS `【直播M】File Paths`,\n                -- 2. 表2是 TEXT 类型，必须强制转为 VARCHAR 并统一排序规则\n                CONVERT(`【直播M】场次ID` USING utf8mb4) COLLATE utf8mb4_general_ci,\n                1,\n                CAST(NULL AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_general_ci AS `【直播M】ID`,\n                -- 3. 确保 minute 字段是标准的 datetime，排除空字符干扰\n                `【直播M】minute` `【直播M】minute`,    \n                CONVERT(`【直播M】UID` USING utf8mb4) COLLATE utf8mb4_general_ci,\n                -- 4. 数值对齐：表2是 double，表1是 decimal，强制转换\n                CAST(`【直播M】曝光人次_(曝光_观看率反推)` AS DECIMAL(10,2)),\n                CAST(`【直播M】进入直播间人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】直播间离开人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】实时在线人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】人均观看时长(秒)` AS DECIMAL(10,2)),\n                CAST(`【直播M】商品曝光人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】商品点击人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】成交人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】成交订单数` AS DECIMAL(10,2)),\n                CAST(`【直播M】成交金额` AS DECIMAL(10,2)),\n                CAST(`【直播M】新增粉丝数` AS DECIMAL(10,2)),\n                CAST(`【直播M】点赞次数` AS DECIMAL(10,2)),\n                CAST(`【直播M】评论次数` AS DECIMAL(10,2)),\n                CAST(`【直播M】新加直播团人数` AS DECIMAL(10,2)),\n                CAST(`【直播M】互动人数_(互动率反推)` AS DECIMAL(10,2)),\n                CAST(`【直播M】负反馈人次_(反馈率反推)` AS DECIMAL(10,2))\n            FROM ods.直播数据minute_v2\n            ) t1\n        INNER JOIN ods.ods_主播排期表 t2\n            ON CONVERT(t1.`【直播M】UID` USING utf8mb4) = CONVERT(t2.`账号` USING utf8mb4)\n            -- 修正：左闭右开，彻底解决交班重叠导致的重复行\n            AND t1.`【直播M】minute` >= t2.开始时间 \n            AND t1.`【直播M】minute` <= t2.结束时间 \n        WHERE t2.开始时间 IS NOT NULL AND t2.结束时间 IS NOT NULL\n        -- WHERE t1.`【直播M】minute` BETWEEN '2025-12-01 00:00:00' AND '2026-01-11 00:00:00'\n    ) lm\n    -- 修正：订单宽表强制分钟级聚合，解决 449条重复中的宽表膨胀问题\n    LEFT JOIN (\n        SELECT\n            DATE_FORMAT(o.`支付时间`, '%Y-%m-%d %H:%i:00') AS 时间,\n            CONVERT(o.达人UID USING utf8mb4) AS 达人UID_clean,\n            CAST(IFNULL(SUM(o.`订单总额`), 0) AS DECIMAL(18, 2)) AS 小时全局GMV,\n            CAST(IFNULL(COUNT(o.`提交时间`), 0) AS DECIMAL(18, 2)) AS 小时全局订单数,\n            SUM(o.`买家实付`) AS 支付成交额,\n            COUNT(CASE WHEN o.`买家实付` > 0 THEN 1 END) AS 支付订单数,\n            SUM(o.`买家实付` - IFNULL(o.`退款金额`, 0)) AS 小时GSV,\n            SUM(CASE WHEN (IFNULL(o.`退款金额`, 0)) > 0 THEN 0 ELSE 1 END) AS 退后订单数    \n        FROM dwd.dwd_电商数据_宽表 o\n        WHERE  平台 = '抖店'\n        GROUP BY 1, 2\n    ) wb_hour \n        ON lm.分钟时间 = wb_hour.时间\n        AND lm.【直播M】UID_clean = wb_hour.达人UID_clean\n) live_min\n-- 关联 A：小时级消耗汇总（用于公平分摊）\nLEFT JOIN (\n    SELECT\n        CONVERT(抖音UID USING utf8mb4) AS UID_clean,\n        DATE_FORMAT(时间, '%Y-%m-%d %H:00:00') AS 小时时间,\n        SUM(消耗) AS 小时总消耗,\n        SUM(追投消耗) AS 小时追投消耗\n    FROM dwd.千川_素材_汇总\n    GROUP BY 1, 2\n) qc_h\n    ON live_min.小时时间 = qc_h.小时时间\n    AND live_min.【直播M】UID_clean = qc_h.UID_clean\n-- 关联 B：分钟级素材效果（确保每分钟唯一）\nLEFT JOIN (\n    SELECT\n        CONVERT(抖音UID USING utf8mb4) AS UID_clean,\n        时间, \n        SUM(展现) AS 展现, SUM(点击) AS 点击, SUM(订单数) AS 订单数, \n        SUM(成交金额) AS 成交金额, SUM(用户实际支付金额) AS 用户实际支付金额,\n        SUM(净成交订单数) AS 净成交订单数, SUM(净成交金额) AS 净成交金额, \n        SUM(用户实际支付净成交金额) AS 用户实际支付净成交金额, \n        SUM(追投展现) AS 追投展现, SUM(追投点击) AS 追投点击, \n        SUM(追投订单数) AS 追投订单数, SUM(追投成交金额) AS 追投成交金额, \n        SUM(追投用户实际支付金额) AS 追投用户实际支付金额, \n        SUM(视频播放数) AS 视频播放数, SUM(视频完播数) AS 视频完播数, \n        SUM(粉丝数) AS 粉丝数, SUM(评论数) AS 评论数, SUM(点赞数) AS 点赞数\n    FROM dwd.千川_素材_汇总\n    GROUP BY 1, 2\n) qc\n    ON live_min.分钟时间 = qc.时间\n    AND live_min.【直播M】UID_clean = qc.UID_clean;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4528,
        2048
      ],
      "id": "3a1469c3-4585-4075-9743-40efa12cc673",
      "name": "ADS_直播-素材-订单_min",
      "retryOnFail": false,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4528,
        2208
      ],
      "id": "cc063984-d9c4-4eb1-a05c-ddbc6e62b229",
      "name": "ADS_素材消R四象限",
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "YVvRfusvpBUQVaPr",
          "name": "d w d"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE ods.ods_微信_结算_全量 \nADD COLUMN 结算时间 DATETIME COMMENT '结算时间' AFTER 订单支付时间;\n\n-- 核心更新语句：将编码映射为文本名称\nUPDATE ods.ods_微信_结算_全量 s\nLEFT JOIN ods.ods_微信_订单_全量 o \n  ON s.`订单ID` = o.`订单ID`\nLEFT JOIN ods.ods_微信_售后_全量 a \n  ON s.`订单ID` = a.原订单号\nSET s.结算时间 = COALESCE(\n  IF(o.商家结算时间 IS NULL OR o.商家结算时间 = '', NULL, STR_TO_DATE(o.商家结算时间, '%Y-%m-%d %H:%i:%s')),\n  IF(a.售后单更新时间 IS NULL OR a.售后单更新时间 = '', NULL, STR_TO_DATE(a.售后单更新时间, '%Y-%m-%d %H:%i:%s'))\n)\nWHERE s.结算时间 IS NULL; -- 仅更新结算时间为空的记录",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3744,
        2624
      ],
      "id": "1633533a-c7b1-413a-80e1-29c5ed4de8c2",
      "name": "补全微信结算时间",
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE dwd.dwd_电商数据_宽表;  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        1888
      ],
      "id": "2dbcb9fe-a727-4b99-a0f6-faf69073a184",
      "name": "全量更新订单数据",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE dwd.`dwd_千川_素材m`;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        2048
      ],
      "id": "94e2fa3c-af83-4864-8004-f47abc211415",
      "name": "全量更新素材数据_min",
      "credentials": {
        "mySql": {
          "id": "YVvRfusvpBUQVaPr",
          "name": "d w d"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "truncate table dwd.dwd_千川素材h_中间表;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        2368
      ],
      "id": "1a952a1e-d2fc-4bd9-9375-8c6d604fbc3b",
      "name": "全量更新素材数据_H",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "truncate table dwd.dwd_抖音_千川_素材H;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        2528
      ],
      "id": "d9f2537a-b2fb-4aba-8231-8973d0842319",
      "name": "全量更新千川素材-财务_H",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE dwd.千川_素材_汇总;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        2688
      ],
      "id": "43f1f49d-632d-454e-a005-c00efa3399d1",
      "name": "聚合千川素材分钟数据",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE ads.ads_直播素材_m分摊表; \n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4528,
        1888
      ],
      "id": "b2a278fc-5488-4c0b-a10f-c1b733cc6cde",
      "name": "全量更新直播-投放-订单",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4208,
        2208
      ],
      "id": "1131fa89-c854-4bbb-8bdb-6065537587d7",
      "name": "确保KW级数据插入完成",
      "webhookId": "7bc5610e-5535-4685-b90b-2bb60463a840"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd124f1a-bcad-4ab3-ba6b-12f92b09fb7c",
              "name": "app_id",
              "value": "1839534117097475",
              "type": "string"
            },
            {
              "id": "0f002b25-a0bb-47e1-a0c6-1e7e880910cb",
              "name": "secret",
              "value": "8dc62f034eabffb2b2c746918fdc5f600ab78371",
              "type": "string"
            },
            {
              "id": "728f0df4-5e32-4354-af8e-607d729b9f0c",
              "name": "=refresh_token",
              "value": "={{ $json.refresh_token }}",
              "type": "string"
            },
            {
              "id": "0cf23071-a468-4d81-be72-cc183c709413",
              "name": "Content-Type",
              "value": "=application/json",
              "type": "string"
            },
            {
              "id": "3bd17fe6-a4db-4077-a2c2-a6b9e588fd4a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        2960
      ],
      "id": "3b88be23-f2b2-4b4a-8d4e-d727611bc9e0",
      "name": "巨量千川参数配置"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.oceanengine.com/open_api/oauth2/refresh_token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": 1839534117097475,\n  \"secret\": \"8dc62f034eabffb2b2c746918fdc5f600ab78371\",\n  \"refresh_token\": \"{{ $json.refresh_token }}\"\n}\n",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        2960
      ],
      "id": "3b664a5d-62f3-4e4d-9a36-9b0866c66a80",
      "name": "刷新Access Token",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b090717c-857a-49c1-a973-c648792c15a0",
              "leftValue": "={{ (new Date($json.updated_at).getTime() / 1000 + $json.expires_at) - $now.toUnixInteger() > 7200 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        2736
      ],
      "id": "3b17703f-4e3c-4021-b838-9d29bd00ef89",
      "name": "Access Token是否有效"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sys_auth_tokens WHERE platfrom = '巨量千川';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -48,
        2736
      ],
      "id": "00fa3b56-b2a7-420c-8032-94978af320da",
      "name": "巨量千川token查询",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3966c69-d05b-44a7-a1f4-1e01cb56e4fb",
              "name": "start_time",
              "value": "={{ $today.minus({ days: 1 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "f40597ec-4e4c-4501-92f2-2cf9ff828ef8",
              "name": "end_time",
              "value": "={{ $today.minus({ days: 0 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "08a7cc50-670c-4c4c-a8c3-6342b59f2331",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2720
      ],
      "id": "d6c5a06f-f7bf-4517-8d4b-137e36b4c63e",
      "name": "配置请求参数1"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "sys_auth_tokens",
          "mode": "list",
          "cachedResultName": "sys_auth_tokens"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "platfrom",
        "valueToMatchOn": "={{ $json.platfrom }}",
        "valuesToSend": {
          "values": [
            {
              "column": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "column": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "column": "expires_at",
              "value": "={{ $json.expires_at }}"
            },
            {
              "column": "refresh_expires_at",
              "value": "={{ $json.refresh_expires_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        2960
      ],
      "id": "3a2a0e59-7b68-4357-9fce-d451b4a5e45e",
      "name": "有效token写回数据库",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "command": "=pkill -f \"qc_material.py\" || true; sleep 1; \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" \"/Users/test/Documents/python代码/数据处理/数据获取/qc_material.py\" --start_time \"{{ $('配置请求参数').item.json.start_time }}\" --end_time \"{{ $('配置请求参数').item.json.end_time }}\" --access_token \"{{ $('配置请求参数').item.json.access_token }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        704,
        2720
      ],
      "id": "558d86dc-3d39-4cfd-8087-0abe41b6c58e",
      "name": "执行千川素材ETL脚本",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim.dim_sys_metadata_dict (\n    db_name, \n    table_name, \n    table_comment,    -- 新增：同步表的注释\n    column_name, \n    column_type, \n    column_comment, \n    is_pk,            -- 新增：自动判断主键\n    is_nullable, \n    column_order\n)\nSELECT \n    c.TABLE_SCHEMA,\n    c.TABLE_NAME,\n    t.TABLE_COMMENT,  -- 从 TABLES 表获取表的注释\n    c.COLUMN_NAME,\n    -- 智能拼接类型，保留精度信息\n    CASE \n        WHEN c.DATA_TYPE IN ('varchar', 'char') THEN CONCAT(c.DATA_TYPE, '(', c.CHARACTER_MAXIMUM_LENGTH, ')')\n        WHEN c.DATA_TYPE IN ('decimal', 'float', 'double') AND c.NUMERIC_PRECISION IS NOT NULL \n            THEN CONCAT(c.DATA_TYPE, '(', c.NUMERIC_PRECISION, ',', c.NUMERIC_SCALE, ')')\n        ELSE c.DATA_TYPE \n    END AS column_type,\n    c.COLUMN_COMMENT,\n    CASE WHEN c.COLUMN_KEY = 'PRI' THEN 1 ELSE 0 END AS is_pk,\n    c.IS_NULLABLE,\n    c.ORDINAL_POSITION\nFROM information_schema.COLUMNS c\nLEFT JOIN information_schema.TABLES t \n    ON c.TABLE_SCHEMA = t.TABLE_SCHEMA \n    AND c.TABLE_NAME = t.TABLE_NAME\nWHERE \n    -- 🎯 圈定你的业务库，排除系统库\n    c.TABLE_SCHEMA IN ('ods', 'dwd', 'dim', 'ads', 'bi_report')\n    AND c.TABLE_NAME NOT LIKE '%_bak%'  -- 排除备份表\n    AND c.TABLE_NAME NOT LIKE '%_tmp%'  -- 排除临时表\nORDER BY c.TABLE_SCHEMA\nON DUPLICATE KEY UPDATE\n    -- 当字段已存在时，更新技术属性，但保留你手动维护的业务属性（如 data_owner）\n    table_comment = VALUES(table_comment),\n    column_type = VALUES(column_type),\n    column_comment = VALUES(column_comment), -- 如果源库修改了注释，这里会同步\n    is_pk = VALUES(is_pk),\n    is_nullable = VALUES(is_nullable),\n    column_order = VALUES(column_order),\n    update_time = NOW();\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3712,
        3584
      ],
      "id": "3bea31ed-8923-4ba1-ac93-c803a3c3f55f",
      "name": "DIM_元数据字典表",
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "YVvRfusvpBUQVaPr",
          "name": "d w d"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nIF(COUNT(*)=51840,'true','false') `千川素材今日ETL结果`\nFROM ods.ods_千川素材_其他 t1\nINNER JOIN ods.ods_千川素材_直播画面_m t2\nON t1.时间 = t2.时间\nWHERE DATE_FORMAT(t1.时间,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        2720
      ],
      "id": "3c36683c-85a6-4e3b-8bdb-292b44387711",
      "name": "查库断言-数据质量监控",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wjIBgKtKM3LXEXYL",
          "mode": "list",
          "cachedResultUrl": "/workflow/wjIBgKtKM3LXEXYL",
          "cachedResultName": "[ETL-WeChat] 订单+售后+结算同步"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "appid": "={{ $json.appid }}",
            "secret": "={{ $json.secret }}",
            "start_time": "={{ $json.start_date }}",
            "end_time": "={{ $json.end_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appid",
              "displayName": "appid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "secret",
              "displayName": "secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        2032
      ],
      "id": "be78e53a-ec04-463d-98bf-44fd6af5e7eb",
      "name": "Call '[ETL-WeChat] '子工作流",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "msg_type": "interactive",
        "content": "={{\n  JSON.stringify({\n    \"config\": {\n      \"wide_screen_mode\": true,\n      \"enable_forward\": true\n    },\n    \"header\": {\n      \"template\": \"red\",\n      \"title\": {\n        \"content\": \"🚨 ETL 数据同步异常告警\",\n        \"tag\": \"plain_text\"\n      }\n    },\n    \"elements\": [\n      {\n        \"tag\": \"markdown\",\n        \"content\": `**🔴 千川素材投放数据同步任务异常**`\n      },\n      {\n        \"tag\": \"hr\"\n      },\n      {\n        \"tag\": \"note\",\n        \"elements\": [\n          {\n            \"tag\": \"plain_text\",\n            \"content\": \"🤖 n8n 数据中台监控系统 • 请及时排查工作流日志\"\n          }\n        ]\n      }\n    ]\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1200,
        2960
      ],
      "id": "03e43225-3d23-408d-9b03-ec1bc95fe092",
      "name": "飞书推送数据质量问题",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc638048-ecfa-4782-9d3c-2cf08acce759",
              "leftValue": "={{ $json['千川素材今日ETL结果'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        2720
      ],
      "id": "2266eac1-4efd-428c-ae51-f02184c056d3",
      "name": "数据正确性验证"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT COUNT(*) FROM ods.ods_微信_订单_全量) AS `订单数`,\n  (SELECT COUNT(*) FROM ods.ods_微信_售后_全量) AS `售后数`,\n  (SELECT COUNT(*) FROM ods.ods_微信_结算_全量) AS `结算数`;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -48,
        2032
      ],
      "id": "fbfc3856-4dec-4a02-a3f8-ba66811ecd43",
      "name": "微信订单更新前统计",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"config\": {\n      \"wide_screen_mode\": true,\n      \"enable_forward\": true\n    },\n    \"header\": {\n      \"template\": \"red\",\n      \"title\": {\n        \"content\": \"🚨 ETL 数据同步异常告警\",\n        \"tag\": \"plain_text\"\n      }\n    },\n    \"elements\": [\n      {\n        \"tag\": \"markdown\",\n        \"content\": `**🔴 千川素材投放数据同步任务异常**\n    **对比结果如下** (更新后 / 更新前)：\n    📦 **订单数**：${$json['订单数']} / ${$('微信订单更新前统计').first().json['订单数']}\n    🛠️ **售后数**：${$json['售后数']} / ${$('微信订单更新前统计').first().json['售后数']}\n    💰 **结算数**：${$json['结算数']} / ${$('微信订单更新前统计').first().json['结算数']}`       \n      },\n      {\n        \"tag\": \"hr\"\n      },\n      {\n        \"tag\": \"note\",\n        \"elements\": [\n          {\n            \"tag\": \"plain_text\",\n            \"content\": \"🤖 n8n 数据中台监控系统 • 请及时排查工作流日志\"\n          }\n        ]\n      }\n    ]\n  })\n}}\n",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1200,
        1856
      ],
      "id": "e8fa5f04-0800-42b9-9104-e4a431870d36",
      "name": "飞书推送数据质量问题1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT COUNT(*) FROM ods.ods_微信_订单_全量) AS `订单数`,\n  (SELECT COUNT(*) FROM ods.ods_微信_售后_全量) AS `售后数`,\n  (SELECT COUNT(*) FROM ods.ods_微信_结算_全量) AS `结算数`;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        2032
      ],
      "id": "730aaf60-dc60-42a2-842b-d3fe5e02111a",
      "name": "微信订单更新后统计",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc638048-ecfa-4782-9d3c-2cf08acce759",
              "leftValue": "={{ $json['订单数'] }}",
              "rightValue": "={{ $('微信订单更新前统计').item.json['订单数'] }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "1283b866-3875-4b47-bd99-af90546e6221",
              "leftValue": "={{ $json['售后数'] }}",
              "rightValue": "={{ $('微信订单更新前统计').item.json['售后数'] }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c05eeb2b-29ef-49de-ab4e-118e4ede496d",
              "leftValue": "={{ $json['结算数'] }}",
              "rightValue": "={{ $('微信订单更新前统计').item.json['结算数'] }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        2032
      ],
      "id": "092e50cc-6210-4a5a-a7b7-4f375a89a476",
      "name": "数据是否异常"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3966c69-d05b-44a7-a1f4-1e01cb56e4fb",
              "name": "start_time",
              "value": "={{ $today.minus({ days: 1 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "f40597ec-4e4c-4501-92f2-2cf9ff828ef8",
              "name": "end_time",
              "value": "={{ $today.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "08a7cc50-670c-4c4c-a8c3-6342b59f2331",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2304
      ],
      "id": "201bdbcb-8e1f-4539-a737-1f95bc2ebdf2",
      "name": "配置请求参数3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nIF(COUNT(*)=51840,'true','false') `千川素材今日ETL结果`\nFROM ods.ods_千川素材_其他 t1\nINNER JOIN ods.ods_千川素材_直播画面_m t2\nON t1.时间 = t2.时间\nWHERE DATE_FORMAT(t1.时间,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        2304
      ],
      "id": "5bb2cbb9-e101-47cd-a02f-ac25fa2b3d52",
      "name": "查库断言-数据质量监控1",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "{\n    \"text\": \"test content\"\n}",
        "uuid": "a0d69e20"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1200,
        2528
      ],
      "id": "b7562f75-384b-425c-bcdb-e0b82dd76c2c",
      "name": "飞书推送数据质量问题2",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc638048-ecfa-4782-9d3c-2cf08acce759",
              "leftValue": "={{ $json['千川素材今日ETL结果'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        2304
      ],
      "id": "eb51bfe2-dfad-43fb-a40b-99f26d4b758d",
      "name": "数据正确性验证1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd124f1a-bcad-4ab3-ba6b-12f92b09fb7c",
              "name": "app_id",
              "value": "1839534117097475",
              "type": "string"
            },
            {
              "id": "0f002b25-a0bb-47e1-a0c6-1e7e880910cb",
              "name": "secret",
              "value": "8dc62f034eabffb2b2c746918fdc5f600ab78371",
              "type": "string"
            },
            {
              "id": "728f0df4-5e32-4354-af8e-607d729b9f0c",
              "name": "=refresh_token",
              "value": "={{ $json.refresh_token }}",
              "type": "string"
            },
            {
              "id": "0cf23071-a468-4d81-be72-cc183c709413",
              "name": "Content-Type",
              "value": "=application/json",
              "type": "string"
            },
            {
              "id": "3bd17fe6-a4db-4077-a2c2-a6b9e588fd4a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        3488
      ],
      "id": "521620f2-7d7b-463e-8cef-e8b9461d758d",
      "name": "巨量千川参数配置2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.oceanengine.com/open_api/oauth2/refresh_token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": 1839534117097475,\n  \"secret\": \"8dc62f034eabffb2b2c746918fdc5f600ab78371\",\n  \"refresh_token\": \"{{ $json.refresh_token }}\"\n}\n",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        3488
      ],
      "id": "7a8b6245-6793-4328-9aaf-a8a7792b01a2",
      "name": "刷新Access Token2",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b090717c-857a-49c1-a973-c648792c15a0",
              "leftValue": "={{ (new Date($json.updated_at).getTime() / 1000 + $json.expires_at) - $now.toUnixInteger() > 7200 }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        3264
      ],
      "id": "0da4545f-09a5-43fb-9751-2b1ab450c6f4",
      "name": "Access Token是否有效2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3966c69-d05b-44a7-a1f4-1e01cb56e4fb",
              "name": "start_time",
              "value": "={{ $today.minus({ days: 1 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "f40597ec-4e4c-4501-92f2-2cf9ff828ef8",
              "name": "end_time",
              "value": "={{ $today.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "08a7cc50-670c-4c4c-a8c3-6342b59f2331",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        3248
      ],
      "id": "3e238fcf-3ac7-49d4-9ba2-8c2b0824f875",
      "name": "配置请求参数5"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "sys_auth_tokens",
          "mode": "list",
          "cachedResultName": "sys_auth_tokens"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "platfrom",
        "valueToMatchOn": "={{ $json.platfrom }}",
        "valuesToSend": {
          "values": [
            {
              "column": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "column": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "column": "expires_at",
              "value": "={{ $json.expires_at }}"
            },
            {
              "column": "refresh_expires_at",
              "value": "={{ $json.refresh_expires_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        3488
      ],
      "id": "60fca662-8d1b-45b4-b744-9650d30e322e",
      "name": "有效token写回数据库2",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nIF(COUNT(*)=51840,'true','false') `千川素材今日ETL结果`\nFROM ods.ods_千川素材_其他 t1\nINNER JOIN ods.ods_千川素材_直播画面_m t2\nON t1.时间 = t2.时间\nWHERE DATE_FORMAT(t1.时间,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        960,
        3248
      ],
      "id": "bf38c625-fe0b-4386-80c4-d64e742163c6",
      "name": "查库断言-数据质量监控2",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "{\n    \"text\": \"test content\"\n}",
        "uuid": "a0d69e20"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1200,
        3488
      ],
      "id": "607b8517-0c1c-416b-903b-ad1c1f3c315b",
      "name": "飞书推送数据质量问题3",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc638048-ecfa-4782-9d3c-2cf08acce759",
              "leftValue": "={{ $json['千川素材今日ETL结果'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        3248
      ],
      "id": "8896c2e6-64b7-47f8-825b-1e78d257f768",
      "name": "数据正确性验证2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sys_auth_tokens WHERE platfrom = '巨量千川';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -48,
        2304
      ],
      "id": "f473f303-fbf3-4e53-9de3-e1c9a814dcbb",
      "name": "抖店token查询",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sys_auth_tokens WHERE platfrom = '巨量千川';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -48,
        3264
      ],
      "id": "342fdb94-7946-47ae-af84-b18c4ef0ee1f",
      "name": "小红书token查询",
      "credentials": {
        "mySql": {
          "id": "WywhHIXm1gxfGnUt",
          "name": "API_data"
        }
      }
    },
    {
      "parameters": {
        "content": "# 元数据管理与数据字典 (Metadata & Dictionary)\n----\n    CREATE TABLE dim.dim_sys_metadata_dict (\n    \n        `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT '主键ID',\n        `db_name` varchar(64) NOT NULL COMMENT '库名 (ODS/DWD/DIM/ADS)',\n        `table_name` varchar(128) NOT NULL COMMENT '表英文名',\n        `table_comment` varchar(256) DEFAULT NULL COMMENT '表中文注释/业务含义',\n        `column_name` varchar(128) NOT NULL COMMENT '字段英文名',\n        `column_type` varchar(64) DEFAULT NULL COMMENT '字段完整类型 (如 decimal(18,2))',\n        `column_comment` text COMMENT '字段业务口径/逻辑说明',\n        `is_pk` tinyint(1) DEFAULT '0' COMMENT '是否主键 (1=是, 0=否)',\n        `is_nullable` varchar(10) DEFAULT 'YES' COMMENT '是否允许为空',\n        `column_order` int(11) DEFAULT '0' COMMENT '字段排序',\n        \n        -- 🌟 新增：企业级管理字段\n        `data_owner` varchar(64) DEFAULT 'DataTeam' COMMENT '数据负责人',\n        `security_level` varchar(20) DEFAULT 'L1' COMMENT '安全等级 (L1:公开, L2:内部, L3:绝密)',\n        `tag_list` varchar(255) DEFAULT NULL COMMENT '标签 (如: 财务, 流量, 核心)',\n        \n        `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '首次同步时间',\n        `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '最后更新时间',\n        \n        PRIMARY KEY (`id`),\n        -- 核心逻辑：确保同一个库、同一个表、同一个字段只有一行记录\n        UNIQUE KEY `uk_db_table_col` (`db_name`,`table_name`,`column_name`),\n        KEY `idx_table` (`table_name`),\n        KEY `idx_comment` (`column_comment`(100))\n    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='[核心] 全域数据字典与元数据表';\n",
        "height": 592,
        "width": 1504,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3696,
        2912
      ],
      "id": "4c4bc4d9-1087-4a2d-a225-ab668dee3a52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dad07f5e-6960-43a7-bea2-fa93b37f5e10",
              "name": "platfrom",
              "value": "巨量千川",
              "type": "string"
            },
            {
              "id": "a7136aca-bbda-41d0-8da2-e065cd8dfece",
              "name": "access_token",
              "value": "={{ $json.data.access_token }}",
              "type": "string"
            },
            {
              "id": "c96cdd53-d53f-4cba-abce-1fa793935ff1",
              "name": "refresh_token",
              "value": "={{ $json.data.refresh_token }}",
              "type": "string"
            },
            {
              "id": "104ec242-ac94-4a27-8f32-ad5ed011c3e6",
              "name": "expires_at",
              "value": "={{ $json.data.expires_in }}",
              "type": "number"
            },
            {
              "id": "aaa90c69-d2b0-4b7e-b52a-2aefe362834a",
              "name": "refresh_expires_at",
              "value": "={{ $json.data.refresh_token_expires_in }}",
              "type": "number"
            },
            {
              "id": "9c5f76f6-390f-4d1b-8e53-a69bec764688",
              "name": "start_time",
              "value": "={{ $today.minus({ days: 1 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "ca0eef33-7b07-4e00-a5a4-6819523f2bed",
              "name": "end_time",
              "value": "={{ $today.minus({ days: 0 }).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2960
      ],
      "id": "de515786-271b-4ccd-bad4-39d3ffdd2584",
      "name": "配置请求参数"
    },
    {
      "parameters": {
        "command": "=source /data/venv/myenv/bin/activate && python /data/code/D_api_data.py"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        704,
        2304
      ],
      "id": "bd9564b2-789b-4c64-8030-16b6b125a29a",
      "name": "执行抖店ETL脚本",
      "credentials": {
        "sshPassword": {
          "id": "lt6qexyjLBMLVEX1",
          "name": "阿里云服务器-公司"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27f7c00b-f7c9-4c83-8050-652665b15092",
              "name": "cookie",
              "value": "passport_csrf_token=4ee63a5195ad0f5f66db5d64752465c0; passport_csrf_token_default=4ee63a5195ad0f5f66db5d64752465c0; ttwid=1%7CPkqWLJDHMMj_AVonCvl9Q3DOjoHkJh7Llm4W0Ctsy4w%7C1770432341%7C3f4da97eff2a61e9e7efffd2e8b3c6fa6d24ce6daeb520ed1df9857a9de852f7; passport_mfa_token=CjYP86qCh%2F26GKtqMfkFdCbsjhysx5JhQIczA%2BkknJkLcDhXZrnEMaf2A27ZQ04NK9LWyoFZsmgaSgo8AAAAAAAAAAAAAFAKAnbHJQ4hI9tg4Bv9OfnSBdX%2FXQNQuZB25y4T4hKeuHj6cuXb9LYX4lejFwJrnieLENX7iA4Y9rHRbCACIgEDEkwplg%3D%3D; odin_tt=c220fabbfee5feb25eb6de6a7b7cb4f632fd2f837a82d89c03f54fc965b4cd9d364c9a310c1d589bfcb63a442892e25f7d16bdf36718cc42457b95448a086c8b; passport_auth_status=1f4fa6d8addab02c7ba00e450c41c88a%2C; passport_auth_status_ss=1f4fa6d8addab02c7ba00e450c41c88a%2C; uid_tt=8c7b11b4a29b61e707224e7d3adc64a6; uid_tt_ss=8c7b11b4a29b61e707224e7d3adc64a6; sid_tt=f712e185ba4d81d285abb3979c016f72; sessionid=f712e185ba4d81d285abb3979c016f72; sessionid_ss=f712e185ba4d81d285abb3979c016f72; is_staff_user=false; ucas_c0=CkAKBTEuMC4wEKaIjfzY7anDaRjmJiDYuPCcwK2IASiwITCHq7CP0a1kQPHOmswGSPGC184GUIC8zpr82JW4aVhvEhTW7OskJOBa-LlXf8AgmBoQ5IH92Q; ucas_c0_ss=CkAKBTEuMC4wEKaIjfzY7anDaRjmJiDYuPCcwK2IASiwITCHq7CP0a1kQPHOmswGSPGC184GUIC8zpr82JW4aVhvEhTW7OskJOBa-LlXf8AgmBoQ5IH92Q; ucas_c0_compass=CkAKBTEuMC4wEKOIhMSt7qnDaRjmJiDYuPCcwK2IASiwITCHq7CP0a1kQPfOmswGSPeC184GUIC8zpr82JW4aVhvEhQ_0cx_MufpIKc4jklrjZG1MDhbPQ; ucas_c0_ss_compass=CkAKBTEuMC4wEKOIhMSt7qnDaRjmJiDYuPCcwK2IASiwITCHq7CP0a1kQPfOmswGSPeC184GUIC8zpr82JW4aVhvEhQ_0cx_MufpIKc4jklrjZG1MDhbPQ; sid_guard=f712e185ba4d81d285abb3979c016f72%7C1770432375%7C5184000%7CWed%2C+08-Apr-2026+02%3A46%3A15+GMT; sid_ucp_v1=1.0.0-KDUwMTIwZTZjZTU2YTEyMDI2MDZhYzUwNWIxYzU5NjY0MmIxMTFlMzQKGAiHq7CP0a1kEPfOmswGGLAhIAw4AkDxBxoCbHEiIGY3MTJlMTg1YmE0ZDgxZDI4NWFiYjM5NzljMDE2Zjcy; ssid_ucp_v1=1.0.0-KDUwMTIwZTZjZTU2YTEyMDI2MDZhYzUwNWIxYzU5NjY0MmIxMTFlMzQKGAiHq7CP0a1kEPfOmswGGLAhIAw4AkDxBxoCbHEiIGY3MTJlMTg1YmE0ZDgxZDI4NWFiYjM5NzljMDE2Zjcy; session_tlb_tag=sttt%7C7%7C9xLhhbpNgdKFq7OXnAFvcv_________tXqzhQu8ndwvl3gugNGU_Au56vMx_z1m3CDywWQc8NZU%3D; LUOPAN_DT=session_7603948541970481459; COMPASS_LUOPAN_DT=session_7603948541970481459; ecom_us_lt_compass=bfac82712daae1f1be5d8a9245837f97023c070054d05a900dd59b55aca6d516; ecom_us_lt_ss_compass=bfac82712daae1f1be5d8a9245837f97023c070054d05a900dd59b55aca6d516; csrf_session_id=06b003b1b376bcf87019d83656677725; s_v_web_id=verify_mlmf160b_PyQ8IgDl_8yfh_4n7x_AfWr_un10ruoTuNRj; gd_random=eyJtYXRjaCI6dHJ1ZSwicGVyY2VudCI6MC40NDU3Njg0NDU1OTQzMDU5NX0=.Kui+32mMJ5MvbU/tdlb0flv2OYzhMtbfOVhUhbJ1o44=; gfkadpd=4499,20590",
              "type": "string"
            },
            {
              "id": "662b8f52-a8f6-4df0-838f-a9df572ee8db",
              "name": "start_time",
              "value": "={{ $today.minus({ days: 2 }).format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "0a647bcb-80f7-4031-9196-49cb445c3c6e",
              "name": "end_time",
              "value": "={{ $today.minus({ days: 2 }).format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "3cb097a1-f1d1-4f1b-8e5a-9138e46f3c6b",
              "name": "db_url",
              "value": "敏感数据",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        2544
      ],
      "id": "8cbfb37a-0e8b-429a-9185-1bc97c66d5cc",
      "name": "爬虫参数配置",
      "notesInFlow": true,
      "notes": "参数1：登录态cookie\n参数2:  数据库配置\n参数2:  开始时间\n参数2:  结束时间\n"
    },
    {
      "parameters": {
        "command": "=PYTHONIOENCODING=utf-8 \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" -X utf8 \"/Users/test/Documents/python代码/爬虫/抖店罗盘/榜单/shop_rank.py\" --start_time \"{{ $json.start_time }}\" --end_time \"{{ $json.end_time }}\" --cookie \"{{ $json.cookie }}\" --db_url \"{{ $json.db_url }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        2784
      ],
      "id": "60c16929-af5d-45a1-9ae5-3282975e4ec9",
      "name": "店铺榜单数据采集",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】店铺榜单增量更新可能缺失！\n\n对比结果如下 (更新数量 / 理论数量)：\n📦 图书教育数：${$json['书杂报']}/200\n🛠️ 学习用品数：${$json['学习用品']}/200\n💰 母婴童装数：${$json['童装']}/200\n💰 母婴童鞋数：${$json['童鞋']}/200\n🤔 今日爬取店铺数据总数：${$json['总数']}/2000\n\n请开发同学立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2880,
        2800
      ],
      "id": "bd2d5f49-197b-4dec-9abb-8c24d35f19bb",
      "name": "飞书推送数据质量问题5",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68d1d62-7e05-4316-812d-c05a384ea039",
              "leftValue": "={{ $json['书杂报'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a64a2ff6-c6ff-4880-95b9-8c777aa24c71",
              "leftValue": "={{ $json['学习用品'] }}",
              "rightValue": "=200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "35411ed3-8e0d-4d87-a672-dc2d38d31c22",
              "leftValue": "={{ $json['童装'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d9f5cbca-f2a8-40d7-883c-7bbcf2330b7f",
              "leftValue": "={{ $json['童鞋'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7e9ecaf4-1d85-4b93-8b68-9407f9ff8c35",
              "leftValue": "={{ $json['总数'] }}",
              "rightValue": 1800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        2784
      ],
      "id": "5918774b-88c7-422a-b877-0b8f0f402ecf",
      "name": "数据完整性判断"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】店铺榜单增量更新可能缺失！\n\n对比结果如下 (更新数量 / 理论数量)：\n📦 图书教育数：${$json['书杂报']}/800\n🛠️ 学习用品数：${$json['学习用品']}/800\n💰 母婴童装数：${$json['童装']}/800\n💰 母婴童鞋数：${$json['童鞋']}/800\n🤔 今日爬取店铺数据总数：${$json['总数']}/7400+\n\n请开发同学立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2880,
        2560
      ],
      "id": "1a10f1b5-14f5-4f33-8d1c-d421ba6f1e79",
      "name": "飞书推送数据质量问题6",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68d1d62-7e05-4316-812d-c05a384ea039",
              "leftValue": "={{ $json['书杂报'] }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "a64a2ff6-c6ff-4880-95b9-8c777aa24c71",
              "leftValue": "={{ $json['学习用品'] }}",
              "rightValue": "=700",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "35411ed3-8e0d-4d87-a672-dc2d38d31c22",
              "leftValue": "={{ $json['童装'] }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d9f5cbca-f2a8-40d7-883c-7bbcf2330b7f",
              "leftValue": "={{ $json['童鞋'] }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7e9ecaf4-1d85-4b93-8b68-9407f9ff8c35",
              "leftValue": "={{ $json['总数'] }}",
              "rightValue": 7200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        2544
      ],
      "id": "63a7bde5-4e31-4a43-afde-4f944c6647ff",
      "name": "数据完整性判断1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】内容榜单增量更新可能缺失！\n\n对比结果如下 (更新数量 / 理论数量)：\n📦 图书教育数：${$json['书杂报']}/200\n🛠️ 学习用品数：${$json['学习用品']}/200\n💰 母婴童装数：${$json['童装']}/200\n💰 母婴童鞋数：${$json['童鞋']}/200\n🤔 今日爬取店铺数据总数：${$json['总数']}/2000\n\n请开发同学立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2880,
        3040
      ],
      "id": "49fc5869-9bac-4dd4-a272-52643b4842aa",
      "name": "飞书推送数据质量问题7",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68d1d62-7e05-4316-812d-c05a384ea039",
              "leftValue": "={{ $json['书杂报'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a64a2ff6-c6ff-4880-95b9-8c777aa24c71",
              "leftValue": "={{ $json['学习用品'] }}",
              "rightValue": "=200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "35411ed3-8e0d-4d87-a672-dc2d38d31c22",
              "leftValue": "={{ $json['童装'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d9f5cbca-f2a8-40d7-883c-7bbcf2330b7f",
              "leftValue": "={{ $json['童鞋'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7e9ecaf4-1d85-4b93-8b68-9407f9ff8c35",
              "leftValue": "={{ $json['总数'] }}",
              "rightValue": 1800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        3024
      ],
      "id": "7ebc090c-1bf5-4b83-a294-7ea1eb0009b3",
      "name": "数据完整性判断2"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】店铺榜单增量更新可能缺失！\n\n对比结果如下 (更新数量 / 理论数量)：\n📦 图书教育数：${$json['书杂报']}/200\n🛠️ 学习用品数：${$json['学习用品']}/200\n💰 母婴童装数：${$json['童装']}/200\n💰 母婴童鞋数：${$json['童鞋']}/200\n🤔 今日爬取店铺数据总数：${$json['总数']}/2000\n\n请开发同学立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2880,
        3296
      ],
      "id": "2f1c44bd-8506-4426-8401-5b2e9f05d688",
      "name": "飞书推送数据质量问题8",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68d1d62-7e05-4316-812d-c05a384ea039",
              "leftValue": "={{ $json['书杂报'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a64a2ff6-c6ff-4880-95b9-8c777aa24c71",
              "leftValue": "={{ $json['学习用品'] }}",
              "rightValue": "=200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "35411ed3-8e0d-4d87-a672-dc2d38d31c22",
              "leftValue": "={{ $json['童装'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d9f5cbca-f2a8-40d7-883c-7bbcf2330b7f",
              "leftValue": "={{ $json['童鞋'] }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7e9ecaf4-1d85-4b93-8b68-9407f9ff8c35",
              "leftValue": "={{ $json['总数'] }}",
              "rightValue": 1800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        3280
      ],
      "id": "47af7adc-761b-4d90-9544-88c70c9c4746",
      "name": "数据完整性判断3"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】搜索榜单增量更新可能缺失！\n\n对比结果如下 (更新数量 / 预期数量)：\n📦 图书教育数：${$json['书杂报']}/200+\n🛠️ 学习用品数：${$json['学习用品']}/400+\n💰 母婴童装数：${$json['童装']}/400+\n💰 母婴童鞋数：${$json['童鞋']}/400+\n🤔 今日爬取店铺数据总数：${$json['总数']}/4000+\n\n请立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2880,
        3536
      ],
      "id": "48fc9788-01e8-45ef-84be-38e3e1969997",
      "name": "飞书推送数据质量问题9",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e68d1d62-7e05-4316-812d-c05a384ea039",
              "leftValue": "={{ $json['书杂报'] }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "a64a2ff6-c6ff-4880-95b9-8c777aa24c71",
              "leftValue": "={{ $json['学习用品'] }}",
              "rightValue": "=200",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "35411ed3-8e0d-4d87-a672-dc2d38d31c22",
              "leftValue": "={{ $json['童装'] }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d9f5cbca-f2a8-40d7-883c-7bbcf2330b7f",
              "leftValue": "={{ $json['童鞋'] }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7e9ecaf4-1d85-4b93-8b68-9407f9ff8c35",
              "leftValue": "={{ $json['总数'] }}",
              "rightValue": 3800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "1c52b9ed-1e12-4119-bf97-4d6fadfdaf1e",
              "leftValue": "={{ $json['婴童尿裤'] }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        3520
      ],
      "id": "4302b730-32d6-459c-af08-f8006f5da7a8",
      "name": "数据完整性判断4"
    },
    {
      "parameters": {
        "command": "=PYTHONIOENCODING=utf-8 \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" -X utf8 \"/Users/test/Documents/python代码/爬虫/抖店罗盘/KOL_RANK.py\" --start_time \"{{ $json.start_time }}\" --end_time \"{{ $json.end_time }}\" --cookie \"{{ $json.cookie }}\" --db_url \"{{ $json.db_url }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        2544
      ],
      "id": "15bbfacf-06e0-4cdb-9bf1-cc10f595c630",
      "name": "达人榜单数据采集",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=PYTHONIOENCODING=utf-8 \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" -X utf8 \"/Users/test/Documents/python代码/爬虫/抖店罗盘/榜单/content.py\" --start_time \"{{ $json.start_time }}\" --end_time \"{{ $json.end_time }}\" --cookie \"{{ $json.cookie }}\" --db_url \"{{ $json.db_url }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        3024
      ],
      "id": "70ca99d2-c6f4-4d35-a3fe-d3de72f773fc",
      "name": "内容榜单数据采集",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=PYTHONIOENCODING=utf-8 \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" -X utf8 \"/Users/test/Documents/python代码/爬虫/抖店罗盘/榜单/product_rank.py\" --start_time \"{{ $json.start_time }}\" --end_time \"{{ $json.end_time }}\" --cookie \"{{ $json.cookie }}\" --db_url \"{{ $json.db_url }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        3280
      ],
      "id": "8a43dc1b-41e9-4153-a600-49883887b1a0",
      "name": "商品榜单数据采集",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=PYTHONIOENCODING=utf-8 \"/Users/test/Applications(macos)/anaconda3/envs/myenv/bin/python\" -X utf8 \"/Users/test/Documents/python代码/爬虫/抖店罗盘/榜单/search_rank.py\" --start_time \"{{ $json.start_time }}\" --end_time \"{{ $json.end_time }}\" --cookie \"{{ $json.cookie }}\" --db_url \"{{ $json.db_url }}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2208,
        3520
      ],
      "id": "40869c5a-0a49-4d65-a530-d6167b10798a",
      "name": "搜索榜单数据采集",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n-- IFNULL(日期,''),\n-- 榜单,\n-- 行业类目,\n-- 账号类型\n--  行业类目\n-- COUNT(DISTINCT 达人ID) cnt\n--  ,日期\n--  , 榜单\nIFNULL(SUM(IF(行业类目 LIKE '%书籍%',1,0)),0) 书杂报,\nIFNULL(SUM(IF(行业类目 LIKE '%学习用品%',1,0)),0) 学习用品,\nIFNULL(SUM(IF(行业类目 LIKE '%电子教育%',1,0)),0) 电子教育,\nIFNULL(SUM(IF(行业类目 LIKE '%玩具乐器%',1,0)),0) 玩具乐器,\nIFNULL(SUM(IF(行业类目 LIKE '%童装%',1,0)),0) 童装,\nIFNULL(SUM(IF(行业类目 LIKE '%童鞋%',1,0)),0) 童鞋,\nIFNULL(SUM(IF(行业类目 LIKE '%奶粉%',1,0)),0) 奶粉,\nIFNULL(SUM(IF(行业类目 LIKE '%婴童用品%',1,0)),0) 婴童用品,\nIFNULL(SUM(IF(行业类目 LIKE '%家纺%',1,0)),0) 儿童家纺,\nIFNULL(SUM(IF(行业类目 LIKE '%尿裤%',1,0)),0) 婴童尿裤,\nCOUNT(*) 总数\n--  COUNT(*) 今日爬取条数\n-- ,COUNT(DISTINCT `达人ID`)\nFROM ods.ods_店铺榜单_day\nWHERE 日期 = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2416,
        2784
      ],
      "id": "2d44e137-f26f-4af4-bf9f-441b4aeea6d4",
      "name": "统计采集情况",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n-- IFNULL(日期,''),\n-- 榜单,\n-- 行业类目,\n-- 账号类型\n--  行业类目\n-- COUNT(DISTINCT 达人ID) cnt\n--  ,日期\n--  , 榜单\nIFNULL(SUM(IF(行业类目 LIKE '%书籍%',1,0)),0) 书杂报,\nIFNULL(SUM(IF(行业类目 LIKE '%学习用品%',1,0)),0) 学习用品,\nIFNULL(SUM(IF(行业类目 LIKE '%电子教育%',1,0)),0) 电子教育,\nIFNULL(SUM(IF(行业类目 LIKE '%玩具乐器%',1,0)),0) 玩具乐器,\nIFNULL(SUM(IF(行业类目 LIKE '%童装%',1,0)),0) 童装,\nIFNULL(SUM(IF(行业类目 LIKE '%童鞋%',1,0)),0) 童鞋,\nIFNULL(SUM(IF(行业类目 LIKE '%奶粉%',1,0)),0) 奶粉,\nIFNULL(SUM(IF(行业类目 LIKE '%婴童用品%',1,0)),0) 婴童用品,\nIFNULL(SUM(IF(行业类目 LIKE '%家纺%',1,0)),0) 儿童家纺,\nIFNULL(SUM(IF(行业类目 LIKE '%尿裤%',1,0)),0) 婴童尿裤,\nCOUNT(*) 总数\n--  COUNT(*) 今日爬取条数\n-- ,COUNT(DISTINCT `达人ID`)\nFROM ods.ods_达人榜单_day\nWHERE 日期 = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2416,
        2544
      ],
      "id": "a17bc18e-c9b0-4e5b-8cec-30c5a866a8ea",
      "name": "统计采集情况1",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        2816
      ],
      "id": "577651c7-cdc7-47e1-8625-246cb3fa795d",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n    \"text\": `🚨 【数据异常告警】工作流运行失败！\n    失败节点：${$json.execution.lastNodeExecuted}\n    错误信息：${$json.execution.error.message}\n    请开发同学立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "=a0d69e21"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        -528,
        2816
      ],
      "id": "c6e19021-714a-4488-b891-a27be0145567",
      "name": "飞书推送数据质量问题10",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        2016
      ],
      "id": "e79297cd-8c42-488d-828f-b2d74effd8bd",
      "name": "清理内存"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        2704
      ],
      "id": "cb493f26-4290-413a-9ec2-60199662239d",
      "name": "清理内存1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        2288
      ],
      "id": "b3de8056-0d61-455d-9005-3abc2b81cd9c",
      "name": "清理内存2"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        3232
      ],
      "id": "aad51106-a8c0-4675-bb93-e1e06e875f00",
      "name": "清理内存3"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        2512
      ],
      "id": "0d54811b-59be-4f34-b64f-c831c9f46adf",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        704,
        2960
      ],
      "id": "534dec0b-fbad-4b1e-8520-58604ede02ff",
      "name": "执行千川抖音号+财务脚本",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n-- IFNULL(日期,''),\n-- 榜单,\n-- 行业类目,\n-- 账号类型\n--  行业类目\n-- COUNT(DISTINCT 达人ID) cnt\n--  ,日期\n--  , 榜单\nIFNULL(SUM(IF(行业类目 LIKE '%书籍%',1,0)),0) 书杂报,\nIFNULL(SUM(IF(行业类目 LIKE '%学习用品%',1,0)),0) 学习用品,\nIFNULL(SUM(IF(行业类目 LIKE '%电子教育%',1,0)),0) 电子教育,\nIFNULL(SUM(IF(行业类目 LIKE '%玩具乐器%',1,0)),0) 玩具乐器,\nIFNULL(SUM(IF(行业类目 LIKE '%童装%',1,0)),0) 童装,\nIFNULL(SUM(IF(行业类目 LIKE '%童鞋%',1,0)),0) 童鞋,\nIFNULL(SUM(IF(行业类目 LIKE '%奶粉%',1,0)),0) 奶粉,\nIFNULL(SUM(IF(行业类目 LIKE '%婴童用品%',1,0)),0) 婴童用品,\nIFNULL(SUM(IF(行业类目 LIKE '%家纺%',1,0)),0) 儿童家纺,\nIFNULL(SUM(IF(行业类目 LIKE '%尿裤%',1,0)),0) 婴童尿裤,\nCOUNT(*) 总数\n--  COUNT(*) 今日爬取条数\n-- ,COUNT(DISTINCT `达人ID`)\nFROM ods.ods_商品榜单_总榜_day\nWHERE 日期 = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2416,
        3280
      ],
      "id": "3933901e-61f6-4f75-a8cf-589c0cd0b1e2",
      "name": "统计采集情况2",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n-- IFNULL(日期,''),\n-- 榜单,\n-- 行业类目,\n-- 账号类型\n--  行业类目\n-- COUNT(DISTINCT 达人ID) cnt\n--  ,日期\n--  , 榜单\nIFNULL(SUM(IF(行业类目 LIKE '%书籍%',1,0)),0) 书杂报,\nIFNULL(SUM(IF(行业类目 LIKE '%学习用品%',1,0)),0) 学习用品,\nIFNULL(SUM(IF(行业类目 LIKE '%电子教育%',1,0)),0) 电子教育,\nIFNULL(SUM(IF(行业类目 LIKE '%玩具乐器%',1,0)),0) 玩具乐器,\nIFNULL(SUM(IF(行业类目 LIKE '%童装%',1,0)),0) 童装,\nIFNULL(SUM(IF(行业类目 LIKE '%童鞋%',1,0)),0) 童鞋,\nIFNULL(SUM(IF(行业类目 LIKE '%奶粉%',1,0)),0) 奶粉,\nIFNULL(SUM(IF(行业类目 LIKE '%婴童用品%',1,0)),0) 婴童用品,\nIFNULL(SUM(IF(行业类目 LIKE '%家纺%',1,0)),0) 儿童家纺,\nIFNULL(SUM(IF(行业类目 LIKE '%尿裤%',1,0)),0) 婴童尿裤,\nCOUNT(*) 总数\n--  COUNT(*) 今日爬取条数\n-- ,COUNT(DISTINCT `达人ID`)\nFROM ods.ods_搜索榜单_day\nWHERE 日期 = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2416,
        3520
      ],
      "id": "c3060946-c3a9-4445-a93e-5ac85bb293fe",
      "name": "统计采集情况3",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n日期,\n-- 榜单,\n-- 行业类目,\n-- 账号类型\n--  行业类目\n-- COUNT(DISTINCT 达人ID) cnt\n--  ,日期\n--  , 榜单\ncast(SUM(IF(行业类目 LIKE '%书籍%',1,0)) AS DECIMAL(10,0)) 书杂报,\nSUM(IF(行业类目 LIKE '%学习用品%',1,0)) 学习用品,\nSUM(IF(行业类目 LIKE '%电子教育%',1,0)) 电子教育,\nSUM(IF(行业类目 LIKE '%玩具乐器%',1,0)) 玩具乐器,\nSUM(IF(行业类目 LIKE '%童装%',1,0)) 童装,\nSUM(IF(行业类目 LIKE '%童鞋%',1,0)) 童鞋,\nSUM(IF(行业类目 LIKE '%奶粉%',1,0)) 奶粉,\nSUM(IF(行业类目 LIKE '%婴童用品%',1,0)) 婴童用品,\nSUM(IF(行业类目 LIKE '%家纺%',1,0)) 儿童家纺,\nSUM(IF(行业类目 LIKE '%尿裤%',1,0)) 婴童尿裤,\nCOUNT(*) 总数\n--  COUNT(*) 今日爬取条数\n-- ,COUNT(DISTINCT `达人ID`)\nFROM ods.ods_店铺榜单_day\nWHERE 日期 = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d')\n-- AND 行业类目 LIKE '%书籍%'\nGROUP BY 1\n-- HAVING cnt<200\nORDER BY 日期 DESC\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2416,
        3024
      ],
      "id": "a0c88771-d2ee-4f8c-b74c-a6506df4fb70",
      "name": "统计采集情况4",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 5,
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3392,
        2576
      ],
      "id": "26a5c356-00d0-417d-a3b0-a16632bf1fcd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2560
      ],
      "id": "62740f8d-945c-4f2c-8198-3f66c815c6ef",
      "name": "内存清理"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2800
      ],
      "id": "3796370a-5754-49df-94ed-6de043770df8",
      "name": "内存清理1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        3040
      ],
      "id": "5f4afe2e-a843-4744-ae08-695874d6d22f",
      "name": "内存清理2"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        3296
      ],
      "id": "79fcd805-fc16-41a3-992f-279a7928e088",
      "name": "内存清理3"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        3536
      ],
      "id": "cb78b03a-3862-4674-b368-515fc65bfe91",
      "name": "内存清理4"
    },
    {
      "parameters": {
        "resource": "auth",
        "operation": "auth:getAccessToken"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        5520,
        2848
      ],
      "id": "369d21a6-9faa-4809-8bd8-85583f9ce968",
      "name": "Auth:getAccessToken auth",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "content": "# MySQL数据库<-->飞书多维表\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)\n\n并行执行4个飞书同步脚本：\n- 订单达人同步\n- 订单商品同步\n- 榜单达人同步\n- 主播排期同步\n\n## 流程\n- 1、获取飞书多维表appToken\n-  2、查询table ID\n-  3、分页查询飞书多维表订单达人记录\n-  4、查询mysql数据库订单达人维度表\n-  5、对比两张表的达人ID，有则更新/无则插入记录",
        "height": 2784,
        "width": 1648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5440,
        944
      ],
      "id": "ecf2229d-81e3-4f4c-bf68-dd9ac7fddff9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d07e3eb-4175-45a0-9b9c-5cb02a74a873",
              "name": "app_token",
              "value": "={{ $json.app_token }}",
              "type": "string"
            },
            {
              "id": "522b42b4-c128-4958-bd95-5e57e3945aaf",
              "name": "table_id",
              "value": "={{ $json.table_id }}",
              "type": "string"
            },
            {
              "id": "ab6e6a06-e613-41aa-a508-918412927e6e",
              "name": "sql_schema",
              "value": "SELECT *,NOW() `最后更新时间` FROM dim.dim_达人维度 limit 1;",
              "type": "string"
            },
            {
              "id": "8142c453-7898-40f7-82ee-af8a6db66060",
              "name": "sql_data",
              "value": "SELECT `UID来源`, `达人UID`, `达人名称`, `最早成交时间`, `最后成交时间`    ,`总实付金额` AS `总GMV`,`支付订单数`,    CAST(COALESCE(REPLACE(REPLACE(TRIM(`总GSV`), ',', ''), '元', ''),            0         ) AS DECIMAL(10,2)    ) AS `总GSV`    , `最早投流时间`, `最后投流时间`,    `是否投流`, `账号类型`, `create_time`, `update_time`,NOW() `最后更新时间`FROM dim.dim_达人维度\n",
              "type": "string"
            },
            {
              "id": "0d649773-5ab1-4c98-946e-837948c90479",
              "name": "unique_key",
              "value": "达人UID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6176,
        2592
      ],
      "id": "95109edd-3137-41b2-97fa-f3ca22c67dff",
      "name": "配置订单达人同步参数"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VQCcHspTZsHmK00n",
          "mode": "list",
          "cachedResultUrl": "/workflow/VQCcHspTZsHmK00n",
          "cachedResultName": "[MySQL-> Feishu]通用Sync逻辑"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "app_token": "={{ $json.app_token }}",
            "table_id": "={{ $json.table_id }}",
            "sql_schema": "={{ $json.sql_schema }}",
            "sql_data": "={{ $json.sql_data }}",
            "unique_key": "={{ $json.unique_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "app_token",
              "displayName": "app_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_schema",
              "displayName": "sql_schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_data",
              "displayName": "sql_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unique_key",
              "displayName": "unique_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6384,
        2592
      ],
      "id": "ec465864-844f-4e50-8cad-4a81178b577f",
      "name": "Call '[MySQL-> Feishu]通用Sync逻辑'1",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim.dim_达人维度 (\n    `UID来源`,\n    `达人UID`,\n    `达人名称`,\n    -- `达人标签`,\n    `最早成交时间`,\n    `最后成交时间`,\n    `总销量`,\n    `总GMV` ,\n    `总实付金额`,\n    `支付订单数`,\n    `总GSV`,\n    `退后订单数`,\n    `退货率`,\n    `总佣金`,\n    `最早投流时间`,\n    `最后投流时间`,\n    `是否投流`,\n    `账号类型`\n)\nSELECT\n    base.`平台` AS `UID来源`,\n    base.`达人UID` as `达人UID`,\n    base.`最新达人名称` as `达人名称`,\n    -- IF(DATEDIFF(NOW(), base.`最早加入时间`) > 30, '老客户', '新客户') AS `达人标签`,\n    base.`最早加入时间` as `最早成交时间`,\n    base.`最晚加入时间` as `最后成交时间`,\n    base.`总销量` as `总销量`,\n    base.`达人GMV` as `总GMV`,\n    base.`总实付金额` as `总实付金额`,\n    base.支付订单数 as `支付订单数`,\n    base.`达人GSV` as `总GSV`,\n    base.退后订单数 as `退后订单数`,\n    IF(base.退货率 IS NULL, 0, base.退货率) as `退货率`,\n    base.`总佣金` as `总佣金`,\n    IFNULL(qc.最早投流时间, NULL) as `最早投流时间`,\n    IFNULL(qc.最后投流时间, NULL) as `最后投流时间`,\n    -- 基于正确聚合后的总消耗判断是否投流\n    -- qc.总消耗,\n    IF(IFNULL(qc.总消耗, 0) > 0, '是', '否') AS `是否投流`,\n    IF(base.`达人UID` in ('95882467048','1748646316999804','sphUQcmVKamseY6','wx9e7fc0514292b805','7467699792727917625'), '店播', if(base.`最新达人名称` in('小店自卖'), '小店', '达播')) AS `账号类型`\nFROM (\n    -- 1. 电商宽表聚合：获取达人基础信息\n    SELECT\n        `平台`,\n        `达人UID`,\n        MAX(CASE WHEN rn1 = 1 THEN `达人名称` END) AS 最新达人名称,\n        MIN(`提交时间`) AS 最早加入时间,\n        MAX(`提交时间`) AS 最晚加入时间,\n        SUM(`购买数量`) AS 总销量,\n        SUM(`订单总额`) AS 达人GMV,\n        SUM(`总实付金额`) AS 总实付金额,\n        COUNT(支付时间) AS 支付订单数,\n        SUM(`退后金额`) AS 达人GSV,\n        COUNT(支付时间)-SUM(退货订单数) AS 退后订单数,\n        CASE\n            WHEN COUNT(支付时间) = 0 THEN 0  -- 如果支付订单数为0，则退货率为0\n            ELSE ROUND(SUM(退货订单数) / COUNT(支付时间), 2) -- 否则正常计算\n        END AS 退货率,\n        SUM(`达人佣金`) AS 总佣金\n    FROM (\n        SELECT\n            `平台`,\n            `达人UID`,\n            `达人名称`,\n            `提交时间`,\n            `购买数量`,\n            `订单总额`,\n            if(支付时间 IS NULL,0,`买家实付`) AS `总实付金额`,\n            支付时间,\n            if(支付时间 IS NULL,0,(`买家实付`-`退款金额`)) AS `退后金额`,\n            CASE WHEN 退款金额>0 THEN 1 else 0 END AS 退货订单数,\n            `达人佣金` AS `达人佣金`,\n            ROW_NUMBER() OVER (PARTITION BY `平台`, `达人UID` ORDER BY `提交时间` DESC) AS rn1\n        FROM dwd_电商数据_宽表\n    ) t\n    GROUP BY `平台`, `达人UID`\n) base\n-- 2. 关联聚合后的千川消耗数据\nLEFT JOIN (\n    -- 2.1 子查询：先为每个达人的所有千川记录打上分区和行号\n    SELECT\n        `【千抖H】平台` COLLATE utf8mb4_0900_ai_ci AS `平台`,\n        `【千抖H】UID` COLLATE utf8mb4_0900_ai_ci AS `达人UID`,\n        -- 聚合计算总消耗\n        SUM(IFNULL(`【千抖H】整体消耗`, 0)) AS 总消耗,\n        MAX(`【千抖H】Hour`) 最后投流时间,\n        MIN(`【千抖H】Hour`) 最早投流时间,\n        -- 保留最新的达人名称（通过窗口函数实现）\n        MAX(CASE WHEN rn = 1 THEN `【千抖H】短ID` END) AS 千川达人名称\n    FROM (\n        SELECT\n            `【千抖H】平台`,\n            `【千抖H】UID`,\n            `【千抖H】短ID`,\n            【千抖H】Hour,\n            `【千抖H】整体消耗`,\n            -- 核心修正：按唯一的达人ID进行分区，以获取每个达人的最新记录\n            ROW_NUMBER() OVER (\n                PARTITION BY `【千抖H】UID`\n                ORDER BY `【千抖H】Hour` DESC\n            ) AS rn\n        FROM spider_01.`千川抖音hour`\n    ) t2\n    -- 2.2 外层聚合：按达人ID分组，计算总消耗和最新名称\n    GROUP BY `【千抖H】平台`, `【千抖H】UID`\n) qc ON base.`达人UID` = qc.`达人UID`\n-- 过滤无效数据\n-- WHERE base.`达人UID` IS NOT NULL\nORDER BY 1 desc,2 \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4800,
        1888
      ],
      "id": "8be37944-2198-4de8-8c53-5b7a07feae5f",
      "name": "ADS_订单达人数据",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "YVvRfusvpBUQVaPr",
          "name": "d w d"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim.`dim_商品维度` \n-- 步骤1：先按商品ID聚合，计算累计销量（核心：聚合所有数据）\nWITH ProductSalesAgg AS (\n    SELECT\n        平台 AS 商品ID来源,\n        `商品ID`,\n        SUM(if(支付时间 IS NULL,0,购买数量)) AS 总销量,  -- 累计该商品ID的所有购买数量\n        SUM(if(支付时间 IS NULL,0,订单总额)) AS 总销售额, -- 可选：累计销售额\n        MIN(提交时间) AS 最早售出时间, -- 可选：商品最早售出时间\n        MAX(提交时间) AS 最后售出时间  -- 可选：商品最后售出时间\n    FROM\n        dwd.dwd_电商数据_宽表\n    GROUP BY\n        平台, `商品ID`  -- 按商品ID维度聚合\n),\n-- 步骤2：获取每个商品ID的最新商品名称（解决商品名称可能变更的问题）\nLatestProductName AS (\n    SELECT\n        `商品ID`,\n        商品名称,\n        -- 按商品ID分区，取最新提交时间的商品名称\n        ROW_NUMBER() OVER(PARTITION BY `商品ID` ORDER BY 提交时间 DESC) AS rn\n    FROM\n        dwd.dwd_电商数据_宽表\n    WHERE\n        商品名称 IS NOT NULL AND 商品名称 != ''  -- 过滤空名称\n)\n-- 步骤3：关联聚合销量和最新商品名称\nSELECT\n    a.商品ID来源,\n    a.`商品ID`,\n    n.商品名称,  -- 每个商品ID的最新名称\n    a.总销量,\n    a.总销售额,\n    -- CASE \n    --     WHEN a.总销量 = 0 THEN 0  -- 如果销量为0，则平均售价为0\n    --     ELSE ROUND(a.总销售额 / a.总销量, 2) -- 否则正常计算\n    -- END AS 平均售价,\n    a.最早售出时间,\n    a.最后售出时间,\n    '2022-01-01 00:00:00' as update_time\nFROM\n    ProductSalesAgg a\nLEFT JOIN\n    LatestProductName n ON a.`商品ID` = n.`商品ID` AND n.rn = 1  -- 只关联最新名称\nORDER BY\n    a.商品ID来源 DESC,\n    a.`商品ID`;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4800,
        2048
      ],
      "id": "5f50bad4-e0f5-42cc-a79d-fc4f5f0e142a",
      "name": "ADS_订单商品数据",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "YVvRfusvpBUQVaPr",
          "name": "d w d"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim.`dim_达人榜单`\nWITH base_stats AS (\n    SELECT \n        `达人ID`,\n        `榜单`,\n        `账号类型`,\n        `日期`,\n        当前排名 AS `排名`,\n        `达人昵称`, `抖音号ID`, `头像`, `行业类目`, `粉丝数`,\n        `品牌名称`, `品牌ID`, `机构名称`, `机构ID`,\n        `成交额下限`, `成交额上限`, `成交数下限`, `成交数上限`,\n        -- 1. rn 用于锁定达人最新的基础信息（属性）\n        ROW_NUMBER() OVER(PARTITION BY `达人ID` ORDER BY `日期` DESC, 成交额下限 DESC) as rn,\n        -- 2. 分榜单计算最新一天的排名和成交指标（解决今日指标被rn=1误杀问题）\n        ROW_NUMBER() OVER(PARTITION BY `达人ID`, `榜单` ORDER BY `日期` DESC) as rn_per_list,\n        -- 3. 计算累计值\n        SUM(成交额下限) OVER(PARTITION BY `达人ID`, `榜单`) AS 累计额下限,\n        SUM(成交额上限) OVER(PARTITION BY `达人ID`, `榜单`) AS 累计额上限,\n        SUM(成交数下限) OVER(PARTITION BY `达人ID`, `榜单`) AS 累计数下限,\n        SUM(成交数上限) OVER(PARTITION BY `达人ID`, `榜单`) AS 累计数上限\n    FROM ods.ods_达人榜单_day\n    WHERE `日期` >= '2026-01-01'\n)\nSELECT \n    -- 属性部分：严格取 rn=1 (全表最新)\n    MAX(CASE WHEN rn = 1 THEN CAST(DATE_FORMAT(`日期`, '%Y-%m-%d 00:00:00') AS DATETIME) END) AS `日期`,\n    CASE MAX(CASE WHEN rn = 1 THEN `行业类目` END) \n        WHEN '3C数码家电-电子教育' THEN '电子教育'\n        WHEN '图书教育-书籍/杂志/报纸' THEN '图书教育'\n        WHEN '图书教育-学习用品/办公用品' THEN '学习用品'\n        WHEN '母婴宠物-儿童床品/家纺' THEN '儿童家纺'\n        WHEN '母婴宠物-奶粉/辅食/营养品/零食' THEN '母婴奶辅'\n        WHEN '母婴宠物-婴童用品' THEN '婴童用品'\n        WHEN '母婴宠物-童装/婴儿装/亲子装' THEN '母婴童装'\n        WHEN '母婴宠物-童鞋/婴儿鞋/亲子鞋' THEN '母婴童鞋'\n        WHEN '玩具乐器-玩具/童车/益智/积木/模型' THEN '玩具乐器'\n        WHEN '母婴宠物-婴童尿裤' THEN '婴童尿裤'\n        ELSE '未知类目'\n    END AS `行业类目`,\n    MAX(CASE WHEN rn = 1 THEN `榜单` END) AS `榜单`, \n    MAX(CASE WHEN rn = 1 THEN `账号类型` END) AS `账号类型`,\n    MAX(CASE WHEN rn = 1 THEN `头像` END) AS `头像URL`,\n    `达人ID`,\n    MAX(CASE WHEN rn = 1 THEN `达人昵称` END) AS `达人昵称`,\n    MAX(CASE WHEN rn = 1 THEN `抖音号ID` END) AS `抖音号ID`,\n    MAX(CASE WHEN rn = 1 THEN `品牌名称` END) AS `品牌名称`,\n    MAX(CASE WHEN rn = 1 THEN `品牌ID` END) AS `品牌ID`,\n    MAX(CASE WHEN rn = 1 THEN `机构名称` END) AS `机构名称`,\n    MAX(CASE WHEN rn = 1 THEN `机构ID` END) AS `机构ID`,\n    MAX(CASE WHEN rn = 1 THEN `粉丝数` END) AS `粉丝数`,\n    -- 指标部分：改为针对每个榜单取各自最新的记录 (rn_per_list=1)\n    -- ================== 【排名】 ==================\n    MAX(CASE WHEN `榜单` = '直播带货榜' AND rn_per_list = 1 THEN `排名` END) AS `直播今日排名`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' AND rn_per_list = 1 THEN `排名` END) AS `视频今日排名`,\n    -- ================== 【直播榜指标】 ==================\n    MAX(CASE WHEN `榜单` = '直播带货榜' AND rn_per_list = 1 THEN `成交额下限` ELSE 0 END) AS `直播成交额下限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' AND rn_per_list = 1 THEN `成交额上限` ELSE 0 END) AS `直播成交额上限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' AND rn_per_list = 1 THEN `成交数下限` ELSE 0 END) AS `直播成交数下限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' AND rn_per_list = 1 THEN `成交数上限` ELSE 0 END) AS `直播成交数上限`,\n    -- 累计（取该榜单历史最大值）\n    MAX(CASE WHEN `榜单` = '直播带货榜' THEN `累计额下限` ELSE 0 END) AS `直播累计成交额下限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' THEN `累计额上限` ELSE 0 END) AS `直播累计成交额上限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' THEN `累计数下限` ELSE 0 END) AS `直播累计成交数下限`,\n    MAX(CASE WHEN `榜单` = '直播带货榜' THEN `累计数上限` ELSE 0 END) AS `直播累计成交数上限`,\n    -- ================== 【视频榜指标】 ==================\n    MAX(CASE WHEN `榜单` = '短视频带货榜' AND rn_per_list = 1 THEN `成交额下限` ELSE 0 END) AS `视频成交额下限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' AND rn_per_list = 1 THEN `成交额上限` ELSE 0 END) AS `视频成交额上限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' AND rn_per_list = 1 THEN `成交数下限` ELSE 0 END) AS `视频成交数下限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' AND rn_per_list = 1 THEN `成交数上限` ELSE 0 END) AS `视频成交数上限`,\n    -- 累计\n    MAX(CASE WHEN `榜单` = '短视频带货榜' THEN `累计额下限` ELSE 0 END) AS `视频累计成交额下限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' THEN `累计额上限` ELSE 0 END) AS `视频累计成交额上限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' THEN `累计数下限` ELSE 0 END) AS `视频累计成交数下限`,\n    MAX(CASE WHEN `榜单` = '短视频带货榜' THEN `累计数上限` ELSE 0 END) AS `视频累计成交数上限`,\n\n    NOW() AS update_time\nFROM base_stats\nGROUP BY `达人ID`\n-- 保持过滤逻辑\nHAVING MAX(CASE WHEN rn = 1 THEN `抖音号ID` END) IS NOT NULL \n   AND MAX(CASE WHEN rn = 1 THEN `抖音号ID` END) != ''\nORDER BY `日期` DESC, `直播今日排名` ASC, `视频今日排名` ASC;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4800,
        2208
      ],
      "id": "8e33f4f7-c794-4e4c-b4b3-3d1673c6e85b",
      "name": "ADS_罗盘榜单达人",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4800,
        2672
      ],
      "id": "c6588f4f-e861-487a-9602-9611257cb8f6",
      "name": "ADS_罗盘榜单店铺",
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dwd.dwd_电商数据_宽表 (\n  店铺ID,主订单ID,子订单ID,售后单号,用户ID,提交时间,支付时间,完成时间,售后申请时间,结算时间,\n  订单状态,售后状态,结算状态,售后原因,售后备注,商品ID,SKUID,商品名称,下单来源,\n  视频ID,直播ID,支付方式,达人UID,达人名称,内容ID,广告ID,流量来源ID,物流公司,物流单号,\n  收件人姓名,收件人电话,收件人省份,收件人城市,购买数量,商家实收,买家实付,订单总额,\n  商家承担金额,平台承担金额,达人承担金额,退款金额,结算金额,订单当前盈收,结算总收入,结算总支出,\n  店铺优惠,平台优惠,达人优惠,达人佣金,平台佣金,服务商佣金,团长佣金,\n  渠道分成,其他分成,渠道推广费,运费,支付补贴,政府补贴,其它补贴,免佣补贴,\n  平台\n)\nSELECT\n  店铺ID,主订单ID,子订单ID,售后单号,用户ID,提交时间,支付时间,完成时间,售后申请时间,结算时间,\n  订单状态,售后状态,结算状态,售后原因,售后备注,商品ID,SKUID,商品名称,下单来源,\n  视频ID,直播ID,支付方式,达人UID,达人名称,内容ID,广告ID,流量来源ID,物流公司,物流单号,\n  收件人姓名,收件人电话,收件人省份,收件人城市,购买数量,商家实收,买家实付,订单总额,\n  商家承担金额,平台承担金额,达人承担金额,退款金额,结算金额,订单当前盈收,结算总收入,结算总支出,\n  店铺优惠,平台优惠,达人优惠,达人佣金,平台佣金,服务商佣金,团长佣金,\n  渠道分成,其他分成,渠道推广费,运费,支付补贴,政府补贴,其它补贴,免佣补贴,\n  平台\nFROM (\n  -- 1. 抖店订单表\n  SELECT\n    CAST(IFNULL(orders.`店铺ID`, '') AS CHAR(64)) AS 店铺ID,\n    CAST(IFNULL(orders.`根订单ID`, '') AS CHAR(64)) AS 主订单ID,\n    CAST(IFNULL(orders.`子订单ID`, '') AS CHAR(64)) AS 子订单ID,\n    CAST(IFNULL(afters.`售后单号`, '') AS CHAR(255)) AS 售后单号,\n    CAST(IFNULL(orders.`用户唯一ID`, '') AS CHAR(255)) AS 用户ID,\n    IF(orders.提交时间 IS NULL OR orders.提交时间 = '', NULL, STR_TO_DATE(orders.提交时间, '%Y-%m-%d %H:%i:%s')) AS 提交时间,\n    IF(orders.支付时间 IS NULL OR orders.支付时间 = '', NULL, STR_TO_DATE(orders.支付时间, '%Y-%m-%d %H:%i:%s')) AS 支付时间,\n    IF(orders.订单完成时间 IS NULL OR orders.订单完成时间 = '', NULL, STR_TO_DATE(orders.订单完成时间, '%Y-%m-%d %H:%i:%s')) AS 完成时间,\n    IF(afters.申请时间 IS NULL OR afters.申请时间 = '', NULL, STR_TO_DATE(afters.申请时间, '%Y-%m-%d %H:%i:%s')) AS 售后申请时间,\n    IF(settle.结算时间 IS NULL OR settle.结算时间 = '', NULL, STR_TO_DATE(settle.结算时间, '%Y-%m-%d %H:%i:%s')) AS 结算时间,\n    CAST(\n      IFNULL(\n        CASE orders.订单状态\n          WHEN '已使用' THEN '已完成'\n          WHEN '待使用' THEN '待收货'\n          ELSE orders.订单状态\n        END, ''\n      ) AS CHAR(64)\n    ) AS 订单状态,\n    -- CAST(\n    --   IFNULL(\n    --     IF(afters.`退款总金额(元)`< orders.`支付金额(元)`,'部分退款',IF(afters.售后状态 = '同意退款，退款成功', '全额退款',\n    --       IF(afters.售后状态 = '补寄成功', '售后关闭', afters.售后状态)\n    --     )), '无售后'\n    --   ) AS CHAR(64)\n    -- ) AS 售后状态,\n    cast(IF(afters.部分售后类型 IS NOT NULL,IF(afters.部分售后类型='1','部分退款','全额退款'),'无售后') AS CHAR(64)) AS 售后状态,\n    -- CAST(\n    --   IFNULL(\n    --     CASE settle.交易类型编码\n    --       WHEN '0' THEN '已结算'\n    --       WHEN '1' THEN '已结算'     -- '结算后退款-原路退回'\n    --       WHEN '2' THEN '已结算'     --'保证金退款-支出退回'\n    --       WHEN '3' THEN '已结算'     --'结算后退款-非原路退回'\n    --       ELSE '无需结算'  \n    --     END,'无需结算'  \n    --   ) AS CHAR(64)\n    -- ) AS 结算状态,\n    CAST(\n      IFNULL(\n        CASE settle.交易类型编码\n          WHEN '0' THEN CONCAT('已结算') \n          WHEN '1' THEN CONCAT('已结算')\n          WHEN '2' THEN CONCAT('已结算')\n          WHEN '3' THEN CONCAT('已结算')\n          ELSE CONCAT('无需结算')        \n        END,\n        '无需结算' \n      ) AS CHAR(64)\n    ) AS 结算状态    ,\n    -- settle.`结算状态` 结算状态,\n    CAST(IFNULL(afters.`售后原因`, '') AS CHAR(255)) AS 售后原因,\n    CAST(IFNULL(afters.`售后备注`, '') AS CHAR(255)) AS 售后备注,\n    CAST(IFNULL(orders.商品ID, '') AS CHAR(64)) AS 商品ID,\n    CAST(IFNULL(orders.`SKU ID`, '') AS CHAR(64)) AS SKUID,\n    CAST(IFNULL(orders.商品名称, '') AS CHAR(64)) AS 商品名称,\n    CAST(IFNULL(orders.下单端, '') AS CHAR(64)) AS 下单来源,\n    CAST(IFNULL(orders.`视频ID`, '') AS CHAR(255)) AS 视频ID,\n    CAST(IFNULL(orders.`直播房间ID`, '') AS CHAR(64)) AS 直播ID,\n    CAST(IFNULL(orders.支付方式, '') AS CHAR(64)) AS 支付方式,\n    -- CAST(IF(CAST(orders.`主播ID(达人)` AS CHAR(64))='0' OR orders.`主播ID(达人)`=0 OR orders.`主播ID(达人)`='', IF(settle.`达人ID` !='', settle.达人ID, 'douyin0'), orders.`主播ID(达人)`) AS CHAR(64)) AS 达人UID,\n    CAST(\n      IF(\n        TRIM(COALESCE(CAST(orders.`主播ID(达人)` AS CHAR(64)), '')) IN ('0', '', '00', '000'),\n        IF(\n          TRIM(COALESCE(settle.`达人ID`, '')) NOT IN ('0', '', '00', '000'),\n          settle.`达人ID`,\n          'douyin0'\n        ),\n        IF(\n          TRIM(COALESCE(CAST(orders.`主播ID(达人)` AS CHAR(64)), '')) IN ('0', '', '00', '000'),\n          'douyin0',\n          orders.`主播ID(达人)`\n        )\n      ) AS CHAR(64)\n    ) AS 达人UID,    \n    CAST(IF(orders.`主播名称(达人)`='', IF(settle.`达人名称` !='', settle.达人名称, '小店自卖'),orders.`主播名称(达人)`) AS CHAR(64)) AS 达人名称,\n    CAST(IFNULL(orders.`内容ID`, '') AS CHAR(64)) AS 内容ID,\n    CAST(IFNULL(orders.`广告ID`, '') AS CHAR(64)) AS 广告ID,\n    CAST(IFNULL(orders.`流量来源ID`, '') AS CHAR(64)) AS 流量来源ID,\n    CAST(IFNULL(orders.物流公司, '') AS CHAR(64)) AS 物流公司,\n    CAST(IFNULL(orders.物流单号, '') AS CHAR(64)) AS 物流单号,\n    CAST(IFNULL(orders.收件人姓名, '') AS CHAR(64)) AS 收件人姓名,\n    CAST(IFNULL(orders.收件人电话, '') AS CHAR(64)) AS 收件人电话,\n    CAST(IFNULL(orders.收件人省份, '') AS CHAR(64)) AS 收件人省份,\n    CAST(IFNULL(orders.收件人城市, '') AS CHAR(64)) AS 收件人城市,\n    CAST(IFNULL(orders.购买数量, 0) AS DECIMAL(18,0)) AS 购买数量,\n    CAST(IFNULL(orders.`商家实际收入(元)`, 0.00) AS DECIMAL(18,2)) AS 商家实收,\n    CAST(IFNULL(orders.`支付金额(元)`, 0.00) AS DECIMAL(18,2)) AS 买家实付,\n    CAST(IFNULL(orders.`订单总金额(元)`, 0.00) AS DECIMAL(18,2)) AS 订单总额,\n    CAST(IFNULL(orders.`商家承担金额(元)`, 0.00) AS DECIMAL(18,2)) AS 商家承担金额,\n    CAST(IFNULL(orders.`平台承担金额(元)`, 0.00) AS DECIMAL(18,2)) AS 平台承担金额,\n    CAST(IFNULL(orders.`达人承担金额(元)`, 0.00) AS DECIMAL(18,2)) AS 达人承担金额,\n    CAST(IFNULL(afters.`退款总金额(元)`, 0.00) AS DECIMAL(18,2)) AS 退款金额,\n    CAST(IFNULL(settle.`结算金额(元)`, 0.00) AS DECIMAL(18,2)) AS 结算金额,\n    CAST(\n      IFNULL(\n        settle.`结算金额(元)`,(orders.`商家实际收入(元)`- afters.`退款总金额(元)`)\n      ) AS DECIMAL(18,2)\n    ) AS 订单当前盈收,\n    CAST(IFNULL(settle.`总收入(元)`, 0.00) AS DECIMAL(18,2)) AS 结算总收入,\n    CAST(IFNULL(settle.`总支出(元)`, 0.00) AS DECIMAL(18,2)) AS 结算总支出,\n    CAST(IFNULL(settle.`店铺优惠券金额(元)`, 0.00) AS DECIMAL(18,2)) AS 店铺优惠,\n    CAST(IFNULL(settle.`平台优惠券金额(元)`, 0.00) AS DECIMAL(18,2)) AS 平台优惠,\n    CAST(IFNULL(settle.`达人优惠券金额(元)`, 0.00) AS DECIMAL(18,2)) AS 达人优惠,\n    CAST(IFNULL(settle.`达人佣金(元)`, 0.00) AS DECIMAL(18,2)) AS 达人佣金,\n    CAST(IFNULL(settle.`平台服务费(元)`, 0.00) AS DECIMAL(18,2)) AS 平台佣金,\n    CAST(IFNULL(settle.`合作伙伴佣金(元)`, 0.00) AS DECIMAL(18,2)) AS 服务商佣金,\n    CAST(IFNULL(settle.`上校服务费(元)`, 0.00) AS DECIMAL(18,2)) AS 团长佣金,\n    CAST(IFNULL(settle.`上校渠道费(元)`, 0.00) AS DECIMAL(18,2)) AS 渠道分成,\n    CAST(IFNULL(settle.`其他分摊金额(元)`, 0.00) AS DECIMAL(18,2)) AS 其他分成,\n    CAST(IFNULL(settle.`渠道推广费(元)`, 0.00) AS DECIMAL(18,2)) AS 渠道推广费,\n    CAST((IFNULL(settle.`打包费(元)`, 0.00) + IFNULL(settle.`运费金额(元)`, 0.00) - IFNULL(settle.`运费优惠金额(元)`, 0.00)) AS DECIMAL(18,2)) AS 运费, \n    CAST((IFNULL(settle.`ZT支付补贴(元)`, 0.00) + IFNULL(settle.`ZR支付补贴(元)`, 0.00) + IFNULL(settle.`银行补贴金额(元)`, 0.00)) AS DECIMAL(18,2)) AS 支付补贴, \n    CAST((IFNULL(settle.`政府补贴金额(元)`, 0.00) + IFNULL(settle.`政府补贴店铺减免(元)`, 0.00)) AS DECIMAL(18,2)) AS 政府补贴, \n    CAST((IFNULL(settle.`换新补贴金额(元)`, 0.00) + IFNULL(settle.`其他平台补贴(元)`, 0.00)) AS DECIMAL(18,2)) AS 其它补贴, \n    CAST(IFNULL(settle.`实际免佣金金额(元)`, 0.00) AS DECIMAL(18,2)) AS 免佣补贴,\n    orders.平台 平台\n  FROM ods.ods_抖店_订单_全量 orders\n  LEFT JOIN (\n    SELECT\n      店铺订单ID,\n      GROUP_CONCAT(售后单号 SEPARATOR ',') AS 售后单号,\n      MAX(申请时间) AS 申请时间,\n      -- SUBSTRING_INDEX(GROUP_CONCAT(结算状态描述 ORDER BY 结算状态描述 SEPARATOR ','), ',', 1) AS 结算状态,\n      SUBSTRING_INDEX(GROUP_CONCAT(售后状态 ORDER BY 申请时间 DESC SEPARATOR ','), ',', 1) AS 售后状态,\n      SUBSTRING_INDEX(GROUP_CONCAT(售后原因 ORDER BY 申请时间 SEPARATOR ','), ',', 1) AS 售后原因,\n      SUBSTRING_INDEX(GROUP_CONCAT(售后备注 ORDER BY 申请时间 SEPARATOR ','), ',', 1) AS 售后备注,\n      SUBSTRING_INDEX(GROUP_CONCAT(部分售后类型 ORDER BY 申请时间 SEPARATOR ','), ',', 1) AS 部分售后类型,\n      -- GROUP_CONCAT(DISTINCT 售后状态 SEPARATOR '; ') AS 售后状态,\n      -- GROUP_CONCAT(DISTINCT 售后原因 SEPARATOR '; ') AS 售后原因,\n      -- GROUP_CONCAT(DISTINCT 售后备注 SEPARATOR '; ') AS 售后备注,\n      max(`实付金额(元)`) AS `实付金额(元)`,\n      SUM(`退款总金额(元)`) AS `退款总金额(元)`\n      FROM ods.ods_抖店_售后_全量\n      GROUP BY  店铺订单ID\n    )afters \n  ON orders.`根订单ID` = afters.`店铺订单ID`\n  LEFT JOIN (\n    SELECT\n      订单ID 订单ID,\n      max(达人ID) 达人ID,\n      MAX(达人名称) 达人名称,\n      MAX(结算时间) 结算时间, \n      -- 交易类型编码,\n      SUBSTRING_INDEX(GROUP_CONCAT(`交易类型编码` ORDER BY `交易类型编码` SEPARATOR ','), ',', 1) AS `交易类型编码`,\n      -- GROUP_CONCAT(`结算状态描述` SEPARATOR ',') AS `结算状态`,\n      SUM(IFNULL(`结算金额(元)`, 0.00)) AS `结算金额(元)`,\n      SUM(IFNULL(`总收入(元)`, 0.00)) AS `总收入(元)`,\n      SUM(IFNULL(`总支出(元)`, 0.00)) AS `总支出(元)`,\n      SUM(IFNULL(`达人佣金(元)`, 0.00)) AS `达人佣金(元)`,\n      SUM(IFNULL(`平台服务费(元)`, 0.00)) AS `平台服务费(元)`,\n      SUM(IFNULL(`合作伙伴佣金(元)`, 0.00)) AS `合作伙伴佣金(元)`,\n      SUM(IFNULL(`上校服务费(元)`, 0.00)) AS `上校服务费(元)`,\n      SUM(IFNULL(`上校渠道费(元)`, 0.00)) AS `上校渠道费(元)`,\n      SUM(IFNULL(`其他分摊金额(元)`, 0.00)) AS `其他分摊金额(元)`,\n      SUM(IFNULL(`渠道推广费(元)`, 0.00)) AS `渠道推广费(元)`,\n      SUM(IFNULL(`打包费(元)`, 0.00)) AS `打包费(元)`,\n      SUM(IFNULL(`运费金额(元)`, 0.00)) AS `运费金额(元)`,\n      SUM(IFNULL(`运费优惠金额(元)`, 0.00)) AS `运费优惠金额(元)`,\n      SUM(IFNULL(`ZT支付补贴(元)`, 0.00)) AS `ZT支付补贴(元)`,\n      SUM(IFNULL(`ZR支付补贴(元)`, 0.00)) AS `ZR支付补贴(元)`,\n      SUM(IFNULL(`银行补贴金额(元)`, 0.00)) AS `银行补贴金额(元)`,\n      SUM(IFNULL(`政府补贴金额(元)`, 0.00)) AS `政府补贴金额(元)`,\n      SUM(IFNULL(`政府补贴店铺减免(元)`, 0.00)) AS `政府补贴店铺减免(元)`,\n      SUM(IFNULL(`换新补贴金额(元)`, 0.00)) AS `换新补贴金额(元)`,\n      SUM(IFNULL(`其他平台补贴(元)`, 0.00)) AS `其他平台补贴(元)`,\n      SUM(IFNULL(`实际免佣金金额(元)`, 0.00)) AS `实际免佣金金额(元)`,\n      SUM(IFNULL(`平台优惠券金额(元)`, 0.00)) AS `平台优惠券金额(元)`,\n      SUM(IFNULL(`店铺优惠券金额(元)`, 0.00)) AS `店铺优惠券金额(元)`,\n      SUM(IFNULL(`达人优惠券金额(元)`, 0.00)) AS `达人优惠券金额(元)`\n    FROM ods.ods_抖店_结算_全量 \n    GROUP BY 1\n  )settle ON orders.`根订单ID` = settle.`订单ID`\n  --\n  UNION ALL\n  -- 2. 微信订单表\n  SELECT\n    CAST(IFNULL(orders.`店铺ID`, '') AS CHAR(64)) AS 店铺ID,\n    CAST(IFNULL(orders.`订单ID`, '') AS CHAR(64)) AS 主订单ID,\n    CAST('' AS CHAR(64)) AS 子订单ID,\n    CAST(IFNULL(afters.`售后单ID`, '') AS CHAR(255)) AS 售后单号,\n    CAST(IFNULL(orders.`订单归属人OpenID`, '') AS CHAR(255)) AS 用户ID,\n    IF(orders.创建时间 IS NULL OR orders.创建时间 = '', NULL, STR_TO_DATE(orders.创建时间, '%Y-%m-%d %H:%i:%s')) AS 提交时间,\n    IF(orders.支付时间 IS NULL OR orders.支付时间 = '', NULL, STR_TO_DATE(orders.支付时间, '%Y-%m-%d %H:%i:%s')) AS 支付时间,\n    IF(orders.商家结算时间 IS NULL OR orders.商家结算时间 = '', NULL, STR_TO_DATE(orders.商家结算时间, '%Y-%m-%d %H:%i:%s')) AS 完成时间,\n    IF(afters.售后单创建时间 IS NULL OR afters.售后单创建时间 = '', NULL, STR_TO_DATE(afters.售后单创建时间, '%Y-%m-%d %H:%i:%s')) AS 售后申请时间,\n    -- IF(settle.结算时间 IS NULL OR settle.结算时间 = '', NULL, STR_TO_DATE(settle.结算时间, '%Y-%m-%d %H:%i:%s')) AS 结算时间,\n    settle.结算时间 结算时间,\n    CAST(\n      IFNULL(\n        CASE orders.订单状态描述\n          WHEN '全部商品售后之后，订单取消' THEN '已关闭'\n          WHEN '完成' THEN '已完成'\n          WHEN '未付款用户主动取消或超时未付款订单自动取消' THEN '已关闭'\n          ELSE orders.订单状态描述\n        END, ''\n      ) AS CHAR(64)\n    ) AS 订单状态,\n    CAST(\n      IFNULL(\n        CASE \n          WHEN afters.`退款金额(元)` = orders.`用户实付金额(元)` THEN '全额退款'\n          WHEN afters.`退款金额(元)` < orders.`用户实付金额(元)` THEN '部分退款'\n          WHEN afters.售后单状态描述 = '用户取消申请' THEN '售后关闭'\n          ELSE afters.售后单状态描述\n        END,'无售后'\n      ) AS CHAR(64)\n    ) AS 售后状态,\n    CAST(\n      IFNULL(   \n        CASE CAST(settle.结算状态描述 AS CHAR) \n          WHEN '结算完成' THEN '已结算'\n          -- WHEN '无需结算' THEN '已结算'\n          ELSE settle.结算状态描述\n        END, '无需结算'\n      ) AS CHAR(64)\n    ) AS 结算状态,\n    -- settle.结算状态描述 AS 结算状态,\n    CAST(IFNULL(afters.`退款原因解释`, '') AS CHAR(255)) AS 售后原因,\n    CAST(IFNULL(afters.`用户申请描述`, '') AS CHAR(255)) AS 售后备注,\n    CAST(IFNULL(orders.商品ID, '') AS CHAR(64)) AS 商品ID,\n    CAST(IFNULL(orders.`SKU_ID`, '') AS CHAR(64)) AS SKUID,\n    CAST(IFNULL(orders.商品标题, '') AS CHAR(64)) AS 商品名称,\n    CAST('' AS CHAR(64)) AS 下单来源,\n    CAST('' AS CHAR(64)) AS 视频ID,\n    CAST(IFNULL(orders.直播ID, '') AS CHAR(255)) AS 直播ID,\n    CAST(IFNULL(orders.支付方式描述, '') AS CHAR(64)) AS 支付方式,\n    -- CAST(IF(orders.`带货账户ID`='', IF(orders.视频号ID='', 'weixin0',orders.视频号ID),orders.`带货账户ID`) AS CHAR(64)) AS 达人UID,\n    -- CAST(IF(orders.`带货账户昵称`='', IF(orders.视频号ID='', '小店自卖',orders.视频号ID),orders.`带货账户昵称`) AS CHAR(64)) AS 达人名称,\n    CAST(\n      IF(\n        TRIM(COALESCE(orders.`带货账户ID`, '')) NOT IN ('', '0', 'weixin0'),\n        CASE orders.带货账户ID\n          WHEN 'sphnJ3JweyM6zFr' THEN 'wxde71967c7416c027'\n          WHEN 'sphQxztpPrGBpan' THEN 'wx4b7580c0cbca1071'\n          WHEN 'sph93OZOgUMJG8s' THEN 'wx64d619ff0068905c'\n          WHEN 'sphI8Nk0amRWdz3' THEN 'wx629fd8a977d25def'\n          WHEN 'sphUQcmVKamseY6' THEN 'wx9e7fc0514292b805'\n          WHEN 'sphOIiQKHr2Ywsk' THEN 'wxa8a809c4269cd3b9'\n          WHEN 'sphBk4rkpgEf6Y5' THEN 'wxe506f2b7684b2cd8'\n          WHEN 'sphbLDpNmYlCSMN' THEN 'wxb13b513021a69c70'\n          WHEN 'sph2IXbTvTRI1gO' THEN 'wx156daed3949ba47c'\n          WHEN 'sphrWZFUSq19v3S' THEN 'wxd5dedb5d25b2332a'\n          WHEN 'sph4knxmryHcJiH' THEN 'wxa5267dfd8d539eff'\n          WHEN 'sphO7tQ8wGTshh8' THEN 'wx688b2a803d197831'\n          WHEN 'sphYGGNgmRRRmDL' THEN 'wx3231d01040a64c04'\n          WHEN 'sphmX4VxhNNVy9d' THEN 'wx6dcd44282f8d93cb'\n          WHEN 'sphUDmi383juh68' THEN 'wxf2bce44ea78bbe84'\n          WHEN 'sphI5lPps4FWZp4' THEN 'wx6acae2157c0ea908'\n          when 'sph05HSFLkrnfdx' THEN 'wx522fd7a327011d44'\n          WHEN 'sph5RQEtewTtyVs' THEN 'wxf1787af9dfabbd29'\n          WHEN 'sphYuONnHM0fDgl' THEN 'wx68b34c0e2024c158'\n          ELSE orders.带货账户ID  \n        END  ,       \n        IF(\n          TRIM(COALESCE(orders.视频号ID, '')) NOT IN ('', '0'),\n          CASE orders.视频号ID\n            WHEN 'sphnJ3JweyM6zFr' THEN 'wxde71967c7416c027'\n            WHEN 'sphQxztpPrGBpan' THEN 'wx4b7580c0cbca1071'\n            WHEN 'sph93OZOgUMJG8s' THEN 'wx64d619ff0068905c'\n            WHEN 'sphI8Nk0amRWdz3' THEN 'wx629fd8a977d25def'\n            WHEN 'sphUQcmVKamseY6' THEN 'wx9e7fc0514292b805'\n            WHEN 'sphOIiQKHr2Ywsk' THEN 'wxa8a809c4269cd3b9'\n            WHEN 'sphBk4rkpgEf6Y5' THEN 'wxe506f2b7684b2cd8'\n            WHEN 'sphbLDpNmYlCSMN' THEN 'wxb13b513021a69c70'\n            WHEN 'sph2IXbTvTRI1gO' THEN 'wx156daed3949ba47c'\n            WHEN 'sphrWZFUSq19v3S' THEN 'wxd5dedb5d25b2332a'\n            WHEN 'sph4knxmryHcJiH' THEN 'wxa5267dfd8d539eff'\n            WHEN 'sphO7tQ8wGTshh8' THEN 'wx688b2a803d197831'\n            WHEN 'sphYGGNgmRRRmDL' THEN 'wx3231d01040a64c04'\n            WHEN 'sphmX4VxhNNVy9d' THEN 'wx6dcd44282f8d93cb'\n            WHEN 'sphUDmi383juh68' THEN 'wxf2bce44ea78bbe84'\n            WHEN 'sphI5lPps4FWZp4' THEN 'wx6acae2157c0ea908'\n            when 'sph05HSFLkrnfdx' THEN 'wx522fd7a327011d44'\n            WHEN 'sph5RQEtewTtyVs' THEN 'wxf1787af9dfabbd29'\n            WHEN 'sphYuONnHM0fDgl' THEN 'wx68b34c0e2024c158'\n            ELSE 'weixin0'  \n          END         \n          ,\n          'weixin0'  \n        )\n      ) AS CHAR(64)\n    ) AS 达人UID,   \n    CAST(\n      IF(\n        TRIM(COALESCE(orders.`带货账户昵称`, '')) != '',\n        orders.`带货账户昵称`,\n        IF(\n          TRIM(COALESCE(orders.视频号ID, '')) != '',  \n          CASE \n            WHEN orders.视频号ID = 'sphnJ3JweyM6zFr' THEN '我是兰心Vanessa'\n            WHEN orders.视频号ID = 'sphUQcmVKamseY6' THEN '三五小星'\n            WHEN orders.视频号ID = 'sphI8Nk0amRWdz3' THEN '柯妈带三娃'\n            WHEN orders.视频号ID = 'sph05HSFLkrnfdx' THEN 'An安的小窝'\n            WHEN orders.视频号ID = 'sphQxztpPrGBpan' THEN '二重奏宝妈'   \n            WHEN orders.视频号ID = 'sphYGGNgmRRRmDL' THEN '哈佛常爸'\n            WHEN orders.视频号ID = 'sphOIiQKHr2Ywsk' THEN '小板牙严选'  \n            WHEN orders.视频号ID = 'sphbLDpNmYlCSMN' THEN '薪传好物' \n            WHEN orders.视频号ID = 'sphO7tQ8wGTshh8' THEN '丹妈读童书'  \n            WHEN orders.视频号ID = 'sphrWZFUSq19v3S' THEN '粥悦悦'  \n            WHEN orders.视频号ID = 'sph93OZOgUMJG8s' THEN '硅谷工程师憨爸'  \n            WHEN orders.视频号ID = 'sphBk4rkpgEf6Y5' THEN '小满和他的博士老爸'  \n            WHEN orders.视频号ID = 'sph5RQEtewTtyVs' THEN '修养生息181'\n            WHEN orders.视频号ID = 'sphYuONnHM0fDgl' THEN '雯小雯-四年级'\n            -- WHEN orders.视频号ID = 'sphYuONnHM0fDgl' THEN '三娃的小窝'\n            ELSE '未知达人'      \n          END,\n          '小店自卖' \n        )\n      ) AS CHAR(64)\n    ) AS 达人名称,     \n    CAST('' AS CHAR(64)) AS 内容ID,\n    CAST('' AS CHAR(64)) AS 广告ID,\n    CAST('' AS CHAR(64)) AS 流量来源ID,\n    CAST(IFNULL(orders.快递公司名称, '') AS CHAR(64)) AS 物流公司,\n    CAST(IFNULL(orders.快递单号, '') AS CHAR(64)) AS 物流单号,\n    CAST(IFNULL(orders.收货人姓名, '') AS CHAR(64)) AS 收件人姓名,\n    CAST(IFNULL(orders.联系方式, '') AS CHAR(64)) AS 收件人电话,\n    CAST(IFNULL(orders.省份, '') AS CHAR(64)) AS 收件人省份,\n    CAST(IFNULL(orders.城市, '') AS CHAR(64)) AS 收件人城市,\n    CAST(IFNULL(orders.SKU数量, 0) AS DECIMAL(18,0)) AS 购买数量,\n    CAST(IFNULL(orders.`商家实收金额(元)`, 0.00) AS DECIMAL(18,2)) AS 商家实收,\n    CAST(IFNULL(orders.`用户实付金额(元)`, 0.00) AS DECIMAL(18,2)) AS 买家实付,\n    CAST(IFNULL(orders.`商品总价(元)`, 0.00) AS DECIMAL(18,2)) AS 订单总额,\n    CAST(IFNULL(orders.`商家优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 商家承担金额,\n    CAST(IFNULL(orders.`平台券优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 平台承担金额,\n    CAST(IFNULL(orders.`达人优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 达人承担金额,\n    CAST(IFNULL(afters.`退款金额(元)`, 0.00) AS DECIMAL(18,2)) AS 退款金额,\n    CAST(IFNULL(settle.`预计结算金额(元)`, 0.00) AS DECIMAL(18,2)) AS 结算金额,\n    CAST(\n      IFNULL(\n        settle.`预计结算金额(元)`, (orders.`商家实收金额(元)`- afters.`退款金额(元)`)\n      ) AS DECIMAL(18,2)\n    ) AS 订单当前盈收,\n    CAST(0 AS DECIMAL(18,2)) AS 结算总收入,\n    CAST(0 AS DECIMAL(18,2)) AS 结算总支出,\n    CAST(IFNULL(settle.`商户优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 店铺优惠,\n    CAST(IFNULL(settle.`平台优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 平台优惠,\n    CAST(0 AS DECIMAL(18,2)) AS 达人优惠, \n    -- CAST(IFNULL(settle.`达人优惠金额(元)`, 0.00) AS DECIMAL(18,2)) AS 达人优惠, -- 重复\n    -CAST(IFNULL(settle.`预计达人服务费(元)`, 0.00) AS DECIMAL(18,2)) AS 达人佣金,\n    -CAST(IFNULL(settle.`原技术服务费(元)`, 0.00) AS DECIMAL(18,2)) AS 平台佣金,\n    CAST(0 AS DECIMAL(18,2)) AS 服务商佣金,\n    -CAST(IFNULL(settle.`预计机构服务费(元)`, 0.00) AS DECIMAL(18,2)) AS 团长佣金,\n    CAST(0 AS DECIMAL(18,2)) AS 渠道分成,\n    CAST(0 AS DECIMAL(18,2)) AS 其他分成,\n    CAST(0 AS DECIMAL(18,2)) AS 渠道推广费,\n    CAST(0 AS DECIMAL(18,2)) AS 运费, \n    CAST(0 AS DECIMAL(18,2)) AS 支付补贴, \n    CAST(IFNULL(settle.`国家补贴金额(元)`, 0.00) AS DECIMAL(18,2)) AS 政府补贴,\n    CAST(0 AS DECIMAL(18,2)) AS 其它补贴, \n    CAST(0 AS DECIMAL(18,2)) AS 免佣补贴,\n    '微信' AS 平台\n  FROM ods.ods_微信_订单_全量 orders\n  LEFT JOIN (\n    SELECT\n      原订单号 原订单号,\n      GROUP_CONCAT(`售后单ID` SEPARATOR ';') AS `售后单ID`,\n      max(售后单更新时间) 售后单创建时间,\n      SUBSTRING_INDEX(GROUP_CONCAT(`售后单状态描述` ORDER BY `售后单更新时间` DESC SEPARATOR ','), ',', 1) AS `售后单状态描述`,\n      SUBSTRING_INDEX(GROUP_CONCAT(`退款原因解释` ORDER BY `退款原因解释` SEPARATOR ','), ',', 1) AS `退款原因解释`,\n      SUBSTRING_INDEX(GROUP_CONCAT(`用户申请描述` ORDER BY `用户申请描述` SEPARATOR ','), ',', 1) AS `用户申请描述`,\n      -- GROUP_CONCAT(`售后单状态描述` SEPARATOR ';') AS `售后单状态描述`,\n      -- GROUP_CONCAT(`退款原因解释` SEPARATOR ';') AS `退款原因解释`,\n      -- GROUP_CONCAT(`用户申请描述` SEPARATOR ';') AS `用户申请描述`,\n      SUM(IF(售后单状态描述='退款完成',`退款金额(元)`,0.00)) `退款金额(元)`\n      FROM ods.ods_微信_售后_全量\n      GROUP BY 1\n   ) afters ON orders.`订单ID` = afters.原订单号\n  LEFT JOIN ods.ods_微信_结算_全量 settle ON orders.`订单ID` = settle.`订单ID`\n  UNION ALL\n  -- 3. 小红书\n  SELECT\n    CAST(IFNULL(orders.`店铺ID`, '') AS CHAR(64)) AS 店铺ID,\n    CAST(IFNULL(orders.`订单ID`, '') AS CHAR(64)) AS 主订单ID,\n    CAST('' AS CHAR(64)) AS 子订单ID,\n    CAST(IFNULL(afters.`售后ID`, '') AS CHAR(255)) AS 售后单号,\n    CAST(IFNULL(orders.`用户编号`, '') AS CHAR(255)) AS 用户ID,\n    IF(orders.订单创建时间 IS NULL OR orders.订单创建时间 = '', NULL, STR_TO_DATE(orders.订单创建时间, '%Y-%m-%d %H:%i:%s')) AS 提交时间,\n    IF(orders.订单支付时间 IS NULL OR orders.订单支付时间 = '', NULL, STR_TO_DATE(orders.订单支付时间, '%Y-%m-%d %H:%i:%s')) AS 支付时间,\n    IF(orders.订单完成时间 IS NULL OR orders.订单完成时间 = '', NULL, STR_TO_DATE(orders.订单完成时间, '%Y-%m-%d %H:%i:%s')) AS 完成时间,\n    IF(afters.创建时间 IS NULL OR afters.创建时间 = '', NULL, STR_TO_DATE(afters.创建时间, '%Y-%m-%d %H:%i:%s')) AS 售后申请时间,\n    IF(settle.结算时间 IS NULL OR settle.结算时间 = '', NULL, STR_TO_DATE(settle.结算时间, '%Y-%m-%d %H:%i:%s')) AS 结算时间,\n    CAST(\n      IFNULL(\n        CASE orders.订单状态\n          WHEN '已取消' THEN '已关闭'\n          ELSE orders.订单状态\n        END , ''\n      ) AS CHAR(64)\n    ) AS 订单状态,\n    CAST(\n      IFNULL(\n        CASE afters.售后状态\n          WHEN '完成' THEN '全额退款'\n          WHEN '取消' THEN '售后关闭'\n          ELSE afters.售后状态\n        END,'无售后'\n      ) AS CHAR(64)\n    ) AS 售后状态,\n    CAST(IFNULL(settle.结算状态, '无需结算') AS CHAR(64)) AS 结算状态,\n    -- settle.结算状态 AS 结算状态,\n    CAST(IFNULL(afters.`售后原因说明`, '') AS CHAR(255)) AS 售后原因,\n    CAST(IFNULL(afters.`用户描述`, '') AS CHAR(255)) AS 售后备注,\n    CAST(IF(orders.商品ID!='',orders.商品ID, orders.`主SKU ID`) AS CHAR(64)) AS 商品ID,\n    CAST(IFNULL(orders.`单品SKU ID`, '') AS CHAR(64)) AS SKUID,\n    CAST(IFNULL(orders.商品名称, '') AS CHAR(64)) AS 商品名称,\n    CAST('' AS CHAR(64)) AS 下单来源,\n    CAST('' AS CHAR(64)) AS 视频ID,\n    CAST('' AS CHAR(255)) AS 直播ID,\n    CAST(IFNULL(orders.支付方式, '') AS CHAR(64)) AS 支付方式,\n    -- CAST(IF(orders.`达人ID_x`='', 'hongshu0',orders.`达人ID_x`) AS CHAR(64)) AS 达人UID,\n    -- CAST(IF(orders.`达人名称`='', '小店自卖',orders.`达人名称`) AS CHAR(64)) AS 达人名称,\n    CAST(IF((orders.`达人ID_y`='hongshu0' AND 达人ID_x!=''), orders.`达人ID_x`,orders.`达人ID_y`) AS CHAR(64)) AS 达人UID,\n    CAST(IF((orders.达人昵称='小店自卖' AND 达人名称!=''), orders.达人名称,orders.达人昵称) AS CHAR(64)) AS 达人名称,\n\n    CAST('' AS CHAR(64)) AS 内容ID,\n    CAST('' AS CHAR(64)) AS 广告ID,\n    CAST('' AS CHAR(64)) AS 流量来源ID,\n    CAST(IFNULL(orders.快递公司, '') AS CHAR(64)) AS 物流公司,\n    CAST(IFNULL(orders.快递单号, '') AS CHAR(64)) AS 物流单号,\n    CAST(IFNULL(orders.收件人姓名, '') AS CHAR(64)) AS 收件人姓名,\n    CAST(IFNULL(orders.收件人电话, '') AS CHAR(64)) AS 收件人电话,\n    CAST(IFNULL(orders.省, '') AS CHAR(64)) AS 收件人省份,\n    CAST(IFNULL(orders.市, '') AS CHAR(64)) AS 收件人城市,\n    CAST(IFNULL(orders.主SKU数量, 0) AS DECIMAL(18,0)) AS 购买数量,\n    CAST(IFNULL(IF(订单支付时间='',0,`商家应收金额(元)`), 0.00) AS DECIMAL(18,2)) AS 买家实付,\n    CAST(IFNULL(IF(订单支付时间='',0,`订单实付金额(包含运费和定金)`), 0.00) AS DECIMAL(18,2)) AS 商家实收,\n    -- CAST(IFNULL(IF(订单状态='已取消',0,orders.`商家应收金额(元)`), 0.00) AS DECIMAL(18,2)) AS 商家实收,\n    -- CAST(IFNULL(IF(订单状态='已取消',0,orders.`订单实付金额(包含运费和定金)`), 0.00) AS DECIMAL(18,2)) AS 买家实付,\n    -- CAST(IFNULL(`单个SKU原价(元)`, 0.00) AS DECIMAL(18,2)) AS 订单总额,  -- 商品总实付\n    CAST(IFNULL(IF(`商品总价(元)`!=`商家应收金额(元)`+`商家承担总优惠(元)`,`商家应收金额(元)`+`商家承担总优惠(元)`,`商品总价(元)`), 0.00) AS DECIMAL(18,2)) AS 订单总额,  -- 商品总实付\n    -- CAST(IFNULL(IF(`商品总价(元)`!=`商家应收金额(元)`,`商家应收金额(元)`+`商家承担总优惠(元)`,`商品总价(元)`), 0.00) AS DECIMAL(18,2)) AS 订单总额,  -- 商品总实付\n    -- CAST(IFNULL(IF(`商品总价(元)`!=`商家应收金额(元)`,`商家应收金额(元)`,`商品总价(元)`), 0.00) AS DECIMAL(18,2)) AS 订单总额,  -- 商品总实付\n    -- CAST(IFNULL(orders.`商家应收金额(元)`, 0.00) AS DECIMAL(18,2)) AS 商家实收,\n    -- CAST(IFNULL(orders.`订单实付金额(包含运费和定金)`, 0.00) AS DECIMAL(18,2)) AS 买家实付,\n    -- CAST(IFNULL(orders.`商品总价(元)`, 0.00) AS DECIMAL(18,2)) AS 订单总额,\n    CAST(IFNULL(orders.`商家承担总优惠(元)`, 0.00) AS DECIMAL(18,2)) AS 商家承担金额,\n    CAST(IFNULL(orders.`平台承担总优惠(元)`, 0.00) AS DECIMAL(18,2)) AS 平台承担金额,\n    CAST(0.00 AS DECIMAL(18,2)) AS 达人承担金额,\n    CAST(IFNULL((afters.`退款金额(元)`), 0.00)*100 AS DECIMAL(18,2)) AS 退款金额,\n    CAST(IFNULL(settle.`动账金额`, 0.00) AS DECIMAL(18,2)) AS 结算金额,\n    -- CAST(\n    --   IFNULL(\n    --     settle.`动账金额`,((IF(订单支付时间='',0,`订单实付金额(包含运费和定金)`))- (IFNULL((afters.`退款金额(元)`), 0.00)*100))\n    --     ) AS DECIMAL(18,2)\n    -- ) AS 订单当前盈收,\n    CAST((`订单实付金额(包含运费和定金)` - afters.`退款金额(元)`) AS DECIMAL(18,2)) AS 订单当前盈收,\n    CAST(0 AS DECIMAL(18,2)) AS 结算总收入,\n    CAST(0 AS DECIMAL(18,2)) AS 结算总支出,\n    CAST(0 AS DECIMAL(18,2)) AS 店铺优惠,\n    CAST(IFNULL(settle.`平台优惠补贴`, 0.00) AS DECIMAL(18,2)) AS 平台优惠, \n    CAST(0 AS DECIMAL(18,2)) AS 达人优惠,\n    CAST(IFNULL(settle.`分销佣金`, 0.00) AS DECIMAL(18,2)) AS 达人佣金,\n    CAST(IFNULL(settle.`佣金`, 0.00) AS DECIMAL(18,2)) AS 平台佣金,\n    CAST((IFNULL(settle.`代运营服务商佣金`, 0.00) + IFNULL(settle.`代开发服务商佣金`, 0.00)) AS DECIMAL(18,2)) AS 服务商佣金, \n    CAST(0 AS DECIMAL(18,2)) AS 团长佣金,\n    CAST(0 AS DECIMAL(18,2)) AS 渠道分成,\n    CAST((IFNULL(settle.`花呗分期手续费`, 0.00) + IFNULL(settle.`支付渠道费`, 0.00) + IFNULL(settle.`附加费`, 0.00)) AS DECIMAL(18,2)) AS 其他分成, \n    CAST(0 AS DECIMAL(18,2)) AS 渠道推广费,\n    CAST(IFNULL(settle.`平台运费补贴`, 0.00) AS DECIMAL(18,2)) AS 运费, \n    CAST(0 AS DECIMAL(18,2)) AS 支付补贴, \n    CAST(IFNULL(settle.`国补订单毛保金额`, 0.00) AS DECIMAL(18,2)) AS 政府补贴, \n    CAST(0 AS DECIMAL(18,2)) AS 其它补贴, \n    CAST(0 AS DECIMAL(18,2)) AS 免佣补贴,\n    '小红书' AS 平台\n  FROM ods.ods_红书_订单_全量 orders\n  LEFT JOIN (\n    SELECT\n      订单ID 订单ID,\n      GROUP_CONCAT(`售后ID` SEPARATOR ',') AS `售后ID`,\n      MAX(创建时间) 创建时间,  -- 口径更改：售后完成时间=更新时间\n      SUBSTRING_INDEX(GROUP_CONCAT(`售后状态` ORDER BY `更新时间` DESC SEPARATOR ','), ',', 1) AS `售后状态`,\n      SUBSTRING_INDEX(GROUP_CONCAT(`售后原因说明` ORDER BY `售后原因说明` SEPARATOR ','), ',', 1) AS `售后原因说明`,\n      SUBSTRING_INDEX(GROUP_CONCAT(`用户描述` ORDER BY `用户描述` SEPARATOR ','), ',', 1) AS `用户描述`,\n      -- GROUP_CONCAT(`售后状态` SEPARATOR ',') AS `售后状态`,\n      -- GROUP_CONCAT(`售后原因说明` SEPARATOR ',') AS `售后原因说明`,\n      -- GROUP_CONCAT(`用户描述` SEPARATOR ',') AS `用户描述`,\n      SUM(IF(售后状态='完成',`退款金额(元)`,0.00)) AS `退款金额(元)`\n    FROM ods.ods_红书_售后_全量 \n    GROUP BY 1\n  ) afters ON orders.`订单ID` = afters.`订单ID`\n  LEFT JOIN (\n    SELECT\n      订单号 订单号,\n      MIN(结算时间) 结算时间, \n      SUBSTRING_INDEX(GROUP_CONCAT(`结算状态` ORDER BY `结算时间` DESC SEPARATOR ','), ',', 1) AS `结算状态`,\n      -- GROUP_CONCAT(`结算状态` SEPARATOR ',') AS `结算状态`,\n      SUM(`动账金额`) AS `动账金额`,\n      SUM(IFNULL(`分销佣金`, 0.00)) AS `分销佣金`,\n      SUM(IFNULL(`佣金`, 0.00)) AS `佣金`,\n      SUM(IFNULL(`代运营服务商佣金`, 0.00)) AS `代运营服务商佣金`,\n      SUM(IFNULL(`代开发服务商佣金`, 0.00)) AS `代开发服务商佣金`,\n      SUM(IFNULL(`花呗分期手续费`, 0.00)) AS `花呗分期手续费`,\n      SUM(IFNULL(`支付渠道费`, 0.00)) AS `支付渠道费`,\n      SUM(IFNULL(`附加费`, 0.00)) AS `附加费`,\n      SUM(IFNULL(`国补订单毛保金额`, 0.00)) AS `国补订单毛保金额`,\n      SUM(IFNULL(`平台优惠补贴`, 0.00)) AS `平台优惠补贴`,\n      SUM(IFNULL(`平台运费补贴`, 0.00)) AS `平台运费补贴`\n    FROM ods.ods_红书_结算_全量 \n    GROUP BY 1\n  ) settle ON orders.`订单ID` = settle.`订单号`\n) t;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4208,
        1888
      ],
      "id": "634789b2-a1bd-4bde-8a71-bdcd3231110f",
      "name": "DWS_电商订单数据",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dwd.`dwd_千川_素材m`\nSELECT\n'素材-直播间画面' 来源 ,\n`千川UID`,\n主播ID 抖音UID,\nSTR_TO_DATE(统计日期, '%Y-%m-%d 00:00:00') AS 日期,\nSTR_TO_DATE(时间, '%Y-%m-%d %H:%i:%s') AS 时间,\n'' 素材ID ,\nNULL AS 创建时间,\nNULL AS 投放时间,\n'' 全域素材视频类型,\n'' 全域素材视频名称,\nCAST(REPLACE(`整体消耗(元)`, ',', '') AS DECIMAL(18,2)) AS 消耗,\nCAST(REPLACE(`整体展示次数`, ',', '') AS DECIMAL(18,2)) AS 展现,\nCAST(REPLACE(`整体点击次数`, ',', '') AS DECIMAL(18,2)) AS 点击,\nCAST(REPLACE(`整体成交订单数`, ',', '') AS DECIMAL(18,2)) AS 订单数,\nCAST(REPLACE(`整体成交金额(含优惠券/补贴)`, ',', '') AS DECIMAL(18,2)) AS 成交金额,\nCAST(REPLACE(`用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付金额,\nCAST(REPLACE(`1小时净成交订单数`, ',', '') AS DECIMAL(18,2)) AS 净成交订单数,\nCAST(REPLACE(`1小时净成交金额`, ',', '') AS DECIMAL(18,2)) AS 净成交金额,\nCAST(REPLACE(`用户实际支付净成交金额(1小时)`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付净成交金额,\nCAST(REPLACE(`追投调控消耗(元)`, ',', '') AS DECIMAL(18,2)) AS 追投消耗,\nCAST(REPLACE(`追投调控展示次数`, ',', '') AS DECIMAL(18,2)) AS 追投展现,\nCAST(REPLACE(`追投调控点击次数`, ',', '') AS DECIMAL(18,2)) AS 追投点击,\nCAST(REPLACE(`追投调控成交订单数`, ',', '') AS DECIMAL(18,2)) AS 追投订单数,\nCAST(REPLACE(`追投调控成交金额(含优惠券)`, ',', '') AS DECIMAL(18,2)) AS 追投成交金额,\nCAST(REPLACE(`追投调控用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 追投用户实际支付金额,\n0 视频播放数,\n'0' 2秒播放率,\n'0' 3秒播放率,\n'0' 5秒播放率,\n'0' 10秒播放率,\n'0' 视频完播数,\nCAST(REPLACE(`新增粉丝数`, ',', '') AS DECIMAL(18,2)) AS 粉丝数,\nCAST(REPLACE(`直播间评论次数`, ',', '') AS DECIMAL(18,2)) AS 评论数,\nCAST(REPLACE(`直播间点赞次数`, ',', '') AS DECIMAL(18,2)) AS 点赞数,\nCAST(REPLACE(`1小时内退款订单数`, ',', '') AS DECIMAL(18,2)) AS 1小时内退款订单数,\nCAST(REPLACE(`1小时内退款金额`, ',', '') AS DECIMAL(18,2)) AS 1小时内退款金额,\nCAST(REPLACE(`7日结算订单数`, ',', '') AS DECIMAL(18,2)) AS 7日结算订单数,\nCAST(REPLACE(`7日结算金额`, ',', '') AS DECIMAL(18,2)) AS 7日结算金额\nFROM ods.`ods_千川素材_直播画面_m`\n-- WHERE 整体展示次数>0 OR `整体消耗(元)`>0\nUNION ALL\n-- INSERT INTO dwd.`dwd_千川_素材m` \n-- INSERT INTO dwd.`dwd_千川_素材m`\nSELECT\n'素材-其他' 来源 ,\n`千川UID`,\n 抖音UID,\nSTR_TO_DATE(DATE_FORMAT(时间, '%Y-%m-%d 00:00:00'), '%Y-%m-%d 00:00:00') AS 日期,\nSTR_TO_DATE(时间, '%Y-%m-%d %H:%i:%s') AS 时间,\n'' 素材ID ,\nNULL 创建时间,\nNULL 投放时间,\n'' 全域素材视频类型,\n'' 全域素材视频名称,\n-- CAST(DATE_FORMAT(时间,\"%Y-%m-%d %H:%i:%s\") AS DATETIME) \nCAST(0 AS DECIMAL(18,2)) AS 消耗,\nCAST(0 AS DECIMAL(18,2)) AS 展现,\nCAST(0 AS DECIMAL(18,2)) AS 点击,\nCAST(REPLACE(`整体成交订单数`, ',', '') AS DECIMAL(18,2)) AS 订单数,\nCAST(REPLACE(`整体成交金额`, ',', '') AS DECIMAL(18,2)) AS 成交金额,\nCAST(REPLACE(`用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付金额,\nCAST(REPLACE(`整体成交订单数`, ',', '') AS DECIMAL(18,2)) AS 净成交订单数,\nCAST(REPLACE(`整体成交金额`, ',', '') AS DECIMAL(18,2)) AS 净成交金额,\nCAST(REPLACE(`用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付净成交金额,\n-- CAST(0 AS DECIMAL(18,2)) AS 净成交订单数,\n-- CAST(0 AS DECIMAL(18,2)) AS 净成交金额,\n-- CAST(0 AS DECIMAL(18,2)) AS 用户实际支付净成交金额,\nCAST(0 AS DECIMAL(18,2)) AS 追投消耗,\nCAST(0 AS DECIMAL(18,2)) AS 追投展现,\nCAST(0 AS DECIMAL(18,2)) AS 追投点击,\nCAST(0 AS DECIMAL(18,2)) AS 追投订单数,\nCAST(0 AS DECIMAL(18,2)) AS 追投成交金额,\nCAST(0 AS DECIMAL(18,2)) AS 追投用户实际支付金额,\nCAST(0 AS DECIMAL(18,2)) AS 视频播放数,\n'0' 2秒播放率,\n'0' 3秒播放率,\n'0' 5秒播放率,\n'0' 10秒播放率,\n0 视频完播数,\n0 粉丝数,\n0 评论数,\n0 点赞数,\n0 1小时内退款订单数,\n0 1小时内退款金额,\n0 7日结算订单数,\n0 7日结算金额\nFROM ods.ods_千川素材_其他\n-- where 整体成交订单数>0\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4208,
        2048
      ],
      "id": "f9049f27-087c-4c19-8407-a886b60db47b",
      "name": "DWS_千川素材_直播间画面+其它创意",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dwd.`dwd_千川_素材m`\nSELECT\n'素材-视频' 来源 ,\n`千川UID`,\n 抖音UID,\nSTR_TO_DATE(日期,'%Y-%m-%d 00:00:00') AS `日期`,\nSTR_TO_DATE(时间,'%Y-%m-%d %H:%i:%s') AS `时间`,\n-- STR_TO_DATE(日期, '%Y-%m-%d') AS 日期,\n-- STR_TO_DATE(时间, '%Y-%m-%d %H:%i:%s') AS 时间,\n素材ID ,\nSTR_TO_DATE(NULLIF(创建时间, '-'), '%Y-%m-%d %H:%i:%s') AS `创建时间`,\nSTR_TO_DATE(NULLIF(投放时间, '-'), '%Y-%m-%d %H:%i:%s') AS `投放时间`,\n-- STR_TO_DATE(创建时间, '%Y-%m-%d %H:%i:%s') AS 创建时间,\n-- STR_TO_DATE(投放时间, '%Y-%m-%d %H:%i:%s') AS 投放时间,\n全域素材视频类型,\n全域素材视频名称,\nCAST(REPLACE(`整体消耗`, ',', '') AS DECIMAL(18,2)) AS 消耗,\nCAST(REPLACE(`整体展现次数`, ',', '') AS DECIMAL(18,2)) AS 展现,\nCAST(REPLACE(`整体点击次数`, ',', '') AS DECIMAL(18,2)) AS 点击,\nCAST(REPLACE(`整体成交订单数`, ',', '') AS DECIMAL(18,2)) AS 订单数,\nCAST(REPLACE(`整体成交金额`, ',', '') AS DECIMAL(18,2)) AS 成交金额,\nCAST(REPLACE(`用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付金额,\nCAST(REPLACE(`净成交订单数`, ',', '') AS DECIMAL(18,2)) AS 净成交订单数,\nCAST(REPLACE(`净成交金额`, ',', '') AS DECIMAL(18,2)) AS 净成交金额,\nCAST(REPLACE(`用户实际支付净成交金额`, ',', '') AS DECIMAL(18,2)) AS 用户实际支付净成交金额,\nCAST(REPLACE(`追投调控消耗`, ',', '') AS DECIMAL(18,2)) AS 追投消耗,\nCAST(REPLACE(`追投调控展示次数`, ',', '') AS DECIMAL(18,2)) AS 追投展现,\nCAST(REPLACE(`追投调控点击次数`, ',', '') AS DECIMAL(18,2)) AS 追投点击,\nCAST(REPLACE(`追投调控成交订单数`, ',', '') AS DECIMAL(18,2)) AS 追投订单数,\nCAST(REPLACE(`追投调控成交金额`, ',', '') AS DECIMAL(18,2)) AS 追投成交金额,\nCAST(REPLACE(`追投调控用户实际支付金额`, ',', '') AS DECIMAL(18,2)) AS 追投用户实际支付金额,\nCAST(REPLACE(`视频播放数`, ',', '') AS DECIMAL(18,2)) AS 视频播放数,\nCAST(2秒播放率 AS CHAR(10)) AS 2秒播放率,\nCAST(3秒播放率 AS CHAR(10)) AS 3秒播放率,\nCAST(5秒播放率 AS CHAR(10)) AS 5秒播放率,\nCAST(10秒播放率 AS CHAR(10)) AS 10秒播放率,\nCAST(REPLACE(`视频完播数`, ',', '') AS DECIMAL(18,2)) AS 视频完播数,\nREPLACE(`新增粉丝数`, ',', '') AS 粉丝数,\nREPLACE(`视频评论数`, ',', '')  AS 评论数,\nREPLACE(`视频点赞数`, ',', '') AS 点赞数,\nCAST(REPLACE(`1小时内退款订单数`, ',', '') AS DECIMAL(18,2)) AS 1小时内退款订单数,\nCAST(REPLACE(`1小时内退款金额`, ',', '') AS DECIMAL(18,2)) AS 1小时内退款金额,\nCAST(REPLACE(`7日结算订单数`, ',', '') AS DECIMAL(18,2)) AS 7日结算订单数,\nCAST(REPLACE(`7日结算金额`, ',', '') AS DECIMAL(18,2)) AS 7日结算金额\nFROM ods.`ods_千川素材_视频_m`\n-- WHERE 整体展现次数>0 OR `整体消耗`>0\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3968,
        2208
      ],
      "id": "4700ec28-aae4-426c-93c0-77b4ce1ff99c",
      "name": "DWS_千川素材_视频",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dwd.dwd_千川素材h_中间表\nSELECT\n    来源,\n    千川UID,\n    抖音UID,\n    全域素材视频类型,\n    全域素材视频名称,\n    素材ID,\n    日期,\n    创建时间,\n    投放时间,\n    cast(DATE_FORMAT(时间, '%Y-%m-%d %H:00:00') AS DATETIME) AS 时间,\n    SUM(消耗) 消耗,\n    sum(展现) 展现,\n    sum(点击) 点击,\n    sum(订单数) 订单数,\n    sum(成交金额) 成交金额,\n    sum(用户实际支付金额) 用户实际支付金额,\n    sum(净成交订单数) 净成交订单数,\n    sum(净成交金额) 净成交金额,\n    sum(用户实际支付净成交金额) 用户实际支付净成交金额,\n    sum(追投消耗) 追投消耗,\n    sum(追投展现) 追投展现,\n    sum(追投点击) 追投点击,\n    sum(追投订单数) 追投订单数,\n    sum(追投成交金额) 追投成交金额,\n    sum(追投用户实际支付金额) 追投用户实际支付金额,\n    sum(视频播放数) 视频播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(2秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 2秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(3秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 3秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(5秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 5秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(10秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 10秒播放数,\n    sum(视频完播数) 视频完播数,\n    sum(粉丝数) 粉丝数,\n    sum(评论数) 评论数,\n    sum(点赞数) 点赞数,\n    SUM( `1小时内退款订单数`) AS `1小时内退款订单数`,\n    SUM( `1小时内退款金额`) AS `1小时内退款金额`,\n    SUM( `7日结算订单数`) AS `7日结算订单数`,\n    SUM( `7日结算金额`) AS `7日结算金额`\nFROM dwd.dwd_千川_素材m\n-- LEFT JOIN spider_01.千川财务day t2\n-- ON t1.`千川UID` = t2.`【千财】账户ID`\n-- AND t1.日期 = t2.【千财】日期\n-- where 消耗>0 or 展现>0 or 追投展现>0 or 追投消耗>0 or 视频播放数>0 订单数>0 or 净成交订单数>0\nGROUP BY 1,2,3,4,5,6,7,8,9,10\nhaving 消耗>0 or 展现>0 or 追投展现>0 or 追投消耗>0 or 视频播放数>0 or 订单数>0 or 净成交订单数>0\norder by 1 desc,2,3,4,5,6,7,8,9,10\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4208,
        2368
      ],
      "id": "2c38647c-017e-467a-b03a-0524d568b00b",
      "name": "DWS_千川素材_H",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dwd.dwd_抖音_千川_素材H\nSELECT\n    t1.来源,\n    t1.千川UID,\n    t1.抖音UID,\n    t1.全域素材视频类型,\n    t1.全域素材视频名称,\n    t1.素材ID,\n    t1.日期,\n    t1.创建时间,\n    t1.投放时间,\n    t1.时间,\n    t1.消耗,\n    t1.展现,\n    t1.点击,\n    t1.订单数,\n    t1.成交金额,\n    t1.用户实际支付金额,\n    t1.净成交订单数,\n    t1.净成交金额,\n    t1.用户实际支付净成交金额,\n    t1.追投消耗,\n    t1.追投展现,\n    t1.追投点击,\n    t1.追投订单数,\n    t1.追投成交金额,\n    t1.追投用户实际支付金额,\n    t1.视频播放数,\n    t1.2秒播放数,\n    t1.3秒播放数,\n    t1.5秒播放数,\n    t1.10秒播放数,\n    t1.视频完播数,\n    t1.粉丝数,\n    t1.评论数,\n    t1.点赞数,\n    t2.总消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】总消耗,\n    t2.非赠款消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】非赠消耗,\n    t2.赠款消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】赠款消耗,\n    t2.共享余额消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】共享赠款消耗,\n    t2.消返红包消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】消返红包,\n    t2.优惠券消耗/(COUNT(千川UID) OVER(PARTITION BY `千川UID`, 日期)) AS 【千财】立减红包\nFROM dwd.dwd_千川素材h_中间表 t1\nLEFT JOIN ods.ods_千川_财务 t2\nON t1.`千川UID` = CONVERT(t2.`账户ID` USING utf8mb4) \nAND t1.日期 = t2.统计日期\n-- where 消耗>0 or 展现>0 or 追投展现>0 or 追投消耗>0 or 视频播放数>0 订单数>0 or 净成交订单数>0\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4208,
        2528
      ],
      "id": "cea18076-bd30-4c35-8ec3-73923f701faf",
      "name": "DWS_千川素材_财务分摊",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into dwd.千川_素材_汇总\nSELECT\n--  千川UID,\n    抖音UID,\n    时间,\n    SUM(消耗) 消耗,\n    sum(展现) 展现,\n    sum(点击) 点击,\n    sum(订单数) 订单数,\n    sum(成交金额) 成交金额,\n    sum(用户实际支付金额) 用户实际支付金额,\n    sum(净成交订单数) 净成交订单数,\n    sum(净成交金额) 净成交金额,\n    sum(用户实际支付净成交金额) 用户实际支付净成交金额,\n    sum(追投消耗) 追投消耗,\n    sum(追投展现) 追投展现,\n    sum(追投点击) 追投点击,\n    sum(追投订单数) 追投订单数,\n    sum(追投成交金额) 追投成交金额,\n    sum(追投用户实际支付金额) 追投用户实际支付金额,\n    sum(视频播放数) 视频播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(2秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 2秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(3秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 3秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(5秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 5秒播放数,\n    cast(SUM(视频播放数*CAST(REPLACE(10秒播放率, '%', '') AS DECIMAL(18, 2)))/100 AS DECIMAL(18, 0)) AS 10秒播放数,\n    sum(视频完播数) 视频完播数,\n    sum(粉丝数) 粉丝数,\n    sum(评论数) 评论数,\n    sum(点赞数) 点赞数\nFROM dwd.dwd_千川_素材m\nGROUP BY 1,2\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4208,
        2688
      ],
      "id": "af018700-758f-4a7e-aacf-951435c5ae82",
      "name": "DWS_千川_素材_汇总",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VQCcHspTZsHmK00n",
          "mode": "list",
          "cachedResultUrl": "/workflow/VQCcHspTZsHmK00n",
          "cachedResultName": "[MySQL-> Feishu]通用Sync逻辑"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "app_token": "={{ $json.app_token }}",
            "table_id": "={{ $json.table_id }}",
            "sql_schema": "={{ $json.sql_schema }}",
            "sql_data": "={{ $json.sql_data }}",
            "unique_key": "={{ $json.unique_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "app_token",
              "displayName": "app_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_schema",
              "displayName": "sql_schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_data",
              "displayName": "sql_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unique_key",
              "displayName": "unique_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6384,
        2848
      ],
      "id": "1ac539a3-0a2b-4a06-b690-bd0437ee993c",
      "name": "Call '[MySQL-> Feishu]通用Sync逻辑'2",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VQCcHspTZsHmK00n",
          "mode": "list",
          "cachedResultUrl": "/workflow/VQCcHspTZsHmK00n",
          "cachedResultName": "[MySQL-> Feishu]通用Sync逻辑"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "app_token": "={{ $json.app_token }}",
            "table_id": "={{ $json.table_id }}",
            "sql_schema": "={{ $json.sql_schema }}",
            "sql_data": "={{ $json.sql_data }}",
            "unique_key": "={{ $json.unique_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "app_token",
              "displayName": "app_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_schema",
              "displayName": "sql_schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sql_data",
              "displayName": "sql_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unique_key",
              "displayName": "unique_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6384,
        3136
      ],
      "id": "b46240f1-4ede-4013-bc38-f9106b199f23",
      "name": "Call '[MySQL-> Feishu]通用Sync逻辑'3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d07e3eb-4175-45a0-9b9c-5cb02a74a873",
              "name": "app_token",
              "value": "={{ $json.app_token }}",
              "type": "string"
            },
            {
              "id": "522b42b4-c128-4958-bd95-5e57e3945aaf",
              "name": "table_id",
              "value": "={{ $json.table_id }}",
              "type": "string"
            },
            {
              "id": "ab6e6a06-e613-41aa-a508-918412927e6e",
              "name": "sql_schema",
              "value": "SELECT\n*\nFROM dim.dim_商品维度\nLIMIT 1;",
              "type": "string"
            },
            {
              "id": "8142c453-7898-40f7-82ee-af8a6db66060",
              "name": "sql_data",
              "value": "SELECT\n*\nFROM dim.dim_商品维度;\n",
              "type": "string"
            },
            {
              "id": "0d649773-5ab1-4c98-946e-837948c90479",
              "name": "unique_key",
              "value": "商品ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6176,
        2848
      ],
      "id": "9f0be88b-c6b9-481c-a47a-0ae85fa71284",
      "name": "配置订单商品同步参数"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:parseUrl",
        "url": "https://sa812b6pcoi.feishu.cn/wiki/BSWVwkZBoijDNAkgwBFcCvlXnkh?table=tblT5SHezSbDXFUl&view=vewLpRZzpm"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        5952,
        2592
      ],
      "id": "111fd86b-1f90-4d3f-9fcf-6615e490f94e",
      "name": "Apptoken+tableId",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "87bJt3KPsvZdNN5w",
          "name": "飞书公司内部"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:parseUrl",
        "url": "https://sa812b6pcoi.feishu.cn/wiki/BSWVwkZBoijDNAkgwBFcCvlXnkh?table=tblJkGwZKPeUuTkA&view=vew64aFhj5"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        5952,
        2848
      ],
      "id": "15b96829-ea3f-4214-8abc-dbdf4978a94a",
      "name": "Apptoken+tableId1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "87bJt3KPsvZdNN5w",
          "name": "飞书公司内部"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3919554b-fde4-4876-b9fc-f1dee1048e8e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6592,
        2848
      ],
      "id": "7639739a-172f-4316-90b7-1c20ef4e4a3f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n      \"text\": `🚨 【数据同步异常告警】订单商品全量更新出错！\\n表名：${$('配置订单商品同步参数').first().json.table_id}\\n报错原因：${$json.error?.message || '未知网络/执行错误'}\\n请立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        6832,
        2864
      ],
      "id": "c40bd065-b24b-4d39-a6eb-cd6e78c77db4",
      "name": "飞书推送数据同步问题",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3919554b-fde4-4876-b9fc-f1dee1048e8e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6592,
        2592
      ],
      "id": "6253916c-e403-49f3-9270-2ff0d475e325",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n      \"text\": `🚨 【数据同步异常告警】订单商品全量更新出错！\\n表名：${$('配置订单商品同步参数').first().json.table_id}\\n报错原因：${$json.error?.message || '未知网络/执行错误'}\\n请立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        6832,
        2608
      ],
      "id": "e2f7165e-93db-4ccc-bf2c-45d70e110b12",
      "name": "飞书推送数据同步问题1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:parseUrl",
        "url": "https://sa812b6pcoi.feishu.cn/wiki/BSWVwkZBoijDNAkgwBFcCvlXnkh?table=tblT5SHezSbDXFUl&view=vewLpRZzpm"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        5952,
        3136
      ],
      "id": "7d0c8c82-b1f5-4765-9d33-ef478b5046dc",
      "name": "Apptoken+tableId2",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "87bJt3KPsvZdNN5w",
          "name": "飞书公司内部"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3919554b-fde4-4876-b9fc-f1dee1048e8e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6592,
        3136
      ],
      "id": "472ab935-87ae-49dc-bd74-4394420fd1b4",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "ou_2455da80b9dc7b829e7cdcbdbbc1878f",
        "content": "={{\n  JSON.stringify({\n      \"text\": `🚨 【数据同步异常告警】订单商品全量更新出错！\\n表名：${$('配置订单商品同步参数').first().json.table_id}\\n报错原因：${$json.error?.message || '未知网络/执行错误'}\\n请立即检查 ETL 工作流日志！`\n  })\n}}",
        "uuid": "={{ $generateUuid() }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        6832,
        3152
      ],
      "id": "af5c5b77-9a20-4849-800d-8c55168ea2f5",
      "name": "飞书推送数据同步问题2",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "CmXkGcAyroB6VTWp",
          "name": "飞书个人号"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d07e3eb-4175-45a0-9b9c-5cb02a74a873",
              "name": "app_token",
              "value": "={{ $json.app_token }}",
              "type": "string"
            },
            {
              "id": "522b42b4-c128-4958-bd95-5e57e3945aaf",
              "name": "table_id",
              "value": "={{ $json.table_id }}",
              "type": "string"
            },
            {
              "id": "ab6e6a06-e613-41aa-a508-918412927e6e",
              "name": "sql_schema",
              "value": "SELECT *,NOW() `最后更新时间` FROM dim.dim_达人维度 limit 1;",
              "type": "string"
            },
            {
              "id": "8142c453-7898-40f7-82ee-af8a6db66060",
              "name": "sql_data",
              "value": "SELECT `UID来源`, `达人UID`, `达人名称`, `最早成交时间`, `最后成交时间`    ,`总实付金额` AS `总GMV`,`支付订单数`,    CAST(COALESCE(REPLACE(REPLACE(TRIM(`总GSV`), ',', ''), '元', ''),            0         ) AS DECIMAL(10,2)    ) AS `总GSV`    , `最早投流时间`, `最后投流时间`,    `是否投流`, `账号类型`, `create_time`, `update_time`,NOW() `最后更新时间`FROM dim.dim_达人维度\n",
              "type": "string"
            },
            {
              "id": "0d649773-5ab1-4c98-946e-837948c90479",
              "name": "unique_key",
              "value": "达人UID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6176,
        3136
      ],
      "id": "c8e617ce-697b-4d6c-904f-fc82b079df01",
      "name": "配置榜单达人同步参数"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        3584
      ],
      "id": "a2e77533-46de-4f79-a56e-21fa2e4717ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd124f1a-bcad-4ab3-ba6b-12f92b09fb7c",
              "name": "appid",
              "value": "wx83c35490331b1fcc",
              "type": "string"
            },
            {
              "id": "0f002b25-a0bb-47e1-a0c6-1e7e880910cb",
              "name": "secret",
              "value": "1a6ac12ef4cce2472972266ffb6eb089",
              "type": "string"
            },
            {
              "id": "728f0df4-5e32-4354-af8e-607d729b9f0c",
              "name": "=start_date",
              "value": "={{ Math.floor(new Date(2024, 5, 1, 0, 0, 0).getTime() / 1000) }}",
              "type": "string"
            },
            {
              "id": "0cf23071-a468-4d81-be72-cc183c709413",
              "name": "=end_date",
              "value": "={{ Math.floor(new Date().getTime() / 1000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2032
      ],
      "id": "ee6ac8c9-aa10-4956-8153-00cf367ca5cb",
      "name": "微信参数配置"
    },
    {
      "parameters": {
        "content": "# 数据服务层 (DaaS - Data as a Service)\n",
        "height": 736,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        5312
      ],
      "id": "d7db4dc3-5f66-4818-add3-6a6f77fb3236",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 数据质量监控中心 (Data Quality)",
        "height": 720,
        "width": 1744
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        5392
      ],
      "id": "8785b824-8846-4b8f-9a8a-ce581089de52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        3616,
        2368
      ],
      "id": "93d1e73d-63af-428d-967b-b1461803babf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        2464
      ],
      "id": "9e1993fe-403e-4f9d-baeb-e568a3ae266f",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        704,
        3248
      ],
      "id": "55b611af-6c32-4340-ac3f-86eb57dfb7af",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "zhrkkLaLJnj8zks4",
          "name": "docker内网连接"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3664,
        3856
      ],
      "id": "7cfd4133-25dc-4c95-b7ac-9764531971ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-r1",
          "mode": "list",
          "cachedResultName": "deepseek-r1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3536,
        4064
      ],
      "id": "8475ca86-fe9f-4783-b788-9392302745a6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ak5Wm545IJx0O0if",
          "name": "Qwen3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3696,
        4064
      ],
      "id": "f1fdcc09-5796-469b-955c-ee0606d06507",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " ",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        3856,
        4064
      ],
      "id": "a1871618-abfd-4545-a908-f4a85982cebe",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "3iKBhfCr5igWvxFr",
          "name": "o d s"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66ee6f53-ae33-4506-8dc5-fa7be10a15d6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4016,
        3856
      ],
      "id": "b84bb215-62d4-42a2-a025-8d15d85d24e4",
      "name": "If3"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        4320,
        3840
      ],
      "id": "8900ceb6-12f3-4cf0-af5b-f51c7c35013d",
      "name": "Message:send message1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "87bJt3KPsvZdNN5w",
          "name": "飞书公司内部"
        }
      }
    }
  ],
  "pinData": {
    "Call '[MySQL-> Feishu]通用Sync逻辑'2": [
      {
        "json": {
          "result": "success"
        }
      }
    ],
    "Call '[MySQL-> Feishu]通用Sync逻辑'1": [
      {
        "json": {
          "result": "success"
        }
      }
    ],
    "Call '[MySQL-> Feishu]通用Sync逻辑'3": [
      {
        "json": {
          "result": "success"
        }
      }
    ]
  },
  "connections": {
    "TRUNCATE TABLE": {
      "main": [
        [
          {
            "node": "ADS_订单达人数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIM_罗盘榜单视频": {
      "main": [
        [
          {
            "node": "ADS_罗盘榜单店铺",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_直播-素材-订单_min": {
      "main": [
        [
          {
            "node": "ADS_素材消R四象限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_素材消R四象限": {
      "main": [
        [
          {
            "node": "TRUNCATE TABLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "补全微信结算时间": {
      "main": [
        [
          {
            "node": "全量更新订单数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全量更新订单数据": {
      "main": [
        [
          {
            "node": "DWS_电商订单数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全量更新素材数据_min": {
      "main": [
        [
          {
            "node": "DWS_千川素材_直播间画面+其它创意",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全量更新素材数据_H": {
      "main": [
        [
          {
            "node": "DWS_千川素材_H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全量更新千川素材-财务_H": {
      "main": [
        [
          {
            "node": "DWS_千川素材_财务分摊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "聚合千川素材分钟数据": {
      "main": [
        [
          {
            "node": "DWS_千川_素材_汇总",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全量更新直播-投放-订单": {
      "main": [
        [
          {
            "node": "ADS_直播-素材-订单_min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "确保KW级数据插入完成": {
      "main": [
        [
          {
            "node": "全量更新素材数据_H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "巨量千川参数配置": {
      "main": [
        [
          {
            "node": "刷新Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刷新Access Token": {
      "main": [
        [
          {
            "node": "配置请求参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Token是否有效": {
      "main": [
        [
          {
            "node": "配置请求参数1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "巨量千川参数配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "巨量千川token查询": {
      "main": [
        [
          {
            "node": "Access Token是否有效",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置请求参数1": {
      "main": [
        [
          {
            "node": "执行千川素材ETL脚本",
            "type": "main",
            "index": 0
          },
          {
            "node": "执行千川抖音号+财务脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查库断言-数据质量监控": {
      "main": [
        [
          {
            "node": "数据正确性验证",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行千川素材ETL脚本": {
      "main": [
        [
          {
            "node": "查库断言-数据质量监控",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据正确性验证": {
      "main": [
        [
          {
            "node": "清理内存1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "微信订单更新前统计": {
      "main": [
        [
          {
            "node": "微信参数配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[ETL-WeChat] '子工作流": {
      "main": [
        [
          {
            "node": "微信订单更新后统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "微信订单更新后统计": {
      "main": [
        [
          {
            "node": "数据是否异常",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据是否异常": {
      "main": [
        [
          {
            "node": "清理内存",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置请求参数3": {
      "main": [
        [
          {
            "node": "执行抖店ETL脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查库断言-数据质量监控1": {
      "main": [
        [
          {
            "node": "数据正确性验证1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据正确性验证1": {
      "main": [
        [
          {
            "node": "清理内存2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "巨量千川参数配置2": {
      "main": [
        [
          {
            "node": "刷新Access Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刷新Access Token2": {
      "main": [
        [
          {
            "node": "配置请求参数5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Token是否有效2": {
      "main": [
        [
          {
            "node": "配置请求参数5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "巨量千川参数配置2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置请求参数5": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查库断言-数据质量监控2": {
      "main": [
        [
          {
            "node": "数据正确性验证2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据正确性验证2": {
      "main": [
        [
          {
            "node": "清理内存3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抖店token查询": {
      "main": [
        [
          {
            "node": "配置请求参数3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "小红书token查询": {
      "main": [
        [
          {
            "node": "Access Token是否有效2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIM_元数据字典表": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置请求参数": {
      "main": [
        [
          {
            "node": "有效token写回数据库",
            "type": "main",
            "index": 0
          },
          {
            "node": "执行千川抖音号+财务脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行抖店ETL脚本": {
      "main": [
        [
          {
            "node": "查库断言-数据质量监控1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "爬虫参数配置": {
      "main": [
        [
          {
            "node": "内容榜单数据采集",
            "type": "main",
            "index": 0
          },
          {
            "node": "达人榜单数据采集",
            "type": "main",
            "index": 0
          },
          {
            "node": "店铺榜单数据采集",
            "type": "main",
            "index": 0
          },
          {
            "node": "商品榜单数据采集",
            "type": "main",
            "index": 0
          },
          {
            "node": "搜索榜单数据采集",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "店铺榜单数据采集": {
      "main": [
        [
          {
            "node": "统计采集情况",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据完整性判断": {
      "main": [
        [
          {
            "node": "内存清理1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据完整性判断1": {
      "main": [
        [
          {
            "node": "内存清理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据完整性判断2": {
      "main": [
        [
          {
            "node": "内存清理2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据完整性判断3": {
      "main": [
        [
          {
            "node": "内存清理3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据完整性判断4": {
      "main": [
        [
          {
            "node": "内存清理4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书推送数据质量问题9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "达人榜单数据采集": {
      "main": [
        [
          {
            "node": "统计采集情况1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内容榜单数据采集": {
      "main": [
        [
          {
            "node": "统计采集情况4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "商品榜单数据采集": {
      "main": [
        [
          {
            "node": "统计采集情况2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜索榜单数据采集": {
      "main": [
        [
          {
            "node": "统计采集情况3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "统计采集情况": {
      "main": [
        [
          {
            "node": "数据完整性判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "统计采集情况1": {
      "main": [
        [
          {
            "node": "数据完整性判断1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "飞书推送数据质量问题10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清理内存": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清理内存1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "清理内存2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "清理内存3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "执行千川抖音号+财务脚本": {
      "main": [
        []
      ]
    },
    "统计采集情况2": {
      "main": [
        [
          {
            "node": "数据完整性判断3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "统计采集情况3": {
      "main": [
        [
          {
            "node": "数据完整性判断4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "统计采集情况4": {
      "main": [
        [
          {
            "node": "数据完整性判断2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书推送数据质量问题5": {
      "main": [
        [
          {
            "node": "内存清理1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书推送数据质量问题6": {
      "main": [
        [
          {
            "node": "内存清理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内存清理": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书推送数据质量问题7": {
      "main": [
        [
          {
            "node": "内存清理2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书推送数据质量问题8": {
      "main": [
        [
          {
            "node": "内存清理3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书推送数据质量问题9": {
      "main": [
        [
          {
            "node": "内存清理4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内存清理1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "内存清理2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "内存清理3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "内存清理4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "补全微信结算时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "爬虫参数配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth:getAccessToken auth": {
      "main": [
        [
          {
            "node": "Apptoken+tableId1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apptoken+tableId",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apptoken+tableId2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置订单达人同步参数": {
      "main": [
        [
          {
            "node": "Call '[MySQL-> Feishu]通用Sync逻辑'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_订单达人数据": {
      "main": [
        [
          {
            "node": "ADS_订单商品数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_订单商品数据": {
      "main": [
        [
          {
            "node": "ADS_罗盘榜单达人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_罗盘榜单达人": {
      "main": [
        [
          {
            "node": "DIM_罗盘榜单视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADS_罗盘榜单店铺": {
      "main": [
        [
          {
            "node": "DIM_元数据字典表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_电商订单数据": {
      "main": [
        [
          {
            "node": "全量更新素材数据_min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_千川素材_直播间画面+其它创意": {
      "main": [
        [
          {
            "node": "DWS_千川素材_视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_千川素材_视频": {
      "main": [
        [
          {
            "node": "确保KW级数据插入完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_千川素材_H": {
      "main": [
        [
          {
            "node": "全量更新千川素材-财务_H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_千川素材_财务分摊": {
      "main": [
        [
          {
            "node": "聚合千川素材分钟数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DWS_千川_素材_汇总": {
      "main": [
        [
          {
            "node": "全量更新直播-投放-订单",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置订单商品同步参数": {
      "main": [
        [
          {
            "node": "Call '[MySQL-> Feishu]通用Sync逻辑'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apptoken+tableId": {
      "main": [
        [
          {
            "node": "配置订单达人同步参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apptoken+tableId1": {
      "main": [
        [
          {
            "node": "配置订单商品同步参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[MySQL-> Feishu]通用Sync逻辑'2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "飞书推送数据同步问题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[MySQL-> Feishu]通用Sync逻辑'1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "飞书推送数据同步问题1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apptoken+tableId2": {
      "main": [
        [
          {
            "node": "配置榜单达人同步参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[MySQL-> Feishu]通用Sync逻辑'3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "飞书推送数据同步问题2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置榜单达人同步参数": {
      "main": [
        [
          {
            "node": "Call '[MySQL-> Feishu]通用Sync逻辑'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Auth:getAccessToken auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "微信参数配置": {
      "main": [
        [
          {
            "node": "Call '[ETL-WeChat] '子工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "补全微信结算时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "巨量千川token查询",
            "type": "main",
            "index": 0
          },
          {
            "node": "微信订单更新前统计",
            "type": "main",
            "index": 0
          },
          {
            "node": "抖店token查询",
            "type": "main",
            "index": 0
          },
          {
            "node": "小红书token查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "查库断言-数据质量监控2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Message:send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有效token写回数据库": {
      "main": [
        [
          {
            "node": "执行千川素材ETL脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v0",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "03354f45-980f-400e-b917-2292df885663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b9303c6c8a2eec511b651c17635d4281c370f70a0983d8940cfac69c6d627a3"
  },
  "id": "l2GPQqiCqIBnPKZu",
  "tags": []
}